flows.json
[
    {
        "id": "1fc7b0190a9c731d",
        "type": "tab",
        "label": "QuestWalk",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "3b09bd15e699321e",
        "type": "tab",
        "label": "Programatic",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "4c8d6de6577322fb",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "9c5d86c38c3086b2",
        "type": "tab",
        "label": "API experiments",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "e0f05cf68b19d533",
        "type": "server",
        "name": "Home Assistant (MR5G)",
        "version": 5,
        "addon": false,
        "rejectUnauthorizedCerts": false,
        "ha_boolean": "y|yes|true|on|home|open",
        "connectionDelay": true,
        "cacheJson": true,
        "heartbeat": false,
        "heartbeatInterval": 30,
        "areaSelector": "friendlyName",
        "deviceSelector": "friendlyName",
        "entitySelector": "friendlyName",
        "statusSeparator": ": ",
        "statusYear": "hidden",
        "statusMonth": "short",
        "statusDay": "numeric",
        "statusHourCycle": "default",
        "statusTimeFormat": "h:m",
        "enableGlobalContextStore": false
    },
    {
        "id": "4f6e4706c65a1ceb",
        "type": "ha-device-config",
        "name": "questwalkdevice",
        "hwVersion": "",
        "manufacturer": "Node-RED",
        "model": "",
        "swVersion": ""
    },
    {
        "id": "28f999c6149902c4",
        "type": "mqtt-broker",
        "name": "mdxyz",
        "broker": "mosquitto.doesliverpool.xyz",
        "port": 1883,
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": 4,
        "keepalive": 60,
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "4a56c15046029a88",
        "type": "mqtt-broker",
        "name": "",
        "broker": "mr5g.dynamicdevices.co.uk",
        "port": 1883,
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": 4,
        "keepalive": 60,
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "2bfdfdd5.245c92",
        "type": "server",
        "name": "Home Assistant",
        "version": 5,
        "addon": true,
        "rejectUnauthorizedCerts": true,
        "ha_boolean": "y|yes|true|on|home|open",
        "connectionDelay": true,
        "cacheJson": true,
        "heartbeat": false,
        "heartbeatInterval": 30,
        "areaSelector": "friendlyName",
        "deviceSelector": "friendlyName",
        "entitySelector": "friendlyName",
        "statusSeparator": "at: ",
        "statusYear": "hidden",
        "statusMonth": "short",
        "statusDay": "numeric",
        "statusHourCycle": "h23",
        "statusTimeFormat": "h:m",
        "enableGlobalContextStore": true
    },
    {
        "id": "bfbb121d51632d6a",
        "type": "ha-entity-config",
        "server": "e0f05cf68b19d533",
        "deviceConfig": "4f6e4706c65a1ceb",
        "name": "ename",
        "version": 6,
        "entityType": "text",
        "haConfig": [
            {
                "property": "name",
                "value": "efriendname"
            },
            {
                "property": "icon",
                "value": ""
            },
            {
                "property": "entity_picture",
                "value": ""
            },
            {
                "property": "entity_category",
                "value": ""
            },
            {
                "property": "mode",
                "value": "text"
            },
            {
                "property": "min_length",
                "value": ""
            },
            {
                "property": "max_length",
                "value": ""
            },
            {
                "property": "pattern",
                "value": ""
            }
        ],
        "resend": false,
        "debugEnabled": false
    },
    {
        "id": "f683b6bedf956581",
        "type": "ha-device-config",
        "name": "questwalkdevice3",
        "hwVersion": "",
        "manufacturer": "Node-RED",
        "model": "",
        "swVersion": ""
    },
    {
        "id": "1278838c849816cb",
        "type": "ha-device-config",
        "name": "QuestWalkTrigger",
        "hwVersion": "",
        "manufacturer": "Node-RED",
        "model": "",
        "swVersion": ""
    },
    {
        "id": "26ec5cd84cdf971f",
        "type": "ha-entity-config",
        "server": "e0f05cf68b19d533",
        "deviceConfig": "1278838c849816cb",
        "name": "QuestWalkTrigger",
        "version": 6,
        "entityType": "button",
        "haConfig": [
            {
                "property": "name",
                "value": ""
            },
            {
                "property": "icon",
                "value": ""
            },
            {
                "property": "entity_picture",
                "value": ""
            },
            {
                "property": "entity_category",
                "value": ""
            },
            {
                "property": "device_class",
                "value": ""
            }
        ],
        "resend": false,
        "debugEnabled": false
    },
    {
        "id": "a0413381ff7cd93f",
        "type": "ha-entity-config",
        "server": "e0f05cf68b19d533",
        "deviceConfig": "f683b6bedf956581",
        "name": "questwalkdevice",
        "version": 6,
        "entityType": "text",
        "haConfig": [
            {
                "property": "name",
                "value": ""
            },
            {
                "property": "icon",
                "value": ""
            },
            {
                "property": "entity_picture",
                "value": ""
            },
            {
                "property": "entity_category",
                "value": ""
            },
            {
                "property": "mode",
                "value": "text"
            },
            {
                "property": "min_length",
                "value": ""
            },
            {
                "property": "max_length",
                "value": ""
            },
            {
                "property": "pattern",
                "value": ""
            }
        ],
        "resend": false,
        "debugEnabled": false
    },
    {
        "id": "eb8e2330d2479177",
        "type": "template",
        "z": "1fc7b0190a9c731d",
        "name": "start here",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "Welcome to the first station of your QuestTour\nThis will guide you around the DoESLiverpool \nhackspace.\n\n",
        "output": "str",
        "x": 80,
        "y": 100,
        "wires": [
            [
                "4fd2a70c6441c9ff"
            ]
        ],
        "icon": "node-red/comment.svg"
    },
    {
        "id": "09fa3d523675e490",
        "type": "template",
        "z": "1fc7b0190a9c731d",
        "name": "display",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "This is the display case of stuff \npeople in DoESLiverpool have built.",
        "output": "str",
        "x": 260,
        "y": 240,
        "wires": [
            [
                "d517ae3da0719d94"
            ]
        ],
        "icon": "node-red/comment.svg"
    },
    {
        "id": "9f848a9a817387d0",
        "type": "template",
        "z": "1fc7b0190a9c731d",
        "name": "heat press",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "Here is the heat press for making T-shirt designs\nThere is also a mug press.  It uses sublimation\nprinting to transfer the ink from the paper to\nthe product.\n\n\n",
        "output": "str",
        "x": 530,
        "y": 220,
        "wires": [
            [
                "c84ee1c2efc3550a"
            ]
        ],
        "icon": "node-red/comment.svg"
    },
    {
        "id": "4cd95aa1054bcd64",
        "type": "template",
        "z": "1fc7b0190a9c731d",
        "name": "coffee",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "This is the coffee pot.\nCoffee is free to the members and visitors of the hackspace.\nIf it is empty, would you like to go through the instructions to fill it?\n\nNextButtonDef: donations,no,\nNextButtonDef: make,Yes,coffee_maker\n",
        "output": "str",
        "x": 110,
        "y": 500,
        "wires": [
            [
                "5ad57becefdc770b",
                "a7d5a4f05d6917dc"
            ]
        ],
        "icon": "node-red/comment.svg"
    },
    {
        "id": "5ad57becefdc770b",
        "type": "template",
        "z": "1fc7b0190a9c731d",
        "name": "make coffee",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "make coffee\n",
        "output": "str",
        "x": 210,
        "y": 620,
        "wires": [
            [
                "03a83ed978fa2ca7"
            ]
        ],
        "icon": "node-red/comment.svg"
    },
    {
        "id": "a7d5a4f05d6917dc",
        "type": "template",
        "z": "1fc7b0190a9c731d",
        "name": "donations",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "This is the donations box\n",
        "output": "str",
        "x": 420,
        "y": 520,
        "wires": [
            [
                "4b17b99690fd021d"
            ]
        ],
        "icon": "node-red/comment.svg"
    },
    {
        "id": "4b17b99690fd021d",
        "type": "template",
        "z": "1fc7b0190a9c731d",
        "name": "end",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "You are at the end\nThank you for participating\nWe hope you enjoyed this adventure\n",
        "output": "str",
        "x": 650,
        "y": 520,
        "wires": [
            []
        ],
        "icon": "node-red/comment.svg"
    },
    {
        "id": "d517ae3da0719d94",
        "type": "template",
        "z": "1fc7b0190a9c731d",
        "name": "displayhg",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "This, for example, is a piece of machined\naluminium that is used to hold the nose wires\nof a hang-glider\n\nPress Next2 to skip to next area",
        "output": "str",
        "x": 260,
        "y": 300,
        "wires": [
            [
                "333eeaeea0cde9fa",
                "9f848a9a817387d0"
            ]
        ],
        "icon": "node-red/comment.svg"
    },
    {
        "id": "333eeaeea0cde9fa",
        "type": "template",
        "z": "1fc7b0190a9c731d",
        "name": "displayvis",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "During the pandemic DoESLiverpool produced\nvisors for local health care institutes",
        "output": "str",
        "x": 260,
        "y": 360,
        "wires": [
            [
                "9f848a9a817387d0"
            ]
        ],
        "icon": "node-red/comment.svg"
    },
    {
        "id": "c84ee1c2efc3550a",
        "type": "template",
        "z": "1fc7b0190a9c731d",
        "name": "vinyl cutter",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "If you have a 2D design, this machine can cut\nit out of vinyl that you can stick onto things\n\n\n",
        "output": "str",
        "x": 510,
        "y": 280,
        "wires": [
            [
                "305346dd7244f151"
            ]
        ],
        "icon": "node-red/comment.svg"
    },
    {
        "id": "305346dd7244f151",
        "type": "template",
        "z": "1fc7b0190a9c731d",
        "name": "3Dprinter",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "One of the many 3D printers working in the\nspace.  We charge only the cost of materials.",
        "output": "str",
        "x": 500,
        "y": 340,
        "wires": [
            [
                "bcd8091c5e630e4e"
            ]
        ],
        "icon": "node-red/comment.svg"
    },
    {
        "id": "bcd8091c5e630e4e",
        "type": "template",
        "z": "1fc7b0190a9c731d",
        "name": "metalworkshop",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "Stay out.  This place is dangerous.\nYou might suffocate from the lack of\noxygen or be shredded by the machines.",
        "output": "str",
        "x": 520,
        "y": 400,
        "wires": [
            [
                "d2732b7c26e95524"
            ]
        ],
        "icon": "node-red/comment.svg"
    },
    {
        "id": "d2732b7c26e95524",
        "type": "template",
        "z": "1fc7b0190a9c731d",
        "name": "lasercutting",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "The laser cutting is all done in this room\nbecause the machines are noisy.\nIt's boring work because you are not allowed\nto leave them unattended due to fire risk.\nIf they are in use, go in and ask the people\nwhat they are making.",
        "output": "str",
        "x": 530,
        "y": 460,
        "wires": [
            [
                "621febc928390def"
            ]
        ],
        "icon": "node-red/comment.svg"
    },
    {
        "id": "621febc928390def",
        "type": "template",
        "z": "1fc7b0190a9c731d",
        "name": "solderstation",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "We do all our soldering at this desk.\nThere probably isn't much to see here.",
        "output": "str",
        "x": 730,
        "y": 220,
        "wires": [
            [
                "8e98e6478f02be05"
            ]
        ],
        "icon": "node-red/comment.svg"
    },
    {
        "id": "8e98e6478f02be05",
        "type": "template",
        "z": "1fc7b0190a9c731d",
        "name": "sewingroom",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "Go in here for the sewing room.\nWe don't have time to give a proper\ntour of it right now.",
        "output": "str",
        "x": 750,
        "y": 300,
        "wires": [
            [
                "4cd95aa1054bcd64"
            ]
        ],
        "icon": "node-red/comment.svg"
    },
    {
        "id": "03a83ed978fa2ca7",
        "type": "template",
        "z": "1fc7b0190a9c731d",
        "name": "filters",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "the filters are in this cupboard\n",
        "output": "str",
        "x": 390,
        "y": 660,
        "wires": [
            [
                "0eb8197c646f6918"
            ]
        ],
        "icon": "node-red/comment.svg"
    },
    {
        "id": "0eb8197c646f6918",
        "type": "template",
        "z": "1fc7b0190a9c731d",
        "name": "Fill Coffee",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "Pour the coffee from the fridge",
        "output": "str",
        "x": 600,
        "y": 660,
        "wires": [
            [
                "a7d5a4f05d6917dc"
            ]
        ],
        "icon": "node-red/comment.svg"
    },
    {
        "id": "4fd2a70c6441c9ff",
        "type": "template",
        "z": "1fc7b0190a9c731d",
        "name": "introvid1",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "This is the introvid1\n\nVideoPlaceTop: vid31\n\n",
        "output": "str",
        "x": 260,
        "y": 100,
        "wires": [
            [
                "0fdcd0f750827ec7"
            ]
        ],
        "icon": "node-red/comment.svg"
    },
    {
        "id": "0fdcd0f750827ec7",
        "type": "template",
        "z": "1fc7b0190a9c731d",
        "name": "introvid2",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "This is the introvid2\n\nVideoPlaceRight: vid17\n\n",
        "output": "str",
        "x": 420,
        "y": 100,
        "wires": [
            [
                "e92819cdfb9eedd5"
            ]
        ],
        "icon": "node-red/comment.svg"
    },
    {
        "id": "2bec42d4eb789896",
        "type": "comment",
        "z": "1fc7b0190a9c731d",
        "name": "Intro Script",
        "info": "Cue: Press Button to Start \n(just out of reach) \n\n***Video: Komal Madar wearing a Quest3 headset\n\nWelcome to DoESLiverpool, a community maker and \ncoworking space at the heart of Liverpool.\n\n(Komal takes headset off and looks at camera)\n\nHi, I'm Komal Madar, and I am inviting you to \nparticipate in our new experimental tour of our \nspace using the power of Augmented Reality technology.\n\nIf you feel uncomfortable at any time, simply \nstop and take the headset off.\n\nNow please step forward to click on the next button \nand advance to the next Slide\n\n\n***Video: Voice of Komal, but cut between the different items\n\nAt DoESLiverpool you can rent desks, or pay to \nbe a workshop member and use any of our shared \nequipment including laser cutters, 3D printers, \nand sewing machines.\n\n(panning shot of busy evening)\n\nEvery Thursday night and one Saturday a month we\nhave an open event when everything is free to use.\n\n\n***Video: Voice of Komal, another panning down shot \nto show the place on the floor.\n\nBefore we begin we need to check that the room is \naligned properly.  Look down at the floor ahead of \nyou and check if the yellow rectangle is properly \nframing the masking tape on the carpet.\n\nAnswer Yes to continue, or No to call for help to get \nit straightened out.\n\n\"Does this look right?  (Yes)(No)\"\n\n\n***Video: Komal again\n\nGreat.  This tour will lead you through a series of \ncheck points one at a time.  At each place there will be \na sign to explain the location or piece of equipment \nthat is in front of you.  \n\nPlease take your time and take care not trip or bump into \nanything along the way.  Most importantly, enjoy yourself.\nI will see you near the end of the tour.\n\n------\n\n",
        "x": 720,
        "y": 60,
        "wires": []
    },
    {
        "id": "e92819cdfb9eedd5",
        "type": "template",
        "z": "1fc7b0190a9c731d",
        "name": "calibration",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "Let's make sure everything's working. \n\nPress the button on this station with your index finger to continue on with the tour.",
        "output": "str",
        "x": 610,
        "y": 100,
        "wires": [
            [
                "09fa3d523675e490"
            ]
        ],
        "icon": "node-red/comment.svg"
    },
    {
        "id": "5077c02accb21025",
        "type": "http request",
        "z": "3b09bd15e699321e",
        "name": "QuestWalk",
        "method": "GET",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "http://localhost:1880/flow/1fc7b0190a9c731d",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "basic",
        "senderr": false,
        "headers": [],
        "x": 270,
        "y": 80,
        "wires": [
            [
                "4b1b57ec218d74c5"
            ]
        ]
    },
    {
        "id": "99e9fbc883a84b7a",
        "type": "inject",
        "z": "3b09bd15e699321e",
        "name": "Start",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 110,
        "y": 80,
        "wires": [
            [
                "5077c02accb21025"
            ]
        ]
    },
    {
        "id": "4b1b57ec218d74c5",
        "type": "json",
        "z": "3b09bd15e699321e",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 430,
        "y": 80,
        "wires": [
            [
                "4579a45ab1ea254e",
                "598c3c4e2838aca8"
            ]
        ]
    },
    {
        "id": "4151ad7aa08d2963",
        "type": "function",
        "z": "3b09bd15e699321e",
        "name": "DefineStation",
        "func": "var sprefix = \"z\";\nvar idlookup = { };\nfor (var i = 0; i < msg.payload.nodes.length; i++) {\n    var station = msg.payload.nodes[i];\n    idlookup[station.id] = station.name.replace(\" \", \"_\");\n}\nfor (var i = 0; i < msg.payload.nodes.length; i++) {\n    var station = msg.payload.nodes[i];\n    var nextstations = [ ];\n    var nextstationnames = [ ];\n    for (var j = 0; j < station.wires[0].length; j++) {\n        nextstations.push(sprefix + station.wires[0][j]);\n        nextstationnames.push(idlookup[station.wires[0][j]]);\n    }\n    if (station.type == \"template\") {\n        node.send({ \"name\":station.name,\n                    \"station_id\":sprefix + station.id, \n                    \"next_stations\":nextstationnames.join(\" \"), \n                    //\"next_stations\":nextstations.join(\" \"), \n                    \"payload\":station.template,\n                    \"entity_id\":\"text.\"+station.id});\n    }\n}\nreturn null;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 420,
        "y": 1080,
        "wires": [
            [
                "63a12da53fc34b07",
                "e7f72d20af957f3e"
            ]
        ]
    },
    {
        "id": "e7f72d20af957f3e",
        "type": "delay",
        "z": "3b09bd15e699321e",
        "name": "",
        "pauseType": "delay",
        "timeout": "100",
        "timeoutUnits": "milliseconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 610,
        "y": 1080,
        "wires": [
            [
                "88269691c5c04468",
                "f9d1132654d2e48b"
            ]
        ]
    },
    {
        "id": "88269691c5c04468",
        "type": "ha-api",
        "z": "3b09bd15e699321e",
        "name": "",
        "server": "e0f05cf68b19d533",
        "version": 1,
        "debugenabled": false,
        "protocol": "websocket",
        "method": "get",
        "path": "",
        "data": "{\t   \"type\":\"nodered/discovery\",\t   \"id\":21,\t   \"component\": \"text\",\t   \"node_id\": msg.station_id,\t   \"server_id\":$globalContext(\"server_id\"),\t   \"config\": {\t       \"name\": msg.name\t   }\t}",
        "dataType": "jsonata",
        "responseType": "json",
        "outputProperties": [
            {
                "property": "payload",
                "propertyType": "msg",
                "value": "",
                "valueType": "results"
            }
        ],
        "x": 790,
        "y": 1080,
        "wires": [
            []
        ]
    },
    {
        "id": "f9d1132654d2e48b",
        "type": "delay",
        "z": "3b09bd15e699321e",
        "name": "",
        "pauseType": "delay",
        "timeout": "500",
        "timeoutUnits": "milliseconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 810,
        "y": 1140,
        "wires": [
            [
                "d691e4d82f73a144",
                "98cc1edaba6e092d"
            ]
        ]
    },
    {
        "id": "98cc1edaba6e092d",
        "type": "ha-api",
        "z": "3b09bd15e699321e",
        "name": "",
        "server": "e0f05cf68b19d533",
        "version": 1,
        "debugenabled": false,
        "protocol": "websocket",
        "method": "get",
        "path": "",
        "data": "{\t   \"type\":\"nodered/entity\",\t   \"id\":21,\t   \"node_id\": msg.station_id,\t   \"server_id\":$globalContext(\"server_id\"),\t   \"state\": msg.next_stations\t}\t",
        "dataType": "jsonata",
        "responseType": "json",
        "outputProperties": [
            {
                "property": "payload",
                "propertyType": "msg",
                "value": "",
                "valueType": "results"
            }
        ],
        "x": 970,
        "y": 1120,
        "wires": [
            []
        ]
    },
    {
        "id": "d691e4d82f73a144",
        "type": "delay",
        "z": "3b09bd15e699321e",
        "name": "",
        "pauseType": "delay",
        "timeout": "500",
        "timeoutUnits": "milliseconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 990,
        "y": 1160,
        "wires": [
            [
                "f7c4aad2644890e9"
            ]
        ]
    },
    {
        "id": "f7c4aad2644890e9",
        "type": "ha-fire-event",
        "z": "3b09bd15e699321e",
        "name": "",
        "server": "e0f05cf68b19d533",
        "version": 0,
        "event": "station_text",
        "data": "{\"text\":msg.payload, \t \"name\":msg.name, \t \"next_stations\": msg.next_stations,\t \"entityConfig\":msg.name }",
        "dataType": "jsonata",
        "x": 1170,
        "y": 1160,
        "wires": [
            []
        ]
    },
    {
        "id": "63a12da53fc34b07",
        "type": "debug",
        "z": "3b09bd15e699321e",
        "name": "debug 2",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 1040,
        "y": 1020,
        "wires": []
    },
    {
        "id": "bed601439137ba06",
        "type": "server-events",
        "z": "3b09bd15e699321e",
        "name": "",
        "server": "e0f05cf68b19d533",
        "version": 3,
        "exposeAsEntityConfig": "",
        "eventType": "station_text",
        "eventData": "",
        "waitForRunning": true,
        "outputProperties": [
            {
                "property": "payload",
                "propertyType": "msg",
                "value": "",
                "valueType": "eventData"
            },
            {
                "property": "topic",
                "propertyType": "msg",
                "value": "$outputData(\"eventData\").event_type",
                "valueType": "jsonata"
            }
        ],
        "x": 430,
        "y": 1220,
        "wires": [
            [
                "e47d6c75f547bc6a"
            ]
        ]
    },
    {
        "id": "e47d6c75f547bc6a",
        "type": "debug",
        "z": "3b09bd15e699321e",
        "name": "debug 16",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 660,
        "y": 1220,
        "wires": []
    },
    {
        "id": "c2b0d0479565f682",
        "type": "ha-api",
        "z": "3b09bd15e699321e",
        "name": "",
        "server": "e0f05cf68b19d533",
        "version": 1,
        "debugenabled": false,
        "protocol": "websocket",
        "method": "get",
        "path": "",
        "data": "{\t    \"type\":\"config/entity_registry/update\",\t    \"entity_id\":\"text.donations\",\t    \"name\":\"namegiven\",\t    \"icon\":null,\t    \"area_id\":\"devtext\",\t    \"labels\":[\"label2\", \"label3\"]\t}",
        "dataType": "jsonata",
        "responseType": "json",
        "outputProperties": [
            {
                "property": "payload",
                "propertyType": "msg",
                "value": "",
                "valueType": "results"
            }
        ],
        "x": 740,
        "y": 1380,
        "wires": [
            [
                "40932091a4e6cc4b"
            ]
        ]
    },
    {
        "id": "61c9b88e71e8550b",
        "type": "inject",
        "z": "3b09bd15e699321e",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"nodes\":[{\"id\":\"aaaaaaa\",\"type\":\"template\",\"z\":\"bbbbbbbb\",\"name\":\"thing\",\"field\":\"payload\",\"fieldType\":\"msg\",\"format\":\"handlebars\",\"syntax\":\"mustache\",\"template\":\"Welcome to the first station of your QuestTour\\nThis will guide you around the DoESLiverpool \\nhackspace.\\n\\n\",\"output\":\"str\",\"x\":100,\"y\":100,\"wires\":[[]],\"icon\":\"node-red/comment.svg\"}]}",
        "payloadType": "json",
        "x": 330,
        "y": 1020,
        "wires": [
            [
                "4151ad7aa08d2963"
            ]
        ]
    },
    {
        "id": "4dd3c945c7625c5d",
        "type": "function",
        "z": "3b09bd15e699321e",
        "name": "DefineStation",
        "func": "var sprefix = \"z\";\nvar n = msg.payload.nodes.length;\n//n = 3;\nglobal.set(\"server_id\", \"whatever\");\nvar idlookup = { };\nfor (var i = 0; i < msg.payload.nodes.length; i++) {\n    var station = msg.payload.nodes[i];\n    if (station.type == \"template\")\n        idlookup[station.id] = station.name;\n}\nfor (var i = 0; i < n; i++) {\n    var station = msg.payload.nodes[i];\n    var nextstations = [ ];\n    var nextstationnames = [ ];\n    for (var j = 0; j < station.wires[0].length; j++) {\n        var nwid = station.wires[0][j];\n        if (idlookup[nwid]) {\n            nextstations.push(sprefix + nwid);\n            nextstationnames.push(idlookup[nwid]);\n        }\n    }\n    if (station.type == \"template\") {\n        node.send({ \"name\":station.name,\n                    \"station_id\":sprefix + station.id, \n                    \"next_stations\":nextstations.join(\" \"), \n                    \"next_stationnames\":nextstationnames.join(\",\"),\n                    \"payload\":station.template,\n                    \"entity_id\":\"text.nodered_\"+sprefix+station.id});\n    }\n}\nreturn null;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 140,
        "y": 120,
        "wires": [
            [
                "4579a45ab1ea254e",
                "10e01a788c2aca1b",
                "5111d7a41727e976"
            ]
        ]
    },
    {
        "id": "10e01a788c2aca1b",
        "type": "ha-api",
        "z": "3b09bd15e699321e",
        "name": "nodered/discovery",
        "server": "e0f05cf68b19d533",
        "version": 1,
        "debugenabled": false,
        "protocol": "websocket",
        "method": "get",
        "path": "",
        "data": "{\t   \"type\":\"nodered/discovery\",\t   \"component\": \"text\",\t   \"node_id\": msg.station_id,\t   \"server_id\":$globalContext(\"server_id\")\t}",
        "dataType": "jsonata",
        "responseType": "json",
        "outputProperties": [],
        "x": 350,
        "y": 120,
        "wires": [
            []
        ]
    },
    {
        "id": "5111d7a41727e976",
        "type": "delay",
        "z": "3b09bd15e699321e",
        "name": "",
        "pauseType": "delay",
        "timeout": "100",
        "timeoutUnits": "milliseconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 370,
        "y": 160,
        "wires": [
            [
                "fa42f2cd47ab55f0",
                "e4c8643bbf3b90dc"
            ]
        ]
    },
    {
        "id": "4579a45ab1ea254e",
        "type": "debug",
        "z": "3b09bd15e699321e",
        "name": "debug 5",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 620,
        "y": 80,
        "wires": []
    },
    {
        "id": "5e2ef4eb761cca61",
        "type": "ha-api",
        "z": "3b09bd15e699321e",
        "name": "",
        "server": "e0f05cf68b19d533",
        "version": 1,
        "debugenabled": false,
        "protocol": "websocket",
        "method": "get",
        "path": "",
        "data": "{\t   \"type\":\"nodered/discovery\",\t   \"id\":21,\t   \"component\": \"text\",\t   \"node_id\": \"aaaa2\",\t   \"server_id\":$globalContext(\"server_id\"),\t   \"config\": {\t      \"state\":\"12345\",\t      \"label\":\"whatlabel\"\t   }\t}",
        "dataType": "jsonata",
        "responseType": "json",
        "outputProperties": [
            {
                "property": "payload",
                "propertyType": "msg",
                "value": "",
                "valueType": "results"
            }
        ],
        "x": 460,
        "y": 1220,
        "wires": [
            [
                "ad00d6594fc712ce"
            ]
        ]
    },
    {
        "id": "620aa2e3e3d8a328",
        "type": "inject",
        "z": "3b09bd15e699321e",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 270,
        "y": 1200,
        "wires": [
            [
                "5e2ef4eb761cca61"
            ]
        ]
    },
    {
        "id": "ad00d6594fc712ce",
        "type": "debug",
        "z": "3b09bd15e699321e",
        "name": "debug 12",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 580,
        "y": 1220,
        "wires": []
    },
    {
        "id": "427e97fd6cab2377",
        "type": "server-events",
        "z": "3b09bd15e699321e",
        "name": "",
        "server": "e0f05cf68b19d533",
        "version": 3,
        "exposeAsEntityConfig": "",
        "eventType": "",
        "eventData": "",
        "waitForRunning": true,
        "outputProperties": [
            {
                "property": "payload",
                "propertyType": "msg",
                "value": "",
                "valueType": "eventData"
            },
            {
                "property": "topic",
                "propertyType": "msg",
                "value": "$outputData(\"eventData\").event_type",
                "valueType": "jsonata"
            }
        ],
        "x": 330,
        "y": 1340,
        "wires": [
            [
                "0ca4a1ddc8809c87"
            ]
        ]
    },
    {
        "id": "0ca4a1ddc8809c87",
        "type": "debug",
        "z": "3b09bd15e699321e",
        "name": "debug 14",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 510,
        "y": 1340,
        "wires": []
    },
    {
        "id": "c11cbd2539a95b9d",
        "type": "inject",
        "z": "3b09bd15e699321e",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 410,
        "y": 1280,
        "wires": [
            [
                "29fe67556c09f88b"
            ]
        ]
    },
    {
        "id": "bf32a749764e497b",
        "type": "debug",
        "z": "3b09bd15e699321e",
        "name": "debug 15",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 790,
        "y": 1280,
        "wires": []
    },
    {
        "id": "29fe67556c09f88b",
        "type": "ha-api",
        "z": "3b09bd15e699321e",
        "name": "",
        "server": "e0f05cf68b19d533",
        "version": 1,
        "debugenabled": false,
        "protocol": "websocket",
        "method": "get",
        "path": "",
        "data": "{\t   \"type\":\"nodered/entity\",\t   \"id\":21,\t   \"node_id\": \"aaaa2\",\t   \"server_id\":$globalContext(\"server_id\"),\t   \"state\": \"jjjjj\",\t   \"labels\":[\"kkkk\"]\t}\t",
        "dataType": "jsonata",
        "responseType": "json",
        "outputProperties": [
            {
                "property": "payload",
                "propertyType": "msg",
                "value": "",
                "valueType": "results"
            }
        ],
        "x": 620,
        "y": 1280,
        "wires": [
            [
                "bf32a749764e497b"
            ]
        ]
    },
    {
        "id": "40932091a4e6cc4b",
        "type": "debug",
        "z": "3b09bd15e699321e",
        "name": "debug 17",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 890,
        "y": 1380,
        "wires": []
    },
    {
        "id": "1a3f5094dec7741a",
        "type": "inject",
        "z": "3b09bd15e699321e",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 570,
        "y": 1380,
        "wires": [
            [
                "c2b0d0479565f682"
            ]
        ]
    },
    {
        "id": "1322f2db8c3ddadb",
        "type": "ha-text",
        "z": "3b09bd15e699321e",
        "name": "ennamename",
        "version": 1,
        "debugenabled": false,
        "inputs": 1,
        "outputs": 1,
        "entityConfig": "bfbb121d51632d6a",
        "exposeAsEntityConfig": "",
        "mode": "set",
        "value": "payload",
        "valueType": "msg",
        "outputProperties": [
            {
                "property": "payload",
                "propertyType": "msg",
                "value": "",
                "valueType": "value"
            },
            {
                "property": "previousValue",
                "propertyType": "msg",
                "value": "",
                "valueType": "previousValue"
            }
        ],
        "x": 640,
        "y": 1460,
        "wires": [
            []
        ]
    },
    {
        "id": "a7a4547c4782edeb",
        "type": "inject",
        "z": "3b09bd15e699321e",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 440,
        "y": 1460,
        "wires": [
            [
                "1322f2db8c3ddadb"
            ]
        ]
    },
    {
        "id": "a187f86916557e6f",
        "type": "ha-api",
        "z": "3b09bd15e699321e",
        "name": "",
        "server": "e0f05cf68b19d533",
        "version": 1,
        "debugenabled": false,
        "protocol": "websocket",
        "method": "get",
        "path": "",
        "data": "{\t   \"type\":\"config/entity_registry/list_for_display\",\t   \"id\":21\t}",
        "dataType": "jsonata",
        "responseType": "json",
        "outputProperties": [
            {
                "property": "payload",
                "propertyType": "msg",
                "value": "",
                "valueType": "results"
            }
        ],
        "x": 560,
        "y": 1560,
        "wires": [
            [
                "3ddbe9e0c2dcbf49"
            ]
        ]
    },
    {
        "id": "01675b9603d573ea",
        "type": "inject",
        "z": "3b09bd15e699321e",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 420,
        "y": 1560,
        "wires": [
            [
                "a187f86916557e6f"
            ]
        ]
    },
    {
        "id": "3ddbe9e0c2dcbf49",
        "type": "debug",
        "z": "3b09bd15e699321e",
        "name": "debug 18",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 710,
        "y": 1560,
        "wires": []
    },
    {
        "id": "3e7709ad00989c0f",
        "type": "ha-api",
        "z": "3b09bd15e699321e",
        "name": "",
        "server": "e0f05cf68b19d533",
        "version": 1,
        "debugenabled": false,
        "protocol": "websocket",
        "method": "get",
        "path": "",
        "data": "{\t   \"type\":\"config/entity_registry/get\",\t   \"entity_id\":\"text.efriendname\",\t   \"id\":21\t}",
        "dataType": "jsonata",
        "responseType": "json",
        "outputProperties": [
            {
                "property": "payload",
                "propertyType": "msg",
                "value": "",
                "valueType": "results"
            }
        ],
        "x": 560,
        "y": 1640,
        "wires": [
            [
                "99647a084753188c"
            ]
        ]
    },
    {
        "id": "2f7f83df78c5e3ec",
        "type": "inject",
        "z": "3b09bd15e699321e",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 420,
        "y": 1640,
        "wires": [
            [
                "3e7709ad00989c0f"
            ]
        ]
    },
    {
        "id": "99647a084753188c",
        "type": "debug",
        "z": "3b09bd15e699321e",
        "name": "debug 19",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 710,
        "y": 1640,
        "wires": []
    },
    {
        "id": "cd81a384a9e144e9",
        "type": "ha-api",
        "z": "3b09bd15e699321e",
        "name": "EntityList",
        "server": "e0f05cf68b19d533",
        "version": 1,
        "debugenabled": false,
        "protocol": "websocket",
        "method": "get",
        "path": "",
        "data": "{\t   \"type\":\"config/entity_registry/list\",\t   \"id\":21\t}",
        "dataType": "jsonata",
        "responseType": "json",
        "outputProperties": [
            {
                "property": "payload",
                "propertyType": "msg",
                "value": "",
                "valueType": "results"
            }
        ],
        "x": 360,
        "y": 400,
        "wires": [
            [
                "54b5f56c852d5cf3"
            ]
        ]
    },
    {
        "id": "36f9aacd38e725cd",
        "type": "inject",
        "z": "3b09bd15e699321e",
        "name": "Clear all nodered entities",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 170,
        "y": 400,
        "wires": [
            [
                "cd81a384a9e144e9"
            ]
        ]
    },
    {
        "id": "54b5f56c852d5cf3",
        "type": "function",
        "z": "3b09bd15e699321e",
        "name": "Split",
        "func": "msg.payload.forEach(function(a) {\n    node.send(a);\n});\nreturn null;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 490,
        "y": 400,
        "wires": [
            [
                "cb21483e7188ff9d"
            ]
        ]
    },
    {
        "id": "cb21483e7188ff9d",
        "type": "switch",
        "z": "3b09bd15e699321e",
        "name": "platform=nodered",
        "property": "platform",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "nodered",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 650,
        "y": 400,
        "wires": [
            [
                "26319a576f1a1cf9"
            ]
        ]
    },
    {
        "id": "195ce6e45abd46e7",
        "type": "debug",
        "z": "3b09bd15e699321e",
        "name": "debug 22",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 840,
        "y": 440,
        "wires": []
    },
    {
        "id": "26319a576f1a1cf9",
        "type": "ha-api",
        "z": "3b09bd15e699321e",
        "name": "Remove",
        "server": "e0f05cf68b19d533",
        "version": 1,
        "debugenabled": false,
        "protocol": "websocket",
        "method": "get",
        "path": "",
        "data": "{\t    \"type\":\"config/entity_registry/remove\",\t    \"entity_id\":msg.entity_id\t}",
        "dataType": "jsonata",
        "responseType": "json",
        "outputProperties": [
            {
                "property": "payload",
                "propertyType": "msg",
                "value": "",
                "valueType": "results"
            }
        ],
        "x": 840,
        "y": 400,
        "wires": [
            []
        ]
    },
    {
        "id": "0216d3225a27b0bb",
        "type": "ha-api",
        "z": "3b09bd15e699321e",
        "name": "EntityList",
        "server": "e0f05cf68b19d533",
        "version": 1,
        "debugenabled": false,
        "protocol": "websocket",
        "method": "get",
        "path": "",
        "data": "{\t   \"type\":\"config/entity_registry/list\",\t   \"id\":21\t}",
        "dataType": "jsonata",
        "responseType": "json",
        "outputProperties": [
            {
                "property": "payload",
                "propertyType": "msg",
                "value": "",
                "valueType": "results"
            }
        ],
        "x": 360,
        "y": 440,
        "wires": [
            [
                "42c6dc93463101cf"
            ]
        ]
    },
    {
        "id": "59e2a4cdc28c7ea9",
        "type": "inject",
        "z": "3b09bd15e699321e",
        "name": "List all nodered entities",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 160,
        "y": 440,
        "wires": [
            [
                "0216d3225a27b0bb"
            ]
        ]
    },
    {
        "id": "42c6dc93463101cf",
        "type": "function",
        "z": "3b09bd15e699321e",
        "name": "Split",
        "func": "msg.payload.forEach(function(a) {\n    node.send(a);\n});\nreturn null;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 490,
        "y": 440,
        "wires": [
            [
                "187c3c618ed2225f"
            ]
        ]
    },
    {
        "id": "187c3c618ed2225f",
        "type": "switch",
        "z": "3b09bd15e699321e",
        "name": "platform=nodered",
        "property": "platform",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "nodered",
                "vt": "str"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 650,
        "y": 440,
        "wires": [
            [
                "195ce6e45abd46e7"
            ],
            [
                "9ca51bcaf1a6bf3d"
            ]
        ]
    },
    {
        "id": "9ca51bcaf1a6bf3d",
        "type": "debug",
        "z": "3b09bd15e699321e",
        "name": "debug 25",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 860,
        "y": 480,
        "wires": []
    },
    {
        "id": "336da396a88ae7c7",
        "type": "function",
        "z": "3b09bd15e699321e",
        "name": "DefineStation Old",
        "func": "var sprefix = \"z\";\nvar idlookup = { };\nfor (var i = 0; i < msg.payload.nodes.length; i++) {\n    var station = msg.payload.nodes[i];\n    idlookup[station.id] = station.name.replace(\" \", \"_\");\n}\nfor (var i = 0; i < msg.payload.nodes.length; i++) {\n    var station = msg.payload.nodes[i];\n    var nextstations = [ ];\n    var nextstationnames = [ ];\n    for (var j = 0; j < station.wires[0].length; j++) {\n        nextstations.push(sprefix + station.wires[0][j]);\n        nextstationnames.push(idlookup[station.wires[0][j]]);\n    }\n    if (station.type == \"template\") {\n        node.send({ \"name\":station.name,\n                    \"station_id\":sprefix + station.id, \n                    \"next_stations\":nextstationnames.join(\" \"), \n                    //\"next_stations\":nextstations.join(\" \"), \n                    \"payload\":station.template,\n                    \"entity_id\":\"text.\"+station.id});\n    }\n}\nreturn null;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 150,
        "y": 1040,
        "wires": [
            []
        ]
    },
    {
        "id": "fa42f2cd47ab55f0",
        "type": "ha-api",
        "z": "3b09bd15e699321e",
        "name": "set-namearea",
        "server": "e0f05cf68b19d533",
        "version": 1,
        "debugenabled": false,
        "protocol": "websocket",
        "method": "get",
        "path": "",
        "data": "{\t   \"type\":\"config/entity_registry/update\",\t   \"entity_id\":msg.entity_id,\t   \"area_id\":\"questwalkarea\",\t   \"name\":msg.name\t}",
        "dataType": "jsonata",
        "responseType": "json",
        "outputProperties": [
            {
                "property": "payload",
                "propertyType": "msg",
                "value": "",
                "valueType": "results"
            }
        ],
        "x": 560,
        "y": 160,
        "wires": [
            []
        ]
    },
    {
        "id": "124f0cb51ddc8331",
        "type": "ha-api",
        "z": "3b09bd15e699321e",
        "name": "entity-update",
        "server": "e0f05cf68b19d533",
        "version": 1,
        "debugenabled": false,
        "protocol": "websocket",
        "method": "get",
        "path": "",
        "data": "{\t   \"type\":\"nodered/entity\",\t   \"node_id\":msg.station_id,\t   \"server_id\":$globalContext(\"server_id\"),\t   \"state\":msg.next_stationnames\t}",
        "dataType": "jsonata",
        "responseType": "json",
        "outputProperties": [
            {
                "property": "payload",
                "propertyType": "msg",
                "value": "",
                "valueType": "results"
            }
        ],
        "x": 570,
        "y": 200,
        "wires": [
            [
                "6b4ada8c5bbb0c31"
            ]
        ]
    },
    {
        "id": "e4c8643bbf3b90dc",
        "type": "delay",
        "z": "3b09bd15e699321e",
        "name": "",
        "pauseType": "delay",
        "timeout": "100",
        "timeoutUnits": "milliseconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 390,
        "y": 200,
        "wires": [
            [
                "124f0cb51ddc8331",
                "7de0add079a0fce6"
            ]
        ]
    },
    {
        "id": "6b4ada8c5bbb0c31",
        "type": "debug",
        "z": "3b09bd15e699321e",
        "name": "debug 38",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 740,
        "y": 200,
        "wires": []
    },
    {
        "id": "8e8110c0dc08907a",
        "type": "ha-fire-event",
        "z": "3b09bd15e699321e",
        "name": "station_text event",
        "server": "e0f05cf68b19d533",
        "version": 0,
        "event": "station_text",
        "data": "{\"text\":msg.payload, \t \"entity_id\":msg.entity_id,\t \"station_id\":msg.station_id,\t \"name\":msg.name,\t \"next_stations\": msg.next_stations\t}",
        "dataType": "jsonata",
        "x": 650,
        "y": 240,
        "wires": [
            []
        ]
    },
    {
        "id": "7de0add079a0fce6",
        "type": "delay",
        "z": "3b09bd15e699321e",
        "name": "",
        "pauseType": "delay",
        "timeout": "500",
        "timeoutUnits": "milliseconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 410,
        "y": 240,
        "wires": [
            [
                "8e8110c0dc08907a"
            ]
        ]
    },
    {
        "id": "aca62391a56155fe",
        "type": "ha-api",
        "z": "3b09bd15e699321e",
        "name": "DeleteArea",
        "server": "e0f05cf68b19d533",
        "version": 1,
        "debugenabled": false,
        "protocol": "websocket",
        "method": "get",
        "path": "",
        "data": "{\t    \"type\":\"config/area_registry/delete\",\t    \"area_id\":msg.payload\t}",
        "dataType": "jsonata",
        "responseType": "json",
        "outputProperties": [
            {
                "property": "payload",
                "propertyType": "msg",
                "value": "",
                "valueType": "results"
            }
        ],
        "x": 310,
        "y": 620,
        "wires": [
            [
                "753232f3808cc3f6"
            ]
        ]
    },
    {
        "id": "eea4e32fcee13ae9",
        "type": "ha-api",
        "z": "3b09bd15e699321e",
        "name": "CreateArea",
        "server": "e0f05cf68b19d533",
        "version": 1,
        "debugenabled": false,
        "protocol": "websocket",
        "method": "get",
        "path": "",
        "data": "{\t    \"type\":\"config/area_registry/create\",\t    \"name\":msg.payload\t}",
        "dataType": "jsonata",
        "responseType": "json",
        "outputProperties": [
            {
                "property": "payload",
                "propertyType": "msg",
                "value": "",
                "valueType": "results"
            }
        ],
        "x": 310,
        "y": 660,
        "wires": [
            [
                "753232f3808cc3f6"
            ]
        ]
    },
    {
        "id": "c61906cf903eda43",
        "type": "inject",
        "z": "3b09bd15e699321e",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "questwalkarea",
        "payloadType": "str",
        "x": 130,
        "y": 620,
        "wires": [
            [
                "aca62391a56155fe"
            ]
        ]
    },
    {
        "id": "e4d9750c06320698",
        "type": "inject",
        "z": "3b09bd15e699321e",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "questwalkarea",
        "payloadType": "str",
        "x": 130,
        "y": 660,
        "wires": [
            [
                "eea4e32fcee13ae9"
            ]
        ]
    },
    {
        "id": "753232f3808cc3f6",
        "type": "debug",
        "z": "3b09bd15e699321e",
        "name": "debug 24",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 520,
        "y": 620,
        "wires": []
    },
    {
        "id": "abb84b27791d34b4",
        "type": "ha-button",
        "z": "3b09bd15e699321e",
        "name": "QuestWalkTrigger",
        "version": 0,
        "debugenabled": false,
        "outputs": 1,
        "entityConfig": "26ec5cd84cdf971f",
        "outputProperties": [
            {
                "property": "payload",
                "propertyType": "msg",
                "value": "",
                "valueType": "entityState"
            },
            {
                "property": "topic",
                "propertyType": "msg",
                "value": "",
                "valueType": "triggerId"
            },
            {
                "property": "data",
                "propertyType": "msg",
                "value": "",
                "valueType": "entity"
            }
        ],
        "x": 110,
        "y": 40,
        "wires": [
            [
                "267747e5f4cb5969",
                "5077c02accb21025"
            ]
        ]
    },
    {
        "id": "267747e5f4cb5969",
        "type": "debug",
        "z": "3b09bd15e699321e",
        "name": "debug 13",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 480,
        "y": 40,
        "wires": []
    },
    {
        "id": "598c3c4e2838aca8",
        "type": "function",
        "z": "3b09bd15e699321e",
        "name": "DefineStation2",
        "func": "var sprefix = \"z\";\nvar n = msg.payload.nodes.length;\n//n = 3;\nglobal.set(\"server_id\", \"whatever\");\nvar idlookup = { };\nfor (var i = 0; i < msg.payload.nodes.length; i++) {\n    var station = msg.payload.nodes[i];\n    if (station.type == \"template\")\n        idlookup[station.id] = station.name;\n}\nfor (var i = 10; i < n; i++) {\n    var station = msg.payload.nodes[i];\n    var nextstations = [ ];\n    var nextstationnames = [ ];\n    node.send(station);\n    continue;\n    for (var j = 0; j < station.wires[0].length; j++) {\n        var nwid = station.wires[0][j];\n    }\n}\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 740,
        "y": 120,
        "wires": [
            [
                "4b82b5c1c62a03b9"
            ]
        ]
    },
    {
        "id": "4b82b5c1c62a03b9",
        "type": "debug",
        "z": "3b09bd15e699321e",
        "name": "debug 39",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 880,
        "y": 160,
        "wires": []
    },
    {
        "id": "f3f3fafed626ed19",
        "type": "mqtt out",
        "z": "4c8d6de6577322fb",
        "name": "",
        "topic": "doesliverpool/coffeemessage",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "28f999c6149902c4",
        "x": 740,
        "y": 1120,
        "wires": []
    },
    {
        "id": "8b475f325107ceb4",
        "type": "inject",
        "z": "4c8d6de6577322fb",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "YepYep",
        "payloadType": "str",
        "x": 90,
        "y": 1160,
        "wires": [
            [
                "48b46f40e4ff3876"
            ]
        ]
    },
    {
        "id": "48b46f40e4ff3876",
        "type": "function",
        "z": "4c8d6de6577322fb",
        "name": "append count",
        "func": "var c = flow.get(\"msgcount\")|0;\nmsg.payload = msg.payload + String(c);\nflow.set(\"msgcount\", c + 1);\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 460,
        "y": 1180,
        "wires": [
            [
                "f3f3fafed626ed19"
            ]
        ]
    },
    {
        "id": "ca30d4dd0d957dde",
        "type": "ha-button",
        "z": "4c8d6de6577322fb",
        "name": "AlexButtonName",
        "version": 0,
        "debugenabled": false,
        "outputs": 1,
        "entityConfig": "26ec5cd84cdf971f",
        "outputProperties": [
            {
                "property": "payload",
                "propertyType": "msg",
                "value": "",
                "valueType": "entityState"
            },
            {
                "property": "topic",
                "propertyType": "msg",
                "value": "",
                "valueType": "triggerId"
            },
            {
                "property": "data",
                "propertyType": "msg",
                "value": "",
                "valueType": "entity"
            }
        ],
        "x": 160,
        "y": 1360,
        "wires": [
            [
                "64c4ed4efb6dd61d"
            ]
        ]
    },
    {
        "id": "373b59702f4f13a7",
        "type": "debug",
        "z": "4c8d6de6577322fb",
        "name": "debug 3",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 620,
        "y": 1200,
        "wires": []
    },
    {
        "id": "64c4ed4efb6dd61d",
        "type": "change",
        "z": "4c8d6de6577322fb",
        "name": "AlexButtonPressed",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "AlexButtonPressed",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 250,
        "y": 1280,
        "wires": [
            [
                "373b59702f4f13a7",
                "48b46f40e4ff3876"
            ]
        ]
    },
    {
        "id": "015cec314d84f62b",
        "type": "ha-text",
        "z": "4c8d6de6577322fb",
        "name": "texttestt",
        "version": 1,
        "debugenabled": false,
        "inputs": 1,
        "outputs": 1,
        "entityConfig": "a0413381ff7cd93f",
        "exposeAsEntityConfig": "",
        "mode": "set",
        "value": "payload",
        "valueType": "msg",
        "outputProperties": [
            {
                "property": "payload",
                "propertyType": "msg",
                "value": "",
                "valueType": "value"
            },
            {
                "property": "previousValue",
                "propertyType": "msg",
                "value": "",
                "valueType": "previousValue"
            }
        ],
        "x": 590,
        "y": 1280,
        "wires": [
            [
                "c529e9e965507cb4"
            ]
        ]
    },
    {
        "id": "c529e9e965507cb4",
        "type": "debug",
        "z": "4c8d6de6577322fb",
        "name": "debug 7",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 770,
        "y": 1260,
        "wires": []
    },
    {
        "id": "eaee9700f5216543",
        "type": "inject",
        "z": "4c8d6de6577322fb",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 90,
        "y": 1180,
        "wires": [
            [
                "495a6d57ecb867f8"
            ]
        ]
    },
    {
        "id": "495a6d57ecb867f8",
        "type": "template",
        "z": "4c8d6de6577322fb",
        "name": "",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "This is the payload: {{payload}} !\n\nHere is a a few more lines of text\nand so it goes",
        "output": "str",
        "x": 260,
        "y": 1220,
        "wires": [
            [
                "b12ffd84a9ed4032",
                "015cec314d84f62b"
            ]
        ]
    },
    {
        "id": "b12ffd84a9ed4032",
        "type": "debug",
        "z": "4c8d6de6577322fb",
        "name": "debug 8",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 500,
        "y": 1140,
        "wires": []
    },
    {
        "id": "da5b2202abb78551",
        "type": "change",
        "z": "4c8d6de6577322fb",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 200,
        "y": 1080,
        "wires": [
            []
        ]
    },
    {
        "id": "e5fd23dd2b866eb2",
        "type": "ha-api",
        "z": "4c8d6de6577322fb",
        "name": "",
        "server": "e0f05cf68b19d533",
        "version": 1,
        "debugenabled": false,
        "protocol": "websocket",
        "method": "get",
        "path": "",
        "data": "{\t   \"type\":\"nodered/discovery\",\t   \"id\":21,\t   \"component\": \"text\",\t   \"node_id\": msg.name,\t   \"server_id\":$globalContext(\"server_id\"),\t   \"config\": {\t       \"name\": msg.name\t   }\t}",
        "dataType": "jsonata",
        "responseType": "json",
        "outputProperties": [
            {
                "property": "payload",
                "propertyType": "msg",
                "value": "",
                "valueType": "results"
            }
        ],
        "x": 470,
        "y": 360,
        "wires": [
            [
                "5ef8cab97ae23409"
            ]
        ]
    },
    {
        "id": "69dbdbb6b5c021e6",
        "type": "inject",
        "z": "4c8d6de6577322fb",
        "name": "",
        "props": [
            {
                "p": "name",
                "v": "yourthing",
                "vt": "str"
            },
            {
                "p": "state",
                "v": "abc",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 110,
        "y": 340,
        "wires": [
            [
                "5387a835de2d1089"
            ]
        ]
    },
    {
        "id": "5ef8cab97ae23409",
        "type": "debug",
        "z": "4c8d6de6577322fb",
        "name": "debug 9",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 620,
        "y": 360,
        "wires": []
    },
    {
        "id": "b141d7dbcc7fe4b9",
        "type": "ha-api",
        "z": "4c8d6de6577322fb",
        "name": "",
        "server": "e0f05cf68b19d533",
        "version": 1,
        "debugenabled": false,
        "protocol": "websocket",
        "method": "get",
        "path": "",
        "data": "{\t  \"id\": 19,\t  \"type\": \"get_config\"\t}",
        "dataType": "jsonata",
        "responseType": "json",
        "outputProperties": [
            {
                "property": "payload",
                "propertyType": "msg",
                "value": "",
                "valueType": "results"
            }
        ],
        "x": 980,
        "y": 1200,
        "wires": [
            [
                "560f10e926f43592"
            ]
        ]
    },
    {
        "id": "4121ca3ec5ac8250",
        "type": "inject",
        "z": "4c8d6de6577322fb",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 840,
        "y": 1200,
        "wires": [
            [
                "b141d7dbcc7fe4b9"
            ]
        ]
    },
    {
        "id": "560f10e926f43592",
        "type": "debug",
        "z": "4c8d6de6577322fb",
        "name": "debug 10",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1150,
        "y": 1200,
        "wires": []
    },
    {
        "id": "4fabddfd2a5ed381",
        "type": "ha-api",
        "z": "4c8d6de6577322fb",
        "name": "",
        "server": "e0f05cf68b19d533",
        "version": 1,
        "debugenabled": false,
        "protocol": "websocket",
        "method": "get",
        "path": "",
        "data": "{\t   \"type\":\"nodered/entity\",\t   \"id\":21,\t   \"node_id\": msg.name,\t   \"server_id\":$globalContext(\"server_id\"),\t   \"state\": msg.state\t}\t",
        "dataType": "jsonata",
        "responseType": "json",
        "outputProperties": [
            {
                "property": "payload",
                "propertyType": "msg",
                "value": "",
                "valueType": "results"
            }
        ],
        "x": 530,
        "y": 400,
        "wires": [
            [
                "4b5ef42cb984ee1f"
            ]
        ]
    },
    {
        "id": "4b5ef42cb984ee1f",
        "type": "debug",
        "z": "4c8d6de6577322fb",
        "name": "debug 11",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 680,
        "y": 400,
        "wires": []
    },
    {
        "id": "977291ab5f4140bd",
        "type": "change",
        "z": "4c8d6de6577322fb",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "server_id",
                "pt": "global",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 290,
        "y": 280,
        "wires": [
            []
        ]
    },
    {
        "id": "ab74e40d12569d55",
        "type": "inject",
        "z": "4c8d6de6577322fb",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "whatever",
        "payloadType": "str",
        "x": 100,
        "y": 280,
        "wires": [
            [
                "977291ab5f4140bd"
            ]
        ]
    },
    {
        "id": "b29da85209585bac",
        "type": "delay",
        "z": "4c8d6de6577322fb",
        "name": "",
        "pauseType": "delay",
        "timeout": "500",
        "timeoutUnits": "milliseconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 330,
        "y": 400,
        "wires": [
            [
                "4fabddfd2a5ed381",
                "f5744a9b8f92af7c"
            ]
        ]
    },
    {
        "id": "c401c67fd7944867",
        "type": "ha-fire-event",
        "z": "4c8d6de6577322fb",
        "name": "",
        "server": "e0f05cf68b19d533",
        "version": 0,
        "event": "station_text",
        "data": "{\"text\":msg.payload, \"name\":msg.name, \"entityConfig\":msg.name }",
        "dataType": "jsonata",
        "x": 730,
        "y": 440,
        "wires": [
            [
                "0cf97ed270a5e35d"
            ]
        ]
    },
    {
        "id": "5387a835de2d1089",
        "type": "template",
        "z": "4c8d6de6577322fb",
        "name": "S1",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "Welcome to the first station of your QuestTour\nThis will guide you around the DoESLiverpool \nhackspace.\n\n",
        "output": "str",
        "x": 130,
        "y": 380,
        "wires": [
            [
                "b29da85209585bac",
                "e5fd23dd2b866eb2"
            ]
        ]
    },
    {
        "id": "f5744a9b8f92af7c",
        "type": "delay",
        "z": "4c8d6de6577322fb",
        "name": "",
        "pauseType": "delay",
        "timeout": "500",
        "timeoutUnits": "milliseconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 550,
        "y": 440,
        "wires": [
            [
                "c401c67fd7944867"
            ]
        ]
    },
    {
        "id": "0cf97ed270a5e35d",
        "type": "debug",
        "z": "4c8d6de6577322fb",
        "name": "debug 6",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 900,
        "y": 440,
        "wires": []
    },
    {
        "id": "f529f2ee40816b2b",
        "type": "change",
        "z": "4c8d6de6577322fb",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "name",
                "pt": "msg",
                "to": "S1",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 220,
        "y": 700,
        "wires": [
            [
                "41d0fca1cd675a00"
            ]
        ]
    },
    {
        "id": "41d0fca1cd675a00",
        "type": "change",
        "z": "4c8d6de6577322fb",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 500,
        "y": 700,
        "wires": [
            []
        ]
    },
    {
        "id": "cb6269f3d0909f43",
        "type": "function",
        "z": "4c8d6de6577322fb",
        "name": "function 1",
        "func": "\nmsg.payload = flow.keys();\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 380,
        "y": 500,
        "wires": [
            [
                "952b3aa724846f6b"
            ]
        ]
    },
    {
        "id": "952b3aa724846f6b",
        "type": "debug",
        "z": "4c8d6de6577322fb",
        "name": "debug 4",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 560,
        "y": 500,
        "wires": []
    },
    {
        "id": "5b14169c841ac7fa",
        "type": "inject",
        "z": "4c8d6de6577322fb",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 170,
        "y": 500,
        "wires": [
            [
                "cb6269f3d0909f43"
            ]
        ]
    },
    {
        "id": "7156f3b5a3e57b15",
        "type": "ha-api",
        "z": "9c5d86c38c3086b2",
        "name": "",
        "server": "e0f05cf68b19d533",
        "version": 1,
        "debugenabled": false,
        "protocol": "websocket",
        "method": "get",
        "path": "",
        "data": "{\t    \"type\":\"config/entity_registry/update\",\t    \"entity_id\":\"text.donations\",\t    \"name\":\"namegiven\",\t    \"icon\":null,\t    \"area_id\":\"devtext\",\t    \"labels\":[\"label2\", \"label3\"]\t}",
        "dataType": "jsonata",
        "responseType": "json",
        "outputProperties": [
            {
                "property": "payload",
                "propertyType": "msg",
                "value": "",
                "valueType": "results"
            }
        ],
        "x": 670,
        "y": 780,
        "wires": [
            [
                "d5b93d0825573c8d"
            ]
        ]
    },
    {
        "id": "9073f7309ce9cc2d",
        "type": "ha-api",
        "z": "9c5d86c38c3086b2",
        "name": "nodered/discovery",
        "server": "e0f05cf68b19d533",
        "version": 1,
        "debugenabled": false,
        "protocol": "websocket",
        "method": "get",
        "path": "",
        "data": "{\t   \"type\":\"nodered/discovery\",\t   \"id\":21,\t   \"component\": \"text\",\t   \"node_id\": \"aaaa2\",\t   \"server_id\":$globalContext(\"server_id\"),\t   \"config\": {\t      \"state\":\"12345\",\t      \"label\":\"whatlabel\"\t   }\t}",
        "dataType": "jsonata",
        "responseType": "json",
        "outputProperties": [
            {
                "property": "payload",
                "propertyType": "msg",
                "value": "",
                "valueType": "results"
            }
        ],
        "x": 510,
        "y": 640,
        "wires": [
            [
                "f7fe3d2e1658c333"
            ]
        ]
    },
    {
        "id": "dd72c9f626d08eee",
        "type": "inject",
        "z": "9c5d86c38c3086b2",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 280,
        "y": 640,
        "wires": [
            [
                "9073f7309ce9cc2d"
            ]
        ]
    },
    {
        "id": "f7fe3d2e1658c333",
        "type": "debug",
        "z": "9c5d86c38c3086b2",
        "name": "debug 20",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 700,
        "y": 640,
        "wires": []
    },
    {
        "id": "3f3e509522b8726c",
        "type": "server-events",
        "z": "9c5d86c38c3086b2",
        "name": "",
        "server": "e0f05cf68b19d533",
        "version": 3,
        "exposeAsEntityConfig": "",
        "eventType": "",
        "eventData": "",
        "waitForRunning": true,
        "outputProperties": [
            {
                "property": "payload",
                "propertyType": "msg",
                "value": "",
                "valueType": "eventData"
            },
            {
                "property": "topic",
                "propertyType": "msg",
                "value": "$outputData(\"eventData\").event_type",
                "valueType": "jsonata"
            }
        ],
        "x": 260,
        "y": 740,
        "wires": [
            [
                "979e674fca07e3d1"
            ]
        ]
    },
    {
        "id": "979e674fca07e3d1",
        "type": "debug",
        "z": "9c5d86c38c3086b2",
        "name": "debug 21",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 440,
        "y": 740,
        "wires": []
    },
    {
        "id": "c92afd39cda7c35d",
        "type": "inject",
        "z": "9c5d86c38c3086b2",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 340,
        "y": 680,
        "wires": [
            [
                "028e8c99a3397225"
            ]
        ]
    },
    {
        "id": "2ca395aa479bf0f3",
        "type": "debug",
        "z": "9c5d86c38c3086b2",
        "name": "debug 22",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 720,
        "y": 680,
        "wires": []
    },
    {
        "id": "028e8c99a3397225",
        "type": "ha-api",
        "z": "9c5d86c38c3086b2",
        "name": "",
        "server": "e0f05cf68b19d533",
        "version": 1,
        "debugenabled": false,
        "protocol": "websocket",
        "method": "get",
        "path": "",
        "data": "{\t   \"type\":\"nodered/entity\",\t   \"id\":21,\t   \"node_id\": \"aaaa2\",\t   \"server_id\":$globalContext(\"server_id\"),\t   \"state\": \"jjjjj\",\t   \"labels\":[\"kkkk\"]\t}\t",
        "dataType": "jsonata",
        "responseType": "json",
        "outputProperties": [
            {
                "property": "payload",
                "propertyType": "msg",
                "value": "",
                "valueType": "results"
            }
        ],
        "x": 550,
        "y": 680,
        "wires": [
            [
                "2ca395aa479bf0f3"
            ]
        ]
    },
    {
        "id": "d5b93d0825573c8d",
        "type": "debug",
        "z": "9c5d86c38c3086b2",
        "name": "debug 23",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 820,
        "y": 780,
        "wires": []
    },
    {
        "id": "471ba9db08fd43e0",
        "type": "inject",
        "z": "9c5d86c38c3086b2",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 500,
        "y": 780,
        "wires": [
            [
                "7156f3b5a3e57b15"
            ]
        ]
    },
    {
        "id": "2a01b28a48615b59",
        "type": "ha-api",
        "z": "9c5d86c38c3086b2",
        "name": "",
        "server": "e0f05cf68b19d533",
        "version": 1,
        "debugenabled": false,
        "protocol": "websocket",
        "method": "get",
        "path": "",
        "data": "{\t    \"type\":\"config/label_registry/create\",\t    \"name\":\"questwalk1\"\t}",
        "dataType": "jsonata",
        "responseType": "json",
        "outputProperties": [
            {
                "property": "payload",
                "propertyType": "msg",
                "value": "",
                "valueType": "results"
            }
        ],
        "x": 530,
        "y": 820,
        "wires": [
            [
                "70fb9b8593da2766"
            ]
        ]
    },
    {
        "id": "70fb9b8593da2766",
        "type": "debug",
        "z": "9c5d86c38c3086b2",
        "name": "debug 26",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 680,
        "y": 820,
        "wires": []
    },
    {
        "id": "419fb8d170d5979e",
        "type": "inject",
        "z": "9c5d86c38c3086b2",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 360,
        "y": 820,
        "wires": [
            [
                "2a01b28a48615b59"
            ]
        ]
    },
    {
        "id": "1c1e544283472878",
        "type": "ha-api",
        "z": "9c5d86c38c3086b2",
        "name": "",
        "server": "e0f05cf68b19d533",
        "version": 1,
        "debugenabled": false,
        "protocol": "websocket",
        "method": "get",
        "path": "",
        "data": "{\t    \"type\":\"config/device_registry/list\"\t}",
        "dataType": "jsonata",
        "responseType": "json",
        "outputProperties": [
            {
                "property": "payload",
                "propertyType": "msg",
                "value": "",
                "valueType": "results"
            }
        ],
        "x": 390,
        "y": 880,
        "wires": [
            [
                "49068b015bf1eeb5"
            ]
        ]
    },
    {
        "id": "0cc9da7fd9d558b1",
        "type": "debug",
        "z": "9c5d86c38c3086b2",
        "name": "debug 27",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 880,
        "y": 880,
        "wires": []
    },
    {
        "id": "a11bf49326c09724",
        "type": "inject",
        "z": "9c5d86c38c3086b2",
        "name": "List Devices",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 230,
        "y": 880,
        "wires": [
            [
                "1c1e544283472878"
            ]
        ]
    },
    {
        "id": "9df1b917c7bed606",
        "type": "ha-api",
        "z": "9c5d86c38c3086b2",
        "name": "",
        "server": "e0f05cf68b19d533",
        "version": 1,
        "debugenabled": false,
        "protocol": "websocket",
        "method": "get",
        "path": "",
        "data": "{\t    \"type\":\"config/label_registry/create\",\t    \"name\":\"questwalk1\"\t}",
        "dataType": "jsonata",
        "responseType": "json",
        "outputProperties": [
            {
                "property": "payload",
                "propertyType": "msg",
                "value": "",
                "valueType": "results"
            }
        ],
        "x": 370,
        "y": 960,
        "wires": [
            [
                "33f29e35d09c978f"
            ]
        ]
    },
    {
        "id": "33f29e35d09c978f",
        "type": "debug",
        "z": "9c5d86c38c3086b2",
        "name": "debug 28",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 520,
        "y": 960,
        "wires": []
    },
    {
        "id": "a8ad33ef8569579d",
        "type": "inject",
        "z": "9c5d86c38c3086b2",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 200,
        "y": 960,
        "wires": [
            [
                "9df1b917c7bed606"
            ]
        ]
    },
    {
        "id": "49068b015bf1eeb5",
        "type": "function",
        "z": "9c5d86c38c3086b2",
        "name": "Split",
        "func": "msg.payload.forEach(function(a) { node.send(a); });",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 510,
        "y": 880,
        "wires": [
            [
                "a19129c48dcfe767"
            ]
        ]
    },
    {
        "id": "a19129c48dcfe767",
        "type": "switch",
        "z": "9c5d86c38c3086b2",
        "name": "name=Quest",
        "property": "name",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "Quest",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 670,
        "y": 880,
        "wires": [
            [
                "0cc9da7fd9d558b1"
            ]
        ]
    },
    {
        "id": "637b76cf21f2a4d2",
        "type": "debug",
        "z": "9c5d86c38c3086b2",
        "name": "debug 29",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 1240,
        "y": 460,
        "wires": []
    },
    {
        "id": "967c6ab966a11d91",
        "type": "ha-api",
        "z": "9c5d86c38c3086b2",
        "name": "EntityList",
        "server": "e0f05cf68b19d533",
        "version": 1,
        "debugenabled": false,
        "protocol": "websocket",
        "method": "get",
        "path": "",
        "data": "{\t   \"type\":\"config/entity_registry/list\",\t   \"id\":21\t}",
        "dataType": "jsonata",
        "responseType": "json",
        "outputProperties": [
            {
                "property": "payload",
                "propertyType": "msg",
                "value": "",
                "valueType": "results"
            }
        ],
        "x": 740,
        "y": 560,
        "wires": [
            [
                "5e3a1fc19db35d04"
            ]
        ]
    },
    {
        "id": "9d07893e9d6d301e",
        "type": "inject",
        "z": "9c5d86c38c3086b2",
        "name": "List all nodered entities",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 540,
        "y": 560,
        "wires": [
            [
                "967c6ab966a11d91"
            ]
        ]
    },
    {
        "id": "5e3a1fc19db35d04",
        "type": "function",
        "z": "9c5d86c38c3086b2",
        "name": "Split",
        "func": "msg.payload.forEach(function(a) {\n    node.send(a);\n});\nreturn null;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 870,
        "y": 560,
        "wires": [
            [
                "6b6728522c8440f8"
            ]
        ]
    },
    {
        "id": "6b6728522c8440f8",
        "type": "switch",
        "z": "9c5d86c38c3086b2",
        "name": "platform=nodered",
        "property": "platform",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "nodered",
                "vt": "str"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 1030,
        "y": 560,
        "wires": [
            [
                "637b76cf21f2a4d2"
            ],
            [
                "0cd4c80c02be9965"
            ]
        ]
    },
    {
        "id": "0cd4c80c02be9965",
        "type": "debug",
        "z": "9c5d86c38c3086b2",
        "name": "debug 30",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "entity_id",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1260,
        "y": 500,
        "wires": []
    },
    {
        "id": "498a2a96e940acf2",
        "type": "ha-api",
        "z": "9c5d86c38c3086b2",
        "name": "DeleteDevice",
        "server": "e0f05cf68b19d533",
        "version": 1,
        "debugenabled": false,
        "protocol": "websocket",
        "method": "get",
        "path": "",
        "data": "{\t    \"type\":\"config/device_registry/delete\",\t    \"area_id\":msg.payload\t}",
        "dataType": "jsonata",
        "responseType": "json",
        "outputProperties": [
            {
                "property": "payload",
                "propertyType": "msg",
                "value": "",
                "valueType": "results"
            }
        ],
        "x": 970,
        "y": 40,
        "wires": [
            [
                "2e1b92a0553ba0be"
            ]
        ]
    },
    {
        "id": "df4506907bfa85d1",
        "type": "ha-api",
        "z": "9c5d86c38c3086b2",
        "name": "CreateArea",
        "server": "e0f05cf68b19d533",
        "version": 1,
        "debugenabled": false,
        "protocol": "websocket",
        "method": "get",
        "path": "",
        "data": "{\t    \"type\":\"config/area_registry/create\",\t    \"name\":msg.payload\t}",
        "dataType": "jsonata",
        "responseType": "json",
        "outputProperties": [
            {
                "property": "payload",
                "propertyType": "msg",
                "value": "",
                "valueType": "results"
            }
        ],
        "x": 970,
        "y": 80,
        "wires": [
            [
                "2e1b92a0553ba0be"
            ]
        ]
    },
    {
        "id": "2e1b92a0553ba0be",
        "type": "debug",
        "z": "9c5d86c38c3086b2",
        "name": "debug 31",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1140,
        "y": 40,
        "wires": []
    },
    {
        "id": "cb8d1a1e5a104d23",
        "type": "inject",
        "z": "9c5d86c38c3086b2",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "questwalkarea",
        "payloadType": "str",
        "x": 790,
        "y": 80,
        "wires": [
            [
                "df4506907bfa85d1"
            ]
        ]
    },
    {
        "id": "24bdea99bad2666c",
        "type": "inject",
        "z": "9c5d86c38c3086b2",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "questwalkareea",
        "payloadType": "str",
        "x": 800,
        "y": 40,
        "wires": [
            [
                "498a2a96e940acf2"
            ]
        ]
    },
    {
        "id": "f195f5dd8bfe6e53",
        "type": "ha-api",
        "z": "9c5d86c38c3086b2",
        "name": "List",
        "server": "e0f05cf68b19d533",
        "version": 1,
        "debugenabled": false,
        "protocol": "websocket",
        "method": "get",
        "path": "",
        "data": "{\t    \"type\":$join([\"config/\", msg.payload, \"/list\"])\t}",
        "dataType": "jsonata",
        "responseType": "json",
        "outputProperties": [
            {
                "property": "payload",
                "propertyType": "msg",
                "value": "",
                "valueType": "results"
            }
        ],
        "x": 830,
        "y": 120,
        "wires": [
            [
                "78cce50977e453d3"
            ]
        ]
    },
    {
        "id": "e823a5a2ed0bac9e",
        "type": "debug",
        "z": "9c5d86c38c3086b2",
        "name": "debug 32",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 1240,
        "y": 120,
        "wires": []
    },
    {
        "id": "5bb86a4c2fb87ff4",
        "type": "inject",
        "z": "9c5d86c38c3086b2",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "area_registry",
        "payloadType": "str",
        "x": 550,
        "y": 80,
        "wires": [
            [
                "f195f5dd8bfe6e53"
            ]
        ]
    },
    {
        "id": "78cce50977e453d3",
        "type": "function",
        "z": "9c5d86c38c3086b2",
        "name": "Split",
        "func": "msg.payload.forEach(function(a) { node.send(a); });",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 970,
        "y": 120,
        "wires": [
            [
                "e823a5a2ed0bac9e",
                "8f7361744d092e65",
                "54dfda8f1e4598e6"
            ]
        ]
    },
    {
        "id": "ab37321e8082ca2a",
        "type": "inject",
        "z": "9c5d86c38c3086b2",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "entity_registry",
        "payloadType": "str",
        "x": 550,
        "y": 120,
        "wires": [
            [
                "f195f5dd8bfe6e53"
            ]
        ]
    },
    {
        "id": "5b767a908c0c0e38",
        "type": "inject",
        "z": "9c5d86c38c3086b2",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "device_registry",
        "payloadType": "str",
        "x": 560,
        "y": 160,
        "wires": [
            [
                "f195f5dd8bfe6e53"
            ]
        ]
    },
    {
        "id": "63bc11327f702d3c",
        "type": "ha-text",
        "z": "9c5d86c38c3086b2",
        "name": "questwalkentity",
        "version": 1,
        "debugenabled": false,
        "inputs": 1,
        "outputs": 1,
        "entityConfig": "a0413381ff7cd93f",
        "exposeAsEntityConfig": "",
        "mode": "set",
        "value": "payload",
        "valueType": "msg",
        "outputProperties": [
            {
                "property": "payload",
                "propertyType": "msg",
                "value": "",
                "valueType": "value"
            },
            {
                "property": "previousValue",
                "propertyType": "msg",
                "value": "",
                "valueType": "previousValue"
            }
        ],
        "x": 400,
        "y": 220,
        "wires": [
            [
                "9f735f569c3259e9"
            ]
        ]
    },
    {
        "id": "8e19c4f48d32af95",
        "type": "inject",
        "z": "9c5d86c38c3086b2",
        "name": "Make QuestWalk Device",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "questwalkdevice",
        "payloadType": "str",
        "x": 170,
        "y": 220,
        "wires": [
            [
                "63bc11327f702d3c"
            ]
        ]
    },
    {
        "id": "9f735f569c3259e9",
        "type": "debug",
        "z": "9c5d86c38c3086b2",
        "name": "debug 33",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 700,
        "y": 220,
        "wires": []
    },
    {
        "id": "c9dfc1494b1c6094",
        "type": "ha-api",
        "z": "9c5d86c38c3086b2",
        "name": "nodered/discovery",
        "server": "e0f05cf68b19d533",
        "version": 1,
        "debugenabled": false,
        "protocol": "websocket",
        "method": "get",
        "path": "",
        "data": "{\t   \"type\":\"nodered/discovery\",\t   \"id\":21,\t   \"component\": \"text\",\t   \"node_id\": \"aaaa2\",\t   \"server_id\":$globalContext(\"server_id\"),\t   \"config\": {\t      \"state\":\"12345\",\t      \"label\":\"whatlabel\"\t   }\t}",
        "dataType": "jsonata",
        "responseType": "json",
        "outputProperties": [
            {
                "property": "payload",
                "propertyType": "msg",
                "value": "",
                "valueType": "results"
            }
        ],
        "x": 510,
        "y": 600,
        "wires": [
            []
        ]
    },
    {
        "id": "8f7361744d092e65",
        "type": "switch",
        "z": "9c5d86c38c3086b2",
        "name": "platform=nodered",
        "property": "platform",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "nodered",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 1130,
        "y": 160,
        "wires": [
            [
                "dd0bde06841ea4ba"
            ]
        ]
    },
    {
        "id": "dd0bde06841ea4ba",
        "type": "debug",
        "z": "9c5d86c38c3086b2",
        "name": "debug 34",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 1260,
        "y": 160,
        "wires": []
    },
    {
        "id": "54dfda8f1e4598e6",
        "type": "switch",
        "z": "9c5d86c38c3086b2",
        "name": "manufacturer=nodered",
        "property": "manufacturer",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "Node-RED",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 1140,
        "y": 200,
        "wires": [
            [
                "dd0bde06841ea4ba"
            ]
        ]
    },
    {
        "id": "c089f7fa09bb5e0a",
        "type": "inject",
        "z": "9c5d86c38c3086b2",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 140,
        "y": 300,
        "wires": [
            [
                "ec68d3827dba94c2"
            ]
        ]
    },
    {
        "id": "ec68d3827dba94c2",
        "type": "ha-api",
        "z": "9c5d86c38c3086b2",
        "name": "",
        "server": "e0f05cf68b19d533",
        "version": 1,
        "debugenabled": false,
        "protocol": "websocket",
        "method": "get",
        "path": "",
        "data": "{\t   \"type\":\"nodered/device/remove\",\t   \"node_id\":\"questwalkdevice2\"\t}\t",
        "dataType": "jsonata",
        "responseType": "json",
        "outputProperties": [
            {
                "property": "payload",
                "propertyType": "msg",
                "value": "",
                "valueType": "results"
            }
        ],
        "x": 390,
        "y": 300,
        "wires": [
            [
                "ac82071a82edad92"
            ]
        ]
    },
    {
        "id": "ac82071a82edad92",
        "type": "debug",
        "z": "9c5d86c38c3086b2",
        "name": "debug 1",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 600,
        "y": 300,
        "wires": []
    },
    {
        "id": "b6f137529640f2cd",
        "type": "inject",
        "z": "9c5d86c38c3086b2",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "bbb2",
        "payloadType": "str",
        "x": 90,
        "y": 360,
        "wires": [
            [
                "90e8785a16fbd96e"
            ]
        ]
    },
    {
        "id": "b5864582a1e9202d",
        "type": "ha-api",
        "z": "9c5d86c38c3086b2",
        "name": "discover/text",
        "server": "e0f05cf68b19d533",
        "version": 1,
        "debugenabled": false,
        "protocol": "websocket",
        "method": "get",
        "path": "",
        "data": "{\t   \"type\":\"nodered/discovery\",\t   \"component\": \"text\",\t   \"node_id\": msg.payload,\t   \"server_id\":\"ss\",\t   \"device_info\":{},\t}",
        "dataType": "jsonata",
        "responseType": "json",
        "outputProperties": [
            {
                "property": "payload",
                "propertyType": "msg",
                "value": "",
                "valueType": "results"
            }
        ],
        "x": 430,
        "y": 360,
        "wires": [
            [
                "190c66ab82925ff0"
            ]
        ]
    },
    {
        "id": "190c66ab82925ff0",
        "type": "debug",
        "z": "9c5d86c38c3086b2",
        "name": "debug 35",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 640,
        "y": 360,
        "wires": []
    },
    {
        "id": "2a3489a3c001f379",
        "type": "inject",
        "z": "9c5d86c38c3086b2",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "bbb3",
        "payloadType": "str",
        "x": 90,
        "y": 400,
        "wires": [
            [
                "90e8785a16fbd96e"
            ]
        ]
    },
    {
        "id": "90e8785a16fbd96e",
        "type": "change",
        "z": "9c5d86c38c3086b2",
        "name": "entity_id",
        "rules": [
            {
                "t": "set",
                "p": "entity_id",
                "pt": "msg",
                "to": "$join([\"text.nodered_\", msg.payload])",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 240,
        "y": 360,
        "wires": [
            [
                "b5864582a1e9202d",
                "9447f91ad5d40c6b"
            ]
        ]
    },
    {
        "id": "9447f91ad5d40c6b",
        "type": "delay",
        "z": "9c5d86c38c3086b2",
        "name": "",
        "pauseType": "delay",
        "timeout": "300",
        "timeoutUnits": "milliseconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 430,
        "y": 400,
        "wires": [
            [
                "0389e15562f0b95e"
            ]
        ]
    },
    {
        "id": "f5140410cb293da9",
        "type": "ha-api",
        "z": "9c5d86c38c3086b2",
        "name": "entity-get",
        "server": "e0f05cf68b19d533",
        "version": 1,
        "debugenabled": false,
        "protocol": "websocket",
        "method": "get",
        "path": "",
        "data": "{\t   \"type\":\"config/entity_registry/get\",\t   \"entity_id\": $join([\"text.nodered_\", msg.payload])\t}",
        "dataType": "jsonata",
        "responseType": "json",
        "outputProperties": [
            {
                "property": "payload",
                "propertyType": "msg",
                "value": "",
                "valueType": "results"
            }
        ],
        "x": 800,
        "y": 280,
        "wires": [
            [
                "7ae3626a68028cd5"
            ]
        ]
    },
    {
        "id": "7ae3626a68028cd5",
        "type": "debug",
        "z": "9c5d86c38c3086b2",
        "name": "debug 36",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 820,
        "y": 360,
        "wires": []
    },
    {
        "id": "604e0f2d59fb0ec8",
        "type": "ha-api",
        "z": "9c5d86c38c3086b2",
        "name": "entity-update",
        "server": "e0f05cf68b19d533",
        "version": 1,
        "debugenabled": false,
        "protocol": "websocket",
        "method": "get",
        "path": "",
        "data": "{\t   \"type\":\"config/entity_registry/update\",\t   \"entity_id\":msg.entity_id,\t   \"area_id\":\"questwalkarea\",\t   \"name\":msg.payload\t}",
        "dataType": "jsonata",
        "responseType": "json",
        "outputProperties": [
            {
                "property": "payload",
                "propertyType": "msg",
                "value": "",
                "valueType": "results"
            }
        ],
        "x": 650,
        "y": 400,
        "wires": [
            [
                "dec587fb46a81888"
            ]
        ]
    },
    {
        "id": "dec587fb46a81888",
        "type": "debug",
        "z": "9c5d86c38c3086b2",
        "name": "debug 37",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 1060,
        "y": 400,
        "wires": []
    },
    {
        "id": "333a94cc5c6d7418",
        "type": "ha-api",
        "z": "9c5d86c38c3086b2",
        "name": "entity-update",
        "server": "e0f05cf68b19d533",
        "version": 1,
        "debugenabled": false,
        "protocol": "websocket",
        "method": "get",
        "path": "",
        "data": "{\t   \"type\":\"nodered/entity\",\t   \"node_id\":msg.payload,\t   \"server_id\":\"ss\",\t   \"state\":\"bongo\"\t}",
        "dataType": "jsonata",
        "responseType": "json",
        "outputProperties": [
            {
                "property": "payload",
                "propertyType": "msg",
                "value": "",
                "valueType": "results"
            }
        ],
        "x": 830,
        "y": 440,
        "wires": [
            [
                "dec587fb46a81888"
            ]
        ]
    },
    {
        "id": "0389e15562f0b95e",
        "type": "delay",
        "z": "9c5d86c38c3086b2",
        "name": "",
        "pauseType": "delay",
        "timeout": "300",
        "timeoutUnits": "milliseconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 650,
        "y": 440,
        "wires": [
            []
        ]
    }
]