flows.json
[
    {
        "id": "3b09bd15e699321e",
        "type": "tab",
        "label": "Programatic",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "1fc7b0190a9c731d",
        "type": "tab",
        "label": "QWDoes",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "6446a538ec67ed6a",
        "type": "tab",
        "label": "QWBeer",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "186aa6ef56bf872c",
        "type": "tab",
        "label": "QW_STFC",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "9c5d86c38c3086b2",
        "type": "tab",
        "label": "API experiments",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "4c8d6de6577322fb",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "e0f05cf68b19d533",
        "type": "server",
        "name": "Home Assistant (MR5G)",
        "version": 5,
        "addon": false,
        "rejectUnauthorizedCerts": false,
        "ha_boolean": "y|yes|true|on|home|open",
        "connectionDelay": true,
        "cacheJson": true,
        "heartbeat": false,
        "heartbeatInterval": 30,
        "areaSelector": "friendlyName",
        "deviceSelector": "friendlyName",
        "entitySelector": "friendlyName",
        "statusSeparator": ": ",
        "statusYear": "hidden",
        "statusMonth": "short",
        "statusDay": "numeric",
        "statusHourCycle": "default",
        "statusTimeFormat": "h:m",
        "enableGlobalContextStore": false
    },
    {
        "id": "4f6e4706c65a1ceb",
        "type": "ha-device-config",
        "name": "questwalkdevice",
        "hwVersion": "",
        "manufacturer": "Node-RED",
        "model": "",
        "swVersion": ""
    },
    {
        "id": "28f999c6149902c4",
        "type": "mqtt-broker",
        "name": "mdxyz",
        "broker": "mosquitto.doesliverpool.xyz",
        "port": 1883,
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": 4,
        "keepalive": 60,
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "4a56c15046029a88",
        "type": "mqtt-broker",
        "name": "",
        "broker": "mr5g.dynamicdevices.co.uk",
        "port": 1883,
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": 4,
        "keepalive": 60,
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "2bfdfdd5.245c92",
        "type": "server",
        "name": "Home Assistant",
        "version": 5,
        "addon": true,
        "rejectUnauthorizedCerts": true,
        "ha_boolean": "y|yes|true|on|home|open",
        "connectionDelay": true,
        "cacheJson": true,
        "heartbeat": false,
        "heartbeatInterval": 30,
        "areaSelector": "friendlyName",
        "deviceSelector": "friendlyName",
        "entitySelector": "friendlyName",
        "statusSeparator": "at: ",
        "statusYear": "hidden",
        "statusMonth": "short",
        "statusDay": "numeric",
        "statusHourCycle": "h23",
        "statusTimeFormat": "h:m",
        "enableGlobalContextStore": true
    },
    {
        "id": "bfbb121d51632d6a",
        "type": "ha-entity-config",
        "server": "e0f05cf68b19d533",
        "deviceConfig": "4f6e4706c65a1ceb",
        "name": "ename",
        "version": 6,
        "entityType": "text",
        "haConfig": [
            {
                "property": "name",
                "value": "efriendname"
            },
            {
                "property": "icon",
                "value": ""
            },
            {
                "property": "entity_picture",
                "value": ""
            },
            {
                "property": "entity_category",
                "value": ""
            },
            {
                "property": "mode",
                "value": "text"
            },
            {
                "property": "min_length",
                "value": ""
            },
            {
                "property": "max_length",
                "value": ""
            },
            {
                "property": "pattern",
                "value": ""
            }
        ],
        "resend": false,
        "debugEnabled": false
    },
    {
        "id": "f683b6bedf956581",
        "type": "ha-device-config",
        "name": "questwalkdevice3",
        "hwVersion": "",
        "manufacturer": "Node-RED",
        "model": "",
        "swVersion": ""
    },
    {
        "id": "1278838c849816cb",
        "type": "ha-device-config",
        "name": "QuestWalkTrigger",
        "hwVersion": "",
        "manufacturer": "Node-RED",
        "model": "",
        "swVersion": ""
    },
    {
        "id": "26ec5cd84cdf971f",
        "type": "ha-entity-config",
        "server": "e0f05cf68b19d533",
        "deviceConfig": "1278838c849816cb",
        "name": "QuestWalkTrigger",
        "version": 6,
        "entityType": "button",
        "haConfig": [
            {
                "property": "name",
                "value": ""
            },
            {
                "property": "icon",
                "value": ""
            },
            {
                "property": "entity_picture",
                "value": ""
            },
            {
                "property": "entity_category",
                "value": ""
            },
            {
                "property": "device_class",
                "value": ""
            }
        ],
        "resend": false,
        "debugEnabled": false
    },
    {
        "id": "a0413381ff7cd93f",
        "type": "ha-entity-config",
        "server": "e0f05cf68b19d533",
        "deviceConfig": "f683b6bedf956581",
        "name": "questwalkdevice",
        "version": 6,
        "entityType": "text",
        "haConfig": [
            {
                "property": "name",
                "value": ""
            },
            {
                "property": "icon",
                "value": ""
            },
            {
                "property": "entity_picture",
                "value": ""
            },
            {
                "property": "entity_category",
                "value": ""
            },
            {
                "property": "mode",
                "value": "text"
            },
            {
                "property": "min_length",
                "value": ""
            },
            {
                "property": "max_length",
                "value": ""
            },
            {
                "property": "pattern",
                "value": ""
            }
        ],
        "resend": false,
        "debugEnabled": false
    },
    {
        "id": "5077c02accb21025",
        "type": "http request",
        "z": "3b09bd15e699321e",
        "name": "QuestWalk",
        "method": "GET",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "basic",
        "senderr": false,
        "headers": [],
        "x": 510,
        "y": 540,
        "wires": [
            [
                "4b1b57ec218d74c5"
            ]
        ]
    },
    {
        "id": "99e9fbc883a84b7a",
        "type": "inject",
        "z": "3b09bd15e699321e",
        "name": "Start",
        "props": [
            {
                "p": "url",
                "v": "http://localhost:1880/flow/6446a538ec67ed6a",
                "vt": "str"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 130,
        "y": 480,
        "wires": [
            [
                "e37074c167f63353"
            ]
        ]
    },
    {
        "id": "4b1b57ec218d74c5",
        "type": "json",
        "z": "3b09bd15e699321e",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 650,
        "y": 540,
        "wires": [
            [
                "4579a45ab1ea254e",
                "4dd3c945c7625c5d"
            ]
        ]
    },
    {
        "id": "4dd3c945c7625c5d",
        "type": "function",
        "z": "3b09bd15e699321e",
        "name": "DefineStation",
        "func": "var sprefix = \"z\";\nvar n = msg.payload.nodes.length;\n//n = 3;\nglobal.set(\"server_id\", \"whatever\");\nvar idlookup = { };\nfor (var i = 0; i < msg.payload.nodes.length; i++) {\n    var station = msg.payload.nodes[i];\n    if (station.type == \"template\")\n        idlookup[station.id] = station.name;\n}\nfor (var i = 0; i < n; i++) {\n    var station = msg.payload.nodes[i];\n    if (station.type != \"template\")\n        continue;\n    var nextstations = [ ];\n    var nextstationnames = [ ];\n    for (var j = 0; j < station.wires[0].length; j++) {\n        var nwid = station.wires[0][j];\n        if (idlookup[nwid]) {\n            nextstations.push(sprefix + nwid);\n            nextstationnames.push(idlookup[nwid]);\n        }\n    }\n    node.send({ \"name\":station.name,\n                \"station_id\":sprefix + station.id, \n                \"next_stations\":nextstations.join(\" \"), \n                \"next_stationnames\":nextstationnames.join(\",\"),\n                \"payload\":station.template,\n                \"entity_id\":\"text.nodered_\"+sprefix+station.id});\n}\nreturn null;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 160,
        "y": 600,
        "wires": [
            [
                "4579a45ab1ea254e",
                "10e01a788c2aca1b",
                "5111d7a41727e976"
            ]
        ]
    },
    {
        "id": "10e01a788c2aca1b",
        "type": "ha-api",
        "z": "3b09bd15e699321e",
        "name": "nodered/discovery",
        "server": "e0f05cf68b19d533",
        "version": 1,
        "debugenabled": false,
        "protocol": "websocket",
        "method": "get",
        "path": "",
        "data": "{\t   \"type\":\"nodered/discovery\",\t   \"component\": \"text\",\t   \"node_id\": msg.station_id,\t   \"server_id\":$globalContext(\"server_id\")\t}",
        "dataType": "jsonata",
        "responseType": "json",
        "outputProperties": [],
        "x": 390,
        "y": 600,
        "wires": [
            []
        ]
    },
    {
        "id": "5111d7a41727e976",
        "type": "delay",
        "z": "3b09bd15e699321e",
        "name": "",
        "pauseType": "delay",
        "timeout": "100",
        "timeoutUnits": "milliseconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 410,
        "y": 640,
        "wires": [
            [
                "fa42f2cd47ab55f0",
                "e4c8643bbf3b90dc"
            ]
        ]
    },
    {
        "id": "4579a45ab1ea254e",
        "type": "debug",
        "z": "3b09bd15e699321e",
        "name": "debug 5",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 820,
        "y": 540,
        "wires": []
    },
    {
        "id": "cd81a384a9e144e9",
        "type": "ha-api",
        "z": "3b09bd15e699321e",
        "name": "EntityList",
        "server": "e0f05cf68b19d533",
        "version": 1,
        "debugenabled": false,
        "protocol": "websocket",
        "method": "get",
        "path": "",
        "data": "{\t   \"type\":\"config/entity_registry/list\",\t   \"id\":21\t}",
        "dataType": "jsonata",
        "responseType": "json",
        "outputProperties": [
            {
                "property": "payload",
                "propertyType": "msg",
                "value": "",
                "valueType": "results"
            }
        ],
        "x": 380,
        "y": 280,
        "wires": [
            [
                "54b5f56c852d5cf3"
            ]
        ]
    },
    {
        "id": "36f9aacd38e725cd",
        "type": "inject",
        "z": "3b09bd15e699321e",
        "name": "Clear all nodered entities",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 190,
        "y": 280,
        "wires": [
            [
                "cd81a384a9e144e9"
            ]
        ]
    },
    {
        "id": "54b5f56c852d5cf3",
        "type": "function",
        "z": "3b09bd15e699321e",
        "name": "Split",
        "func": "msg.payload.forEach(function(a) {\n    node.send(a);\n});\nreturn null;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 510,
        "y": 280,
        "wires": [
            [
                "cb21483e7188ff9d"
            ]
        ]
    },
    {
        "id": "cb21483e7188ff9d",
        "type": "switch",
        "z": "3b09bd15e699321e",
        "name": "platform=nodered",
        "property": "platform",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "nodered",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 670,
        "y": 280,
        "wires": [
            [
                "26319a576f1a1cf9"
            ]
        ]
    },
    {
        "id": "195ce6e45abd46e7",
        "type": "debug",
        "z": "3b09bd15e699321e",
        "name": "debug 22",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 860,
        "y": 320,
        "wires": []
    },
    {
        "id": "26319a576f1a1cf9",
        "type": "ha-api",
        "z": "3b09bd15e699321e",
        "name": "Remove",
        "server": "e0f05cf68b19d533",
        "version": 1,
        "debugenabled": false,
        "protocol": "websocket",
        "method": "get",
        "path": "",
        "data": "{\t    \"type\":\"config/entity_registry/remove\",\t    \"entity_id\":msg.entity_id\t}",
        "dataType": "jsonata",
        "responseType": "json",
        "outputProperties": [
            {
                "property": "payload",
                "propertyType": "msg",
                "value": "",
                "valueType": "results"
            }
        ],
        "x": 860,
        "y": 280,
        "wires": [
            [
                "92a718d624917520"
            ]
        ]
    },
    {
        "id": "0216d3225a27b0bb",
        "type": "ha-api",
        "z": "3b09bd15e699321e",
        "name": "EntityList",
        "server": "e0f05cf68b19d533",
        "version": 1,
        "debugenabled": false,
        "protocol": "websocket",
        "method": "get",
        "path": "",
        "data": "{\t   \"type\":\"config/entity_registry/list\",\t   \"id\":21\t}",
        "dataType": "jsonata",
        "responseType": "json",
        "outputProperties": [
            {
                "property": "payload",
                "propertyType": "msg",
                "value": "",
                "valueType": "results"
            }
        ],
        "x": 380,
        "y": 320,
        "wires": [
            [
                "42c6dc93463101cf"
            ]
        ]
    },
    {
        "id": "59e2a4cdc28c7ea9",
        "type": "inject",
        "z": "3b09bd15e699321e",
        "name": "List all nodered entities",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 180,
        "y": 320,
        "wires": [
            [
                "0216d3225a27b0bb"
            ]
        ]
    },
    {
        "id": "42c6dc93463101cf",
        "type": "function",
        "z": "3b09bd15e699321e",
        "name": "Split",
        "func": "msg.payload.forEach(function(a) {\n    node.send(a);\n});\nreturn null;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 510,
        "y": 320,
        "wires": [
            [
                "187c3c618ed2225f"
            ]
        ]
    },
    {
        "id": "187c3c618ed2225f",
        "type": "switch",
        "z": "3b09bd15e699321e",
        "name": "platform=nodered",
        "property": "platform",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "nodered",
                "vt": "str"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 670,
        "y": 320,
        "wires": [
            [
                "195ce6e45abd46e7"
            ],
            [
                "7bc44b8adc5c79e5"
            ]
        ]
    },
    {
        "id": "9ca51bcaf1a6bf3d",
        "type": "debug",
        "z": "3b09bd15e699321e",
        "name": "debug 25",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 920,
        "y": 380,
        "wires": []
    },
    {
        "id": "fa42f2cd47ab55f0",
        "type": "ha-api",
        "z": "3b09bd15e699321e",
        "name": "set-namearea",
        "server": "e0f05cf68b19d533",
        "version": 1,
        "debugenabled": false,
        "protocol": "websocket",
        "method": "get",
        "path": "",
        "data": "{\t   \"type\":\"config/entity_registry/update\",\t   \"entity_id\":msg.entity_id,\t   \"area_id\":\"questwalkarea\",\t   \"name\":msg.name\t}",
        "dataType": "jsonata",
        "responseType": "json",
        "outputProperties": [
            {
                "property": "payload",
                "propertyType": "msg",
                "value": "",
                "valueType": "results"
            }
        ],
        "x": 600,
        "y": 640,
        "wires": [
            []
        ]
    },
    {
        "id": "124f0cb51ddc8331",
        "type": "ha-api",
        "z": "3b09bd15e699321e",
        "name": "entity-update",
        "server": "e0f05cf68b19d533",
        "version": 1,
        "debugenabled": false,
        "protocol": "websocket",
        "method": "get",
        "path": "",
        "data": "{\t   \"type\":\"nodered/entity\",\t   \"node_id\":msg.station_id,\t   \"server_id\":$globalContext(\"server_id\"),\t   \"state\":msg.next_stationnames\t}",
        "dataType": "jsonata",
        "responseType": "json",
        "outputProperties": [
            {
                "property": "payload",
                "propertyType": "msg",
                "value": "",
                "valueType": "results"
            }
        ],
        "x": 610,
        "y": 680,
        "wires": [
            []
        ]
    },
    {
        "id": "e4c8643bbf3b90dc",
        "type": "delay",
        "z": "3b09bd15e699321e",
        "name": "",
        "pauseType": "delay",
        "timeout": "100",
        "timeoutUnits": "milliseconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 430,
        "y": 680,
        "wires": [
            [
                "124f0cb51ddc8331",
                "7de0add079a0fce6"
            ]
        ]
    },
    {
        "id": "8e8110c0dc08907a",
        "type": "ha-fire-event",
        "z": "3b09bd15e699321e",
        "name": "station_text event",
        "server": "e0f05cf68b19d533",
        "version": 0,
        "event": "station_text",
        "data": "{\"text\":msg.payload, \t \"entity_id\":msg.entity_id,\t \"station_id\":msg.station_id,\t \"name\":msg.name,\t \"next_stations\": msg.next_stations\t}",
        "dataType": "jsonata",
        "x": 690,
        "y": 720,
        "wires": [
            []
        ]
    },
    {
        "id": "7de0add079a0fce6",
        "type": "delay",
        "z": "3b09bd15e699321e",
        "name": "",
        "pauseType": "delay",
        "timeout": "500",
        "timeoutUnits": "milliseconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 450,
        "y": 720,
        "wires": [
            [
                "8e8110c0dc08907a"
            ]
        ]
    },
    {
        "id": "aca62391a56155fe",
        "type": "ha-api",
        "z": "3b09bd15e699321e",
        "name": "DeleteArea",
        "server": "e0f05cf68b19d533",
        "version": 1,
        "debugenabled": false,
        "protocol": "websocket",
        "method": "get",
        "path": "",
        "data": "{\t    \"type\":\"config/area_registry/delete\",\t    \"area_id\":msg.payload\t}",
        "dataType": "jsonata",
        "responseType": "json",
        "outputProperties": [
            {
                "property": "payload",
                "propertyType": "msg",
                "value": "",
                "valueType": "results"
            }
        ],
        "x": 350,
        "y": 960,
        "wires": [
            [
                "753232f3808cc3f6"
            ]
        ]
    },
    {
        "id": "eea4e32fcee13ae9",
        "type": "ha-api",
        "z": "3b09bd15e699321e",
        "name": "CreateArea",
        "server": "e0f05cf68b19d533",
        "version": 1,
        "debugenabled": false,
        "protocol": "websocket",
        "method": "get",
        "path": "",
        "data": "{\t    \"type\":\"config/area_registry/create\",\t    \"name\":msg.payload\t}",
        "dataType": "jsonata",
        "responseType": "json",
        "outputProperties": [
            {
                "property": "payload",
                "propertyType": "msg",
                "value": "",
                "valueType": "results"
            }
        ],
        "x": 350,
        "y": 1000,
        "wires": [
            [
                "753232f3808cc3f6"
            ]
        ]
    },
    {
        "id": "c61906cf903eda43",
        "type": "inject",
        "z": "3b09bd15e699321e",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "questwalkarea",
        "payloadType": "str",
        "x": 170,
        "y": 960,
        "wires": [
            [
                "aca62391a56155fe"
            ]
        ]
    },
    {
        "id": "e4d9750c06320698",
        "type": "inject",
        "z": "3b09bd15e699321e",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "questwalkarea",
        "payloadType": "str",
        "x": 170,
        "y": 1000,
        "wires": [
            [
                "eea4e32fcee13ae9"
            ]
        ]
    },
    {
        "id": "753232f3808cc3f6",
        "type": "debug",
        "z": "3b09bd15e699321e",
        "name": "debug 24",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 560,
        "y": 960,
        "wires": []
    },
    {
        "id": "abb84b27791d34b4",
        "type": "ha-button",
        "z": "3b09bd15e699321e",
        "name": "QuestWalkTrigger",
        "version": 0,
        "debugenabled": false,
        "outputs": 1,
        "entityConfig": "26ec5cd84cdf971f",
        "outputProperties": [
            {
                "property": "payload",
                "propertyType": "msg",
                "value": "",
                "valueType": "entityState"
            },
            {
                "property": "topic",
                "propertyType": "msg",
                "value": "",
                "valueType": "triggerId"
            },
            {
                "property": "data",
                "propertyType": "msg",
                "value": "",
                "valueType": "entity"
            }
        ],
        "x": 150,
        "y": 540,
        "wires": [
            [
                "267747e5f4cb5969",
                "e37074c167f63353"
            ]
        ]
    },
    {
        "id": "267747e5f4cb5969",
        "type": "debug",
        "z": "3b09bd15e699321e",
        "name": "debug 13",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 820,
        "y": 500,
        "wires": []
    },
    {
        "id": "22d302217ecc992a",
        "type": "inject",
        "z": "3b09bd15e699321e",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "QWDoes",
        "payloadType": "str",
        "x": 140,
        "y": 160,
        "wires": [
            [
                "52003894dd103eda"
            ]
        ]
    },
    {
        "id": "9f8f0fb62b63b598",
        "type": "http request",
        "z": "3b09bd15e699321e",
        "name": "FlowsList",
        "method": "GET",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "http://localhost:1880/flows",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "basic",
        "senderr": false,
        "headers": [],
        "x": 580,
        "y": 160,
        "wires": [
            [
                "7f2289a789e05838"
            ]
        ]
    },
    {
        "id": "52003894dd103eda",
        "type": "change",
        "z": "3b09bd15e699321e",
        "name": "set tab_name",
        "rules": [
            {
                "t": "set",
                "p": "tab_name",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "tab_id",
                "pt": "flow",
                "to": "-----",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 420,
        "y": 160,
        "wires": [
            [
                "9f8f0fb62b63b598"
            ]
        ]
    },
    {
        "id": "71d333ef61d6e237",
        "type": "inject",
        "z": "3b09bd15e699321e",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "QWBeer",
        "payloadType": "str",
        "x": 140,
        "y": 120,
        "wires": [
            [
                "52003894dd103eda"
            ]
        ]
    },
    {
        "id": "fb40dde176efa5b0",
        "type": "function",
        "z": "3b09bd15e699321e",
        "name": "filter",
        "func": "\nfor (var o of msg.payload) {\n    if ((o[\"type\"] == \"tab\") && (o[\"label\"] == flow.get(\"tab_name\")))\n        return { \"payload\":o[\"id\"] }; \n}\nreturn null;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 830,
        "y": 160,
        "wires": [
            [
                "605f1d5e7fb49a74"
            ]
        ]
    },
    {
        "id": "7f2289a789e05838",
        "type": "json",
        "z": "3b09bd15e699321e",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 710,
        "y": 160,
        "wires": [
            [
                "fb40dde176efa5b0"
            ]
        ]
    },
    {
        "id": "43dc4973dceb6aba",
        "type": "debug",
        "z": "3b09bd15e699321e",
        "name": "debug 41",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1140,
        "y": 160,
        "wires": []
    },
    {
        "id": "605f1d5e7fb49a74",
        "type": "change",
        "z": "3b09bd15e699321e",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "tab_id",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 980,
        "y": 160,
        "wires": [
            [
                "43dc4973dceb6aba"
            ]
        ]
    },
    {
        "id": "9593e4a97cadfb78",
        "type": "inject",
        "z": "3b09bd15e699321e",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "QW_STFC",
        "payloadType": "str",
        "x": 300,
        "y": 120,
        "wires": [
            [
                "52003894dd103eda"
            ]
        ]
    },
    {
        "id": "f3735a50f149a768",
        "type": "comment",
        "z": "3b09bd15e699321e",
        "name": "Set QW Tab",
        "info": "",
        "x": 130,
        "y": 80,
        "wires": []
    },
    {
        "id": "d12d9bcc17f7e73c",
        "type": "comment",
        "z": "3b09bd15e699321e",
        "name": "Send Tab Station data",
        "info": "",
        "x": 160,
        "y": 440,
        "wires": []
    },
    {
        "id": "e37074c167f63353",
        "type": "change",
        "z": "3b09bd15e699321e",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "url",
                "pt": "msg",
                "to": "$join([\"http://localhost:1880/flow/\", $flowContext(\"tab_id\")], \"\")",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 370,
        "y": 540,
        "wires": [
            [
                "5077c02accb21025"
            ]
        ]
    },
    {
        "id": "92a718d624917520",
        "type": "debug",
        "z": "3b09bd15e699321e",
        "name": "debug 38",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 1020,
        "y": 280,
        "wires": []
    },
    {
        "id": "0125af12944284a4",
        "type": "comment",
        "z": "3b09bd15e699321e",
        "name": "Prepare for new QW Tab",
        "info": "",
        "x": 170,
        "y": 240,
        "wires": []
    },
    {
        "id": "7bc44b8adc5c79e5",
        "type": "change",
        "z": "3b09bd15e699321e",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "entity_id",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 640,
        "y": 400,
        "wires": [
            [
                "d27ffcbb84f8f4dc"
            ]
        ]
    },
    {
        "id": "d27ffcbb84f8f4dc",
        "type": "rbe",
        "z": "3b09bd15e699321e",
        "name": "",
        "func": "rbe",
        "gap": "",
        "start": "",
        "inout": "out",
        "septopics": true,
        "property": "payload",
        "topi": "topic",
        "x": 850,
        "y": 420,
        "wires": [
            [
                "9ca51bcaf1a6bf3d"
            ]
        ]
    },
    {
        "id": "eb8e2330d2479177",
        "type": "template",
        "z": "1fc7b0190a9c731d",
        "name": "start here",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "Welcome to the first station of your QuestTour\nThis will guide you around the DoESLiverpool \nhackspace.\n\nPoke the Start button with your index \nfinger to move on.  \n(Or skip to the coffee maker.)\n\nNextButtonDef: intro,Start,\nNextButtonDef: make,Make Coffee,coffee_maker\n",
        "output": "str",
        "x": 80,
        "y": 100,
        "wires": [
            [
                "4fd2a70c6441c9ff",
                "5ad57becefdc770b"
            ]
        ],
        "icon": "node-red/comment.svg"
    },
    {
        "id": "09fa3d523675e490",
        "type": "template",
        "z": "1fc7b0190a9c731d",
        "name": "display",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "This is the display case of stuff \nthat has been made by members.\n\nPress skip if you would like to \nmove on to the next area.\n\nNextButtonDef: heat,Skip,\nNextButtonDef: display,Yes,",
        "output": "str",
        "x": 140,
        "y": 200,
        "wires": [
            [
                "d517ae3da0719d94",
                "9f848a9a817387d0"
            ]
        ],
        "icon": "node-red/comment.svg"
    },
    {
        "id": "9f848a9a817387d0",
        "type": "template",
        "z": "1fc7b0190a9c731d",
        "name": "heat press",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "Here is the heat press for making T-shirt designs\nThere is also a mug press.  It uses sublimation\nprinting to transfer the ink from the paper to\nthe product.\n\n\n",
        "output": "str",
        "x": 490,
        "y": 200,
        "wires": [
            [
                "c84ee1c2efc3550a"
            ]
        ],
        "icon": "node-red/comment.svg"
    },
    {
        "id": "4cd95aa1054bcd64",
        "type": "template",
        "z": "1fc7b0190a9c731d",
        "name": "coffee",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "Finally we reach the coffee station.\n\nCoffee is free to the members and visitors of the hackspace.\n\nIf the coffee has run out, would you like to be instructed on how to refill it?\n\nNextButtonDef: donations,No,\nNextButtonDef: make,Yes,coffee_maker\n",
        "output": "str",
        "x": 170,
        "y": 540,
        "wires": [
            [
                "5ad57becefdc770b",
                "a7d5a4f05d6917dc"
            ]
        ],
        "icon": "node-red/comment.svg"
    },
    {
        "id": "5ad57becefdc770b",
        "type": "template",
        "z": "1fc7b0190a9c731d",
        "name": "make coffee",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "First take the glass coffee pot and \nthe filter above it to the sink on your left.",
        "output": "str",
        "x": 330,
        "y": 580,
        "wires": [
            [
                "c4f7e90f3a0870dc"
            ]
        ],
        "icon": "node-red/comment.svg"
    },
    {
        "id": "a7d5a4f05d6917dc",
        "type": "template",
        "z": "1fc7b0190a9c731d",
        "name": "donations",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "This is the donations box to pay for crisps \ncans of coke and other sundries.\n",
        "output": "str",
        "x": 560,
        "y": 540,
        "wires": [
            [
                "4b17b99690fd021d"
            ]
        ],
        "icon": "node-red/comment.svg"
    },
    {
        "id": "4b17b99690fd021d",
        "type": "template",
        "z": "1fc7b0190a9c731d",
        "name": "end",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "You are at the end of the Augmented Reality DoESTour.\n\nThank you for participating.\n\nWe hope you enjoyed this adventure.\n\nPlease click Start to begin again for the next person.\n\nNextButtonDef: start,Start,\n",
        "output": "str",
        "x": 730,
        "y": 540,
        "wires": [
            [
                "eb8e2330d2479177"
            ]
        ],
        "icon": "node-red/comment.svg"
    },
    {
        "id": "d517ae3da0719d94",
        "type": "template",
        "z": "1fc7b0190a9c731d",
        "name": "displayhg",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "This an aluminium piece for the \nnose wires of a hang-glider.  \nIt was machined on the router in the next room,\n\nNextButtonDef: heat,Skip,",
        "output": "str",
        "x": 140,
        "y": 240,
        "wires": [
            [
                "9f848a9a817387d0",
                "858f51d8bd0c1b47"
            ]
        ],
        "icon": "node-red/comment.svg"
    },
    {
        "id": "333eeaeea0cde9fa",
        "type": "template",
        "z": "1fc7b0190a9c731d",
        "name": "displayvis",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "During the pandemic DoESLiverpool produced\nvisors for local health care establishments.",
        "output": "str",
        "x": 140,
        "y": 360,
        "wires": [
            [
                "9f848a9a817387d0"
            ]
        ],
        "icon": "node-red/comment.svg"
    },
    {
        "id": "c84ee1c2efc3550a",
        "type": "template",
        "z": "1fc7b0190a9c731d",
        "name": "vinyl cutter",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "If you have a 2D design, this machine can cut\nit out of vinyl which you can transfer onto any hard surface\nlike a laptop or a filing cabinet.\n\n\n",
        "output": "str",
        "x": 490,
        "y": 240,
        "wires": [
            [
                "305346dd7244f151"
            ]
        ],
        "icon": "node-red/comment.svg"
    },
    {
        "id": "305346dd7244f151",
        "type": "template",
        "z": "1fc7b0190a9c731d",
        "name": "3Dprinter",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "One of the many 3D printers working in the\nspace.  We charge only the cost of materials.",
        "output": "str",
        "x": 480,
        "y": 280,
        "wires": [
            [
                "bcd8091c5e630e4e"
            ]
        ],
        "icon": "node-red/comment.svg"
    },
    {
        "id": "bcd8091c5e630e4e",
        "type": "template",
        "z": "1fc7b0190a9c731d",
        "name": "metalworkshop",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "Stay out.  This place is dangerous.\nYou might suffocate from the lack of\noxygen or be shredded by the machines.",
        "output": "str",
        "x": 500,
        "y": 320,
        "wires": [
            [
                "d2732b7c26e95524"
            ]
        ],
        "icon": "node-red/comment.svg"
    },
    {
        "id": "d2732b7c26e95524",
        "type": "template",
        "z": "1fc7b0190a9c731d",
        "name": "lasercutting",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "The laser cutting is all done in this room\nbecause the machines are noisy.\nIt can be boring work because you are not allowed\nto leave them unattended in case they catch fire.\n\nSo don't be shy.  Go on in and ask what they are making.",
        "output": "str",
        "x": 730,
        "y": 200,
        "wires": [
            [
                "621febc928390def"
            ]
        ],
        "icon": "node-red/comment.svg"
    },
    {
        "id": "621febc928390def",
        "type": "template",
        "z": "1fc7b0190a9c731d",
        "name": "solderstation",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "We do all our soldering at this desk.\nThere probably isn't much to see here.\nThere are free components scattered around \neverywhere if you know where to look.",
        "output": "str",
        "x": 930,
        "y": 200,
        "wires": [
            [
                "8e98e6478f02be05"
            ]
        ],
        "icon": "node-red/comment.svg"
    },
    {
        "id": "8e98e6478f02be05",
        "type": "template",
        "z": "1fc7b0190a9c731d",
        "name": "sewingroom",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "This way leads to the sewing room. \nThere's an embroidery machine and some \nother stuff we don't have time to explain right now.",
        "output": "str",
        "x": 250,
        "y": 460,
        "wires": [
            [
                "03a5bc30e3965d6f"
            ]
        ],
        "icon": "node-red/comment.svg"
    },
    {
        "id": "03a83ed978fa2ca7",
        "type": "template",
        "z": "1fc7b0190a9c731d",
        "name": "filters",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "Take a single paper filter from the stack in \nthis this cupboard and put it in the filter tray.\nThere should be a small plastic measuring cup with it.\n",
        "output": "str",
        "x": 310,
        "y": 660,
        "wires": [
            [
                "86b22b0aa0a8e93f"
            ]
        ],
        "icon": "node-red/comment.svg"
    },
    {
        "id": "0eb8197c646f6918",
        "type": "template",
        "z": "1fc7b0190a9c731d",
        "name": "Pour water",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "Lift the lid here and pour the jug of water through \ninto the hatch through the plastic grill.\nThen replace the jug onto hot plate.",
        "output": "str",
        "x": 330,
        "y": 820,
        "wires": [
            [
                "ac7f102063c6665e"
            ]
        ],
        "icon": "node-red/comment.svg"
    },
    {
        "id": "4fd2a70c6441c9ff",
        "type": "template",
        "z": "1fc7b0190a9c731d",
        "name": "introvid1",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "This is the introvid1\n\nVideoPlaceTop: SafeARDoESIntro(1)\n\n",
        "output": "str",
        "x": 260,
        "y": 100,
        "wires": [
            [
                "0fdcd0f750827ec7"
            ]
        ],
        "icon": "node-red/comment.svg"
    },
    {
        "id": "0fdcd0f750827ec7",
        "type": "template",
        "z": "1fc7b0190a9c731d",
        "name": "introvid2",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "This is the introvid2\n\nVideoPlaceRight: SafeARDoESFacilities\n\n",
        "output": "str",
        "x": 420,
        "y": 100,
        "wires": [
            [
                "e92819cdfb9eedd5"
            ]
        ],
        "icon": "node-red/comment.svg"
    },
    {
        "id": "2bec42d4eb789896",
        "type": "comment",
        "z": "1fc7b0190a9c731d",
        "name": "Intro Script",
        "info": "Cue: Press Button to Start \n(just out of reach) \n\n***Video: Komal Madar wearing a Quest3 headset\n\nWelcome to DoESLiverpool, a community maker and \ncoworking space at the heart of Liverpool.\n\n(Komal takes headset off and looks at camera)\n\nHi, I'm Komal Madar, and I am inviting you to \nparticipate in our new experimental tour of our \nspace using the power of Augmented Reality technology.\n\nIf you feel uncomfortable at any time, simply \nstop and take the headset off.\n\nNow please step forward to click on the next button \nand advance to the next Slide\n\n\n***Video: Voice of Komal, but cut between the different items\n\nAt DoESLiverpool you can rent desks, or pay to \nbe a workshop member and use any of our shared \nequipment including laser cutters, 3D printers, \nand sewing machines.\n\n(panning shot of busy evening)\n\nEvery Thursday night and one Saturday a month we\nhave an open event when everything is free to use.\n\n\n***Video: Voice of Komal, another panning down shot \nto show the place on the floor.\n\nBefore we begin we need to check that the room is \naligned properly.  Look down at the floor ahead of \nyou and check if the yellow rectangle is properly \nframing the masking tape on the carpet.\n\nAnswer Yes to continue, or No to call for help to get \nit straightened out.\n\n\"Does this look right?  (Yes)(No)\"\n\n\n***Video: Komal again\n\nGreat.  This tour will lead you through a series of \ncheck points one at a time.  At each place there will be \na sign to explain the location or piece of equipment \nthat is in front of you.  \n\nPlease take your time and take care not trip or bump into \nanything along the way.  Most importantly, enjoy yourself.\nI will see you near the end of the tour.\n\n------\n\n",
        "x": 80,
        "y": 60,
        "wires": []
    },
    {
        "id": "e92819cdfb9eedd5",
        "type": "template",
        "z": "1fc7b0190a9c731d",
        "name": "calibration",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "Let's make sure everything's working. \n\nPress the button on this station with your index finger to continue on with the tour.\n\nVideoPlaceTop: SafeARDoESCalibration",
        "output": "str",
        "x": 610,
        "y": 100,
        "wires": [
            [
                "09fa3d523675e490"
            ]
        ],
        "icon": "node-red/comment.svg"
    },
    {
        "id": "858f51d8bd0c1b47",
        "type": "template",
        "z": "1fc7b0190a9c731d",
        "name": "displaymuseum",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "This is Museum-in-a-Box.\nIf you place one of the 3D printed itens on top\nit will tell you what it is.\n\nNextButtonDef: heat,Skip,",
        "output": "str",
        "x": 160,
        "y": 280,
        "wires": [
            [
                "9f848a9a817387d0",
                "631b7182757da827"
            ]
        ],
        "icon": "node-red/comment.svg"
    },
    {
        "id": "631b7182757da827",
        "type": "template",
        "z": "1fc7b0190a9c731d",
        "name": "displaymuseum",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "This is an example of the sort of \nthing you can make with a laser cutter.\nPick it up and take a closer look.\n\nNextButtonDef: heat,Skip,",
        "output": "str",
        "x": 160,
        "y": 320,
        "wires": [
            [
                "333eeaeea0cde9fa",
                "9f848a9a817387d0"
            ]
        ],
        "icon": "node-red/comment.svg"
    },
    {
        "id": "03a5bc30e3965d6f",
        "type": "template",
        "z": "1fc7b0190a9c731d",
        "name": "quietroom",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "Here is a dark quiet room you can use \nfor conference calls and meetings.\nSometimes we play VR in here.",
        "output": "str",
        "x": 440,
        "y": 460,
        "wires": [
            [
                "b58c680d5bb79a8f"
            ]
        ],
        "icon": "node-red/comment.svg"
    },
    {
        "id": "b58c680d5bb79a8f",
        "type": "template",
        "z": "1fc7b0190a9c731d",
        "name": "toilets",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "There are two toilets, \nhere and across the step.\nIf they are in use and you can't wait, \nthere's another couple downstairs.",
        "output": "str",
        "x": 630,
        "y": 460,
        "wires": [
            [
                "a7d27095ca859ced"
            ]
        ],
        "icon": "node-red/comment.svg"
    },
    {
        "id": "a7d27095ca859ced",
        "type": "template",
        "z": "1fc7b0190a9c731d",
        "name": "nook",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "The nook used to be a light well in \nthis building, which is why the bricks \nlook like they belong to the outside.\n\nSee through the windows into Room 36 \nwhich is the main co-working area. ",
        "output": "str",
        "x": 810,
        "y": 460,
        "wires": [
            [
                "4cd95aa1054bcd64"
            ]
        ],
        "icon": "node-red/comment.svg"
    },
    {
        "id": "c4f7e90f3a0870dc",
        "type": "template",
        "z": "1fc7b0190a9c731d",
        "name": "compost",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "Put the old mucky filter in the \nblack compost bucket with the screw lid on top.",
        "output": "str",
        "x": 320,
        "y": 620,
        "wires": [
            [
                "03a83ed978fa2ca7"
            ]
        ],
        "icon": "node-red/comment.svg"
    },
    {
        "id": "86b22b0aa0a8e93f",
        "type": "template",
        "z": "1fc7b0190a9c731d",
        "name": "measure",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "Find a large coffee packet in the fridge, \nmeasure a heaped serving of coffee into \nthe small plastic cup and tip it into the filter.",
        "output": "str",
        "x": 320,
        "y": 700,
        "wires": [
            [
                "01b0cdf042ad93be"
            ]
        ],
        "icon": "node-red/comment.svg"
    },
    {
        "id": "01b0cdf042ad93be",
        "type": "template",
        "z": "1fc7b0190a9c731d",
        "name": "replace filter",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "Replace the filter tray into the coffee machine \nwhere you took it from.",
        "output": "str",
        "x": 330,
        "y": 740,
        "wires": [
            [
                "66a5deae80feae29"
            ]
        ],
        "icon": "node-red/comment.svg"
    },
    {
        "id": "66a5deae80feae29",
        "type": "template",
        "z": "1fc7b0190a9c731d",
        "name": "fill water",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "After you have returned the coffee to the fridge and the cup to the filters \nyou can fill up the glass coffee jug with water from the tap.",
        "output": "str",
        "x": 320,
        "y": 780,
        "wires": [
            [
                "0eb8197c646f6918"
            ]
        ],
        "icon": "node-red/comment.svg"
    },
    {
        "id": "ac7f102063c6665e",
        "type": "template",
        "z": "1fc7b0190a9c731d",
        "name": "coffee on",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "If the coffee machine is on there will be an \norange light and the water will start to boil.\n\nCheck the push button switch behind the jug or on the \n3D printer to the left.\n\nA bell will ring when the coffee is made.",
        "output": "str",
        "x": 320,
        "y": 860,
        "wires": [
            [
                "a7d5a4f05d6917dc"
            ]
        ],
        "icon": "node-red/comment.svg"
    },
    {
        "id": "d3af75ebc97f6970",
        "type": "template",
        "z": "6446a538ec67ed6a",
        "name": "changebarrel",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "This is to change the barrel.\nGo into the room",
        "output": "str",
        "x": 130,
        "y": 80,
        "wires": [
            [
                "47ecf0449fc572ec"
            ]
        ],
        "icon": "node-red/comment.svg"
    },
    {
        "id": "47ecf0449fc572ec",
        "type": "template",
        "z": "6446a538ec67ed6a",
        "name": "entercellar",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "Go into beer cellar (not underground)\nswitch on the light",
        "output": "str",
        "x": 310,
        "y": 80,
        "wires": [
            [
                "6df53b0ec5621530"
            ]
        ],
        "icon": "node-red/comment.svg"
    },
    {
        "id": "6df53b0ec5621530",
        "type": "template",
        "z": "6446a538ec67ed6a",
        "name": "identifyempty",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "Look along the float chambers on the wall \nand identify the empty beer barrel.",
        "output": "str",
        "x": 330,
        "y": 120,
        "wires": [
            [
                "abfe3e757d41626b"
            ]
        ],
        "icon": "node-red/comment.svg"
    },
    {
        "id": "abfe3e757d41626b",
        "type": "template",
        "z": "6446a538ec67ed6a",
        "name": "switchoffgas",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "Switch off the gas tap (blue) by rotating 90 degrees",
        "output": "str",
        "x": 310,
        "y": 160,
        "wires": [
            [
                "ed6384c797682bf1"
            ]
        ],
        "icon": "node-red/comment.svg"
    },
    {
        "id": "ddd06c85118e4f14",
        "type": "template",
        "z": "6446a538ec67ed6a",
        "name": "reconnectbarrel",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "Remove plastic cap off new barrel.\nInsert connector, twist down and push handle to lock",
        "output": "str",
        "x": 360,
        "y": 320,
        "wires": [
            [
                "342045bbea43d3eb"
            ]
        ],
        "icon": "node-red/comment.svg"
    },
    {
        "id": "7a315a30a24fbae3",
        "type": "template",
        "z": "6446a538ec67ed6a",
        "name": "changebarrel",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "Remove and replace empty barrel with same beer",
        "output": "str",
        "x": 350,
        "y": 280,
        "wires": [
            [
                "ddd06c85118e4f14"
            ]
        ],
        "icon": "node-red/comment.svg"
    },
    {
        "id": "342045bbea43d3eb",
        "type": "template",
        "z": "6446a538ec67ed6a",
        "name": "switchongas",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "Switch the gas back on at blue tap to pressurise the system",
        "output": "str",
        "x": 390,
        "y": 360,
        "wires": [
            [
                "ab8ba62c79669b39"
            ]
        ],
        "icon": "node-red/comment.svg"
    },
    {
        "id": "ab8ba62c79669b39",
        "type": "template",
        "z": "6446a538ec67ed6a",
        "name": "refillfloat",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "Press button on top of float chamber to refill the float chamber.\n\nPress black release button at bottom to release the float ball.",
        "output": "str",
        "x": 400,
        "y": 400,
        "wires": [
            [
                "c8d2de703141e8ae"
            ]
        ],
        "icon": "node-red/comment.svg"
    },
    {
        "id": "c8d2de703141e8ae",
        "type": "template",
        "z": "6446a538ec67ed6a",
        "name": "done",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "All done.  Turn off the light and leave the room",
        "output": "str",
        "x": 410,
        "y": 460,
        "wires": [
            []
        ],
        "icon": "node-red/comment.svg"
    },
    {
        "id": "ed6384c797682bf1",
        "type": "template",
        "z": "6446a538ec67ed6a",
        "name": "followline",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "Follow the gas/beer line to the barrel that needs to be changed",
        "output": "str",
        "x": 320,
        "y": 200,
        "wires": [
            [
                "264d955429db58f3"
            ]
        ],
        "icon": "node-red/comment.svg"
    },
    {
        "id": "264d955429db58f3",
        "type": "template",
        "z": "6446a538ec67ed6a",
        "name": "disconnectbarrel",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "Lift handle in centre of barrel and twist to remove the connector\n(this opens to the liquid)",
        "output": "str",
        "x": 260,
        "y": 240,
        "wires": [
            [
                "7a315a30a24fbae3"
            ]
        ],
        "icon": "node-red/comment.svg"
    },
    {
        "id": "36f69f35adb854bb",
        "type": "template",
        "z": "186aa6ef56bf872c",
        "name": "start here - STFC",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "Welcome to the first station of your QuestTour\nThis will guide you around the STFC Facility.\n\nPoke the Start button with your index \nfinger to move on. \n\nNextButtonDef: intro,Start,\n\n\n",
        "output": "str",
        "x": 110,
        "y": 40,
        "wires": [
            [
                "2dff72250dc7bbe7"
            ]
        ],
        "icon": "node-red/comment.svg"
    },
    {
        "id": "6c4c498fca77244a",
        "type": "template",
        "z": "186aa6ef56bf872c",
        "name": "end",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "You are at the end of the Augmented Reality STFC Tour.\n\nThank you for participating!\n\nWe hope you enjoyed this adventure.\n\nPlease click Start to begin again for the next person.\n\nNextButtonDef: start,Start,\n",
        "output": "str",
        "x": 290,
        "y": 280,
        "wires": [
            [
                "36f69f35adb854bb"
            ]
        ],
        "icon": "node-red/comment.svg"
    },
    {
        "id": "2dff72250dc7bbe7",
        "type": "template",
        "z": "186aa6ef56bf872c",
        "name": "entrance 2 - STFC",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "We are currently at Entrance 2. This is where our tour will begin.\n\nThe next stage is to visit the muster station outside, if conditions outside are not suitable, you can skip this step with the skip button.\n\nNextButtonDef: muster,Start,\n\nNextButtonDef: building,Skip,",
        "output": "str",
        "x": 350,
        "y": 40,
        "wires": [
            [
                "1a121fb6d6bba610",
                "300ddf222c48db30"
            ]
        ],
        "icon": "node-red/comment.svg"
    },
    {
        "id": "1a121fb6d6bba610",
        "type": "template",
        "z": "186aa6ef56bf872c",
        "name": "muster point - STFC",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "Here is Muster Point 3. In the case of an emergency evacuation, such as a fire, please congregate here.\n",
        "output": "str",
        "x": 580,
        "y": 40,
        "wires": [
            []
        ],
        "icon": "node-red/comment.svg"
    },
    {
        "id": "300ddf222c48db30",
        "type": "template",
        "z": "186aa6ef56bf872c",
        "name": "building wardens - STFC",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "Before we continue with the rest of the tour, let's go over the building wardens. Your first point of contact if anything goes wrong during your time here.\n\nThere are 3 building wardens:\n- Jack Hogarth\n- Sean Youd\n- Reda imbelyt\n\nOne of these should be available to help you with any present problems.",
        "output": "str",
        "x": 130,
        "y": 100,
        "wires": [
            [
                "c48de73fc5dabfbf"
            ]
        ],
        "icon": "node-red/comment.svg"
    },
    {
        "id": "c48de73fc5dabfbf",
        "type": "template",
        "z": "186aa6ef56bf872c",
        "name": "toilets - STFC",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "The main toilets for the floor are located here",
        "output": "str",
        "x": 360,
        "y": 100,
        "wires": [
            [
                "2e510ad4f14532dc"
            ]
        ],
        "icon": "node-red/comment.svg"
    },
    {
        "id": "f78319fe52a14d0e",
        "type": "template",
        "z": "186aa6ef56bf872c",
        "name": "accessible toilets - STFC",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "The accessible toilets are also located here. The accessible toilets are open to anyone who may need them.",
        "output": "str",
        "x": 750,
        "y": 100,
        "wires": [
            [
                "31fbe888940992c0"
            ]
        ],
        "icon": "node-red/comment.svg"
    },
    {
        "id": "2e510ad4f14532dc",
        "type": "template",
        "z": "186aa6ef56bf872c",
        "name": "lift - STFC",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "The lift up to the next floor is located here.\n\nDo not use this in the case of a fire.",
        "output": "str",
        "x": 540,
        "y": 100,
        "wires": [
            [
                "f78319fe52a14d0e"
            ]
        ],
        "icon": "node-red/comment.svg"
    },
    {
        "id": "31fbe888940992c0",
        "type": "template",
        "z": "186aa6ef56bf872c",
        "name": "stairs - STFC",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "The stairs up to the next floor are located here, use these in the case of a fire.\n\nThere is a fire exit located here.",
        "output": "str",
        "x": 970,
        "y": 100,
        "wires": [
            [
                "e2d49b5250b1a786"
            ]
        ],
        "icon": "node-red/comment.svg"
    },
    {
        "id": "8c9150cbe8d87b7e",
        "type": "template",
        "z": "186aa6ef56bf872c",
        "name": "stairs fire exit - STFC",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "This is the fire exit for the stairs",
        "output": "str",
        "x": 880,
        "y": 40,
        "wires": [
            []
        ],
        "icon": "node-red/comment.svg"
    },
    {
        "id": "e2d49b5250b1a786",
        "type": "template",
        "z": "186aa6ef56bf872c",
        "name": "kitchen - STFC",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "This is the kitchen on this floor.\n\nPlease make sure you keep it tidy, out of respect for our residents and for health and safety reasons.",
        "output": "str",
        "x": 100,
        "y": 160,
        "wires": [
            [
                "4461d7df5abadb85"
            ]
        ],
        "icon": "node-red/comment.svg"
    },
    {
        "id": "4461d7df5abadb85",
        "type": "template",
        "z": "186aa6ef56bf872c",
        "name": "project area - STFC",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "This is the door to the project area.\n\nThis is the main co-working space of the building.",
        "output": "str",
        "x": 310,
        "y": 160,
        "wires": [
            [
                "e1ef74b59a1d2057"
            ]
        ],
        "icon": "node-red/comment.svg"
    },
    {
        "id": "e1ef74b59a1d2057",
        "type": "template",
        "z": "186aa6ef56bf872c",
        "name": "project area fire escape - STFC",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "This is the fire escape for the project area.\n\nIf there is a fire in the project area, please exfiltrate through this door.",
        "output": "str",
        "x": 570,
        "y": 160,
        "wires": [
            [
                "bc453c2983e6c280"
            ]
        ],
        "icon": "node-red/comment.svg"
    },
    {
        "id": "bc453c2983e6c280",
        "type": "template",
        "z": "186aa6ef56bf872c",
        "name": "entrance 1 - STFC",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "This is Entrance 1, there is a fire call point and a power shut off button here.",
        "output": "str",
        "x": 830,
        "y": 160,
        "wires": [
            [
                "3b4982e97b0edacc"
            ]
        ],
        "icon": "node-red/comment.svg"
    },
    {
        "id": "3b4982e97b0edacc",
        "type": "template",
        "z": "186aa6ef56bf872c",
        "name": "prototyping area - STFC",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "This is the prototyping room.\n\nThis room is access controlled.\n\nBe aware that this room is a low oxygen hazard. If the oxygen gets too low in this room, the alarm should sound.\n\nThere is also a possible caustic acid hazard in this room.",
        "output": "str",
        "x": 130,
        "y": 220,
        "wires": [
            [
                "b54c49be50de3bcc"
            ]
        ],
        "icon": "node-red/comment.svg"
    },
    {
        "id": "b54c49be50de3bcc",
        "type": "template",
        "z": "186aa6ef56bf872c",
        "name": "first aid point - STFC",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "This is the first aid point.\n\nIt is recommended to come here for any first aid needs. The first aid point contains:\n\n- A first aid box\n- A list of the current first aiders\n- An Eye wash station\n- The emergency stop switch\n- The relevant emergency number",
        "output": "str",
        "x": 380,
        "y": 220,
        "wires": [
            [
                "ee6738ab48453f8e"
            ]
        ],
        "icon": "node-red/comment.svg"
    },
    {
        "id": "ee6738ab48453f8e",
        "type": "template",
        "z": "186aa6ef56bf872c",
        "name": "first aider offices - STFC",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "In this hallway you'll find the offices of the first aiders.",
        "output": "str",
        "x": 630,
        "y": 220,
        "wires": [
            [
                "9f21cd371f3f64c0"
            ]
        ],
        "icon": "node-red/comment.svg"
    },
    {
        "id": "9f21cd371f3f64c0",
        "type": "template",
        "z": "186aa6ef56bf872c",
        "name": "jack office - STFC",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "This is Jack Hogarth's office, one of the first aiders. \n\nYou can also contact Jack for help with booking meeting rooms.",
        "output": "str",
        "x": 870,
        "y": 220,
        "wires": [
            [
                "2ec487284399354c"
            ]
        ],
        "icon": "node-red/comment.svg"
    },
    {
        "id": "2ec487284399354c",
        "type": "template",
        "z": "186aa6ef56bf872c",
        "name": "reda office - STFC",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "This is Reda imbelyt's office, another one of the first aiders.\n\nReda was involved in the creation of this app!",
        "output": "str",
        "x": 110,
        "y": 280,
        "wires": [
            [
                "6c4c498fca77244a"
            ]
        ],
        "icon": "node-red/comment.svg"
    },
    {
        "id": "7156f3b5a3e57b15",
        "type": "ha-api",
        "z": "9c5d86c38c3086b2",
        "name": "",
        "server": "e0f05cf68b19d533",
        "version": 1,
        "debugenabled": false,
        "protocol": "websocket",
        "method": "get",
        "path": "",
        "data": "{\t    \"type\":\"config/entity_registry/update\",\t    \"entity_id\":\"text.donations\",\t    \"name\":\"namegiven\",\t    \"icon\":null,\t    \"area_id\":\"devtext\",\t    \"labels\":[\"label2\", \"label3\"]\t}",
        "dataType": "jsonata",
        "responseType": "json",
        "outputProperties": [
            {
                "property": "payload",
                "propertyType": "msg",
                "value": "",
                "valueType": "results"
            }
        ],
        "x": 670,
        "y": 780,
        "wires": [
            [
                "d5b93d0825573c8d"
            ]
        ]
    },
    {
        "id": "9073f7309ce9cc2d",
        "type": "ha-api",
        "z": "9c5d86c38c3086b2",
        "name": "nodered/discovery",
        "server": "e0f05cf68b19d533",
        "version": 1,
        "debugenabled": false,
        "protocol": "websocket",
        "method": "get",
        "path": "",
        "data": "{\t   \"type\":\"nodered/discovery\",\t   \"id\":21,\t   \"component\": \"text\",\t   \"node_id\": \"aaaa2\",\t   \"server_id\":$globalContext(\"server_id\"),\t   \"config\": {\t      \"state\":\"12345\",\t      \"label\":\"whatlabel\"\t   }\t}",
        "dataType": "jsonata",
        "responseType": "json",
        "outputProperties": [
            {
                "property": "payload",
                "propertyType": "msg",
                "value": "",
                "valueType": "results"
            }
        ],
        "x": 510,
        "y": 640,
        "wires": [
            [
                "f7fe3d2e1658c333"
            ]
        ]
    },
    {
        "id": "dd72c9f626d08eee",
        "type": "inject",
        "z": "9c5d86c38c3086b2",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 280,
        "y": 640,
        "wires": [
            [
                "9073f7309ce9cc2d"
            ]
        ]
    },
    {
        "id": "f7fe3d2e1658c333",
        "type": "debug",
        "z": "9c5d86c38c3086b2",
        "name": "debug 20",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 700,
        "y": 640,
        "wires": []
    },
    {
        "id": "3f3e509522b8726c",
        "type": "server-events",
        "z": "9c5d86c38c3086b2",
        "name": "",
        "server": "e0f05cf68b19d533",
        "version": 3,
        "exposeAsEntityConfig": "",
        "eventType": "",
        "eventData": "",
        "waitForRunning": true,
        "outputProperties": [
            {
                "property": "payload",
                "propertyType": "msg",
                "value": "",
                "valueType": "eventData"
            },
            {
                "property": "topic",
                "propertyType": "msg",
                "value": "$outputData(\"eventData\").event_type",
                "valueType": "jsonata"
            }
        ],
        "x": 260,
        "y": 740,
        "wires": [
            [
                "979e674fca07e3d1"
            ]
        ]
    },
    {
        "id": "979e674fca07e3d1",
        "type": "debug",
        "z": "9c5d86c38c3086b2",
        "name": "debug 21",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 440,
        "y": 740,
        "wires": []
    },
    {
        "id": "c92afd39cda7c35d",
        "type": "inject",
        "z": "9c5d86c38c3086b2",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 340,
        "y": 680,
        "wires": [
            [
                "028e8c99a3397225"
            ]
        ]
    },
    {
        "id": "2ca395aa479bf0f3",
        "type": "debug",
        "z": "9c5d86c38c3086b2",
        "name": "debug 22",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 720,
        "y": 680,
        "wires": []
    },
    {
        "id": "028e8c99a3397225",
        "type": "ha-api",
        "z": "9c5d86c38c3086b2",
        "name": "",
        "server": "e0f05cf68b19d533",
        "version": 1,
        "debugenabled": false,
        "protocol": "websocket",
        "method": "get",
        "path": "",
        "data": "{\t   \"type\":\"nodered/entity\",\t   \"id\":21,\t   \"node_id\": \"aaaa2\",\t   \"server_id\":$globalContext(\"server_id\"),\t   \"state\": \"jjjjj\",\t   \"labels\":[\"kkkk\"]\t}\t",
        "dataType": "jsonata",
        "responseType": "json",
        "outputProperties": [
            {
                "property": "payload",
                "propertyType": "msg",
                "value": "",
                "valueType": "results"
            }
        ],
        "x": 550,
        "y": 680,
        "wires": [
            [
                "2ca395aa479bf0f3"
            ]
        ]
    },
    {
        "id": "d5b93d0825573c8d",
        "type": "debug",
        "z": "9c5d86c38c3086b2",
        "name": "debug 23",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 820,
        "y": 780,
        "wires": []
    },
    {
        "id": "471ba9db08fd43e0",
        "type": "inject",
        "z": "9c5d86c38c3086b2",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 500,
        "y": 780,
        "wires": [
            [
                "7156f3b5a3e57b15"
            ]
        ]
    },
    {
        "id": "2a01b28a48615b59",
        "type": "ha-api",
        "z": "9c5d86c38c3086b2",
        "name": "",
        "server": "e0f05cf68b19d533",
        "version": 1,
        "debugenabled": false,
        "protocol": "websocket",
        "method": "get",
        "path": "",
        "data": "{\t    \"type\":\"config/label_registry/create\",\t    \"name\":\"questwalk1\"\t}",
        "dataType": "jsonata",
        "responseType": "json",
        "outputProperties": [
            {
                "property": "payload",
                "propertyType": "msg",
                "value": "",
                "valueType": "results"
            }
        ],
        "x": 530,
        "y": 820,
        "wires": [
            [
                "70fb9b8593da2766"
            ]
        ]
    },
    {
        "id": "70fb9b8593da2766",
        "type": "debug",
        "z": "9c5d86c38c3086b2",
        "name": "debug 26",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 680,
        "y": 820,
        "wires": []
    },
    {
        "id": "419fb8d170d5979e",
        "type": "inject",
        "z": "9c5d86c38c3086b2",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 360,
        "y": 820,
        "wires": [
            [
                "2a01b28a48615b59"
            ]
        ]
    },
    {
        "id": "1c1e544283472878",
        "type": "ha-api",
        "z": "9c5d86c38c3086b2",
        "name": "",
        "server": "e0f05cf68b19d533",
        "version": 1,
        "debugenabled": false,
        "protocol": "websocket",
        "method": "get",
        "path": "",
        "data": "{\t    \"type\":\"config/device_registry/list\"\t}",
        "dataType": "jsonata",
        "responseType": "json",
        "outputProperties": [
            {
                "property": "payload",
                "propertyType": "msg",
                "value": "",
                "valueType": "results"
            }
        ],
        "x": 390,
        "y": 880,
        "wires": [
            [
                "49068b015bf1eeb5"
            ]
        ]
    },
    {
        "id": "0cc9da7fd9d558b1",
        "type": "debug",
        "z": "9c5d86c38c3086b2",
        "name": "debug 27",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 880,
        "y": 880,
        "wires": []
    },
    {
        "id": "a11bf49326c09724",
        "type": "inject",
        "z": "9c5d86c38c3086b2",
        "name": "List Devices",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 230,
        "y": 880,
        "wires": [
            [
                "1c1e544283472878"
            ]
        ]
    },
    {
        "id": "9df1b917c7bed606",
        "type": "ha-api",
        "z": "9c5d86c38c3086b2",
        "name": "",
        "server": "e0f05cf68b19d533",
        "version": 1,
        "debugenabled": false,
        "protocol": "websocket",
        "method": "get",
        "path": "",
        "data": "{\t    \"type\":\"config/label_registry/create\",\t    \"name\":\"questwalk1\"\t}",
        "dataType": "jsonata",
        "responseType": "json",
        "outputProperties": [
            {
                "property": "payload",
                "propertyType": "msg",
                "value": "",
                "valueType": "results"
            }
        ],
        "x": 370,
        "y": 960,
        "wires": [
            [
                "33f29e35d09c978f"
            ]
        ]
    },
    {
        "id": "33f29e35d09c978f",
        "type": "debug",
        "z": "9c5d86c38c3086b2",
        "name": "debug 28",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 520,
        "y": 960,
        "wires": []
    },
    {
        "id": "a8ad33ef8569579d",
        "type": "inject",
        "z": "9c5d86c38c3086b2",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 200,
        "y": 960,
        "wires": [
            [
                "9df1b917c7bed606"
            ]
        ]
    },
    {
        "id": "49068b015bf1eeb5",
        "type": "function",
        "z": "9c5d86c38c3086b2",
        "name": "Split",
        "func": "msg.payload.forEach(function(a) { node.send(a); });",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 510,
        "y": 880,
        "wires": [
            [
                "a19129c48dcfe767"
            ]
        ]
    },
    {
        "id": "a19129c48dcfe767",
        "type": "switch",
        "z": "9c5d86c38c3086b2",
        "name": "name=Quest",
        "property": "name",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "Quest",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 670,
        "y": 880,
        "wires": [
            [
                "0cc9da7fd9d558b1"
            ]
        ]
    },
    {
        "id": "637b76cf21f2a4d2",
        "type": "debug",
        "z": "9c5d86c38c3086b2",
        "name": "debug 29",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 1240,
        "y": 460,
        "wires": []
    },
    {
        "id": "967c6ab966a11d91",
        "type": "ha-api",
        "z": "9c5d86c38c3086b2",
        "name": "EntityList",
        "server": "e0f05cf68b19d533",
        "version": 1,
        "debugenabled": false,
        "protocol": "websocket",
        "method": "get",
        "path": "",
        "data": "{\t   \"type\":\"config/entity_registry/list\",\t   \"id\":21\t}",
        "dataType": "jsonata",
        "responseType": "json",
        "outputProperties": [
            {
                "property": "payload",
                "propertyType": "msg",
                "value": "",
                "valueType": "results"
            }
        ],
        "x": 740,
        "y": 560,
        "wires": [
            [
                "5e3a1fc19db35d04"
            ]
        ]
    },
    {
        "id": "9d07893e9d6d301e",
        "type": "inject",
        "z": "9c5d86c38c3086b2",
        "name": "List all nodered entities",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 540,
        "y": 560,
        "wires": [
            [
                "967c6ab966a11d91"
            ]
        ]
    },
    {
        "id": "5e3a1fc19db35d04",
        "type": "function",
        "z": "9c5d86c38c3086b2",
        "name": "Split",
        "func": "msg.payload.forEach(function(a) {\n    node.send(a);\n});\nreturn null;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 870,
        "y": 560,
        "wires": [
            [
                "6b6728522c8440f8"
            ]
        ]
    },
    {
        "id": "6b6728522c8440f8",
        "type": "switch",
        "z": "9c5d86c38c3086b2",
        "name": "platform=nodered",
        "property": "platform",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "nodered",
                "vt": "str"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 1030,
        "y": 560,
        "wires": [
            [
                "637b76cf21f2a4d2"
            ],
            [
                "0cd4c80c02be9965"
            ]
        ]
    },
    {
        "id": "0cd4c80c02be9965",
        "type": "debug",
        "z": "9c5d86c38c3086b2",
        "name": "debug 30",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "entity_id",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1260,
        "y": 500,
        "wires": []
    },
    {
        "id": "498a2a96e940acf2",
        "type": "ha-api",
        "z": "9c5d86c38c3086b2",
        "name": "DeleteDevice",
        "server": "e0f05cf68b19d533",
        "version": 1,
        "debugenabled": false,
        "protocol": "websocket",
        "method": "get",
        "path": "",
        "data": "{\t    \"type\":\"config/device_registry/delete\",\t    \"area_id\":msg.payload\t}",
        "dataType": "jsonata",
        "responseType": "json",
        "outputProperties": [
            {
                "property": "payload",
                "propertyType": "msg",
                "value": "",
                "valueType": "results"
            }
        ],
        "x": 970,
        "y": 40,
        "wires": [
            [
                "2e1b92a0553ba0be"
            ]
        ]
    },
    {
        "id": "df4506907bfa85d1",
        "type": "ha-api",
        "z": "9c5d86c38c3086b2",
        "name": "CreateArea",
        "server": "e0f05cf68b19d533",
        "version": 1,
        "debugenabled": false,
        "protocol": "websocket",
        "method": "get",
        "path": "",
        "data": "{\t    \"type\":\"config/area_registry/create\",\t    \"name\":msg.payload\t}",
        "dataType": "jsonata",
        "responseType": "json",
        "outputProperties": [
            {
                "property": "payload",
                "propertyType": "msg",
                "value": "",
                "valueType": "results"
            }
        ],
        "x": 970,
        "y": 80,
        "wires": [
            [
                "2e1b92a0553ba0be"
            ]
        ]
    },
    {
        "id": "2e1b92a0553ba0be",
        "type": "debug",
        "z": "9c5d86c38c3086b2",
        "name": "debug 31",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1140,
        "y": 40,
        "wires": []
    },
    {
        "id": "cb8d1a1e5a104d23",
        "type": "inject",
        "z": "9c5d86c38c3086b2",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "questwalkarea",
        "payloadType": "str",
        "x": 790,
        "y": 80,
        "wires": [
            [
                "df4506907bfa85d1"
            ]
        ]
    },
    {
        "id": "24bdea99bad2666c",
        "type": "inject",
        "z": "9c5d86c38c3086b2",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "questwalkareea",
        "payloadType": "str",
        "x": 800,
        "y": 40,
        "wires": [
            [
                "498a2a96e940acf2"
            ]
        ]
    },
    {
        "id": "f195f5dd8bfe6e53",
        "type": "ha-api",
        "z": "9c5d86c38c3086b2",
        "name": "List",
        "server": "e0f05cf68b19d533",
        "version": 1,
        "debugenabled": false,
        "protocol": "websocket",
        "method": "get",
        "path": "",
        "data": "{\t    \"type\":$join([\"config/\", msg.payload, \"/list\"])\t}",
        "dataType": "jsonata",
        "responseType": "json",
        "outputProperties": [
            {
                "property": "payload",
                "propertyType": "msg",
                "value": "",
                "valueType": "results"
            }
        ],
        "x": 830,
        "y": 120,
        "wires": [
            [
                "78cce50977e453d3"
            ]
        ]
    },
    {
        "id": "e823a5a2ed0bac9e",
        "type": "debug",
        "z": "9c5d86c38c3086b2",
        "name": "debug 32",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 1240,
        "y": 120,
        "wires": []
    },
    {
        "id": "5bb86a4c2fb87ff4",
        "type": "inject",
        "z": "9c5d86c38c3086b2",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "area_registry",
        "payloadType": "str",
        "x": 550,
        "y": 80,
        "wires": [
            [
                "f195f5dd8bfe6e53"
            ]
        ]
    },
    {
        "id": "78cce50977e453d3",
        "type": "function",
        "z": "9c5d86c38c3086b2",
        "name": "Split",
        "func": "msg.payload.forEach(function(a) { node.send(a); });",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 970,
        "y": 120,
        "wires": [
            [
                "e823a5a2ed0bac9e",
                "8f7361744d092e65",
                "54dfda8f1e4598e6"
            ]
        ]
    },
    {
        "id": "ab37321e8082ca2a",
        "type": "inject",
        "z": "9c5d86c38c3086b2",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "entity_registry",
        "payloadType": "str",
        "x": 550,
        "y": 120,
        "wires": [
            [
                "f195f5dd8bfe6e53"
            ]
        ]
    },
    {
        "id": "5b767a908c0c0e38",
        "type": "inject",
        "z": "9c5d86c38c3086b2",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "device_registry",
        "payloadType": "str",
        "x": 560,
        "y": 160,
        "wires": [
            [
                "f195f5dd8bfe6e53"
            ]
        ]
    },
    {
        "id": "63bc11327f702d3c",
        "type": "ha-text",
        "z": "9c5d86c38c3086b2",
        "name": "questwalkentity",
        "version": 1,
        "debugenabled": false,
        "inputs": 1,
        "outputs": 1,
        "entityConfig": "a0413381ff7cd93f",
        "exposeAsEntityConfig": "",
        "mode": "set",
        "value": "payload",
        "valueType": "msg",
        "outputProperties": [
            {
                "property": "payload",
                "propertyType": "msg",
                "value": "",
                "valueType": "value"
            },
            {
                "property": "previousValue",
                "propertyType": "msg",
                "value": "",
                "valueType": "previousValue"
            }
        ],
        "x": 400,
        "y": 220,
        "wires": [
            [
                "9f735f569c3259e9"
            ]
        ]
    },
    {
        "id": "8e19c4f48d32af95",
        "type": "inject",
        "z": "9c5d86c38c3086b2",
        "name": "Make QuestWalk Device",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "questwalkdevice",
        "payloadType": "str",
        "x": 170,
        "y": 220,
        "wires": [
            [
                "63bc11327f702d3c"
            ]
        ]
    },
    {
        "id": "9f735f569c3259e9",
        "type": "debug",
        "z": "9c5d86c38c3086b2",
        "name": "debug 33",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 700,
        "y": 220,
        "wires": []
    },
    {
        "id": "c9dfc1494b1c6094",
        "type": "ha-api",
        "z": "9c5d86c38c3086b2",
        "name": "nodered/discovery",
        "server": "e0f05cf68b19d533",
        "version": 1,
        "debugenabled": false,
        "protocol": "websocket",
        "method": "get",
        "path": "",
        "data": "{\t   \"type\":\"nodered/discovery\",\t   \"id\":21,\t   \"component\": \"text\",\t   \"node_id\": \"aaaa2\",\t   \"server_id\":$globalContext(\"server_id\"),\t   \"config\": {\t      \"state\":\"12345\",\t      \"label\":\"whatlabel\"\t   }\t}",
        "dataType": "jsonata",
        "responseType": "json",
        "outputProperties": [
            {
                "property": "payload",
                "propertyType": "msg",
                "value": "",
                "valueType": "results"
            }
        ],
        "x": 510,
        "y": 600,
        "wires": [
            []
        ]
    },
    {
        "id": "8f7361744d092e65",
        "type": "switch",
        "z": "9c5d86c38c3086b2",
        "name": "platform=nodered",
        "property": "platform",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "nodered",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 1130,
        "y": 160,
        "wires": [
            [
                "dd0bde06841ea4ba"
            ]
        ]
    },
    {
        "id": "dd0bde06841ea4ba",
        "type": "debug",
        "z": "9c5d86c38c3086b2",
        "name": "debug 34",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 1260,
        "y": 160,
        "wires": []
    },
    {
        "id": "54dfda8f1e4598e6",
        "type": "switch",
        "z": "9c5d86c38c3086b2",
        "name": "manufacturer=nodered",
        "property": "manufacturer",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "Node-RED",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 1140,
        "y": 200,
        "wires": [
            [
                "dd0bde06841ea4ba"
            ]
        ]
    },
    {
        "id": "c089f7fa09bb5e0a",
        "type": "inject",
        "z": "9c5d86c38c3086b2",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 140,
        "y": 300,
        "wires": [
            [
                "ec68d3827dba94c2"
            ]
        ]
    },
    {
        "id": "ec68d3827dba94c2",
        "type": "ha-api",
        "z": "9c5d86c38c3086b2",
        "name": "",
        "server": "e0f05cf68b19d533",
        "version": 1,
        "debugenabled": false,
        "protocol": "websocket",
        "method": "get",
        "path": "",
        "data": "{\t   \"type\":\"nodered/device/remove\",\t   \"node_id\":\"questwalkdevice2\"\t}\t",
        "dataType": "jsonata",
        "responseType": "json",
        "outputProperties": [
            {
                "property": "payload",
                "propertyType": "msg",
                "value": "",
                "valueType": "results"
            }
        ],
        "x": 390,
        "y": 300,
        "wires": [
            [
                "ac82071a82edad92"
            ]
        ]
    },
    {
        "id": "ac82071a82edad92",
        "type": "debug",
        "z": "9c5d86c38c3086b2",
        "name": "debug 1",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 600,
        "y": 300,
        "wires": []
    },
    {
        "id": "b6f137529640f2cd",
        "type": "inject",
        "z": "9c5d86c38c3086b2",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "bbb2",
        "payloadType": "str",
        "x": 90,
        "y": 360,
        "wires": [
            [
                "90e8785a16fbd96e"
            ]
        ]
    },
    {
        "id": "b5864582a1e9202d",
        "type": "ha-api",
        "z": "9c5d86c38c3086b2",
        "name": "discover/text",
        "server": "e0f05cf68b19d533",
        "version": 1,
        "debugenabled": false,
        "protocol": "websocket",
        "method": "get",
        "path": "",
        "data": "{\t   \"type\":\"nodered/discovery\",\t   \"component\": \"text\",\t   \"node_id\": msg.payload,\t   \"server_id\":\"ss\",\t   \"device_info\":{},\t}",
        "dataType": "jsonata",
        "responseType": "json",
        "outputProperties": [
            {
                "property": "payload",
                "propertyType": "msg",
                "value": "",
                "valueType": "results"
            }
        ],
        "x": 430,
        "y": 360,
        "wires": [
            [
                "190c66ab82925ff0"
            ]
        ]
    },
    {
        "id": "190c66ab82925ff0",
        "type": "debug",
        "z": "9c5d86c38c3086b2",
        "name": "debug 35",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 640,
        "y": 360,
        "wires": []
    },
    {
        "id": "2a3489a3c001f379",
        "type": "inject",
        "z": "9c5d86c38c3086b2",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "bbb3",
        "payloadType": "str",
        "x": 90,
        "y": 400,
        "wires": [
            [
                "90e8785a16fbd96e"
            ]
        ]
    },
    {
        "id": "90e8785a16fbd96e",
        "type": "change",
        "z": "9c5d86c38c3086b2",
        "name": "entity_id",
        "rules": [
            {
                "t": "set",
                "p": "entity_id",
                "pt": "msg",
                "to": "$join([\"text.nodered_\", msg.payload])",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 240,
        "y": 360,
        "wires": [
            [
                "b5864582a1e9202d",
                "9447f91ad5d40c6b"
            ]
        ]
    },
    {
        "id": "9447f91ad5d40c6b",
        "type": "delay",
        "z": "9c5d86c38c3086b2",
        "name": "",
        "pauseType": "delay",
        "timeout": "300",
        "timeoutUnits": "milliseconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 430,
        "y": 400,
        "wires": [
            [
                "0389e15562f0b95e"
            ]
        ]
    },
    {
        "id": "f5140410cb293da9",
        "type": "ha-api",
        "z": "9c5d86c38c3086b2",
        "name": "entity-get",
        "server": "e0f05cf68b19d533",
        "version": 1,
        "debugenabled": false,
        "protocol": "websocket",
        "method": "get",
        "path": "",
        "data": "{\t   \"type\":\"config/entity_registry/get\",\t   \"entity_id\": $join([\"text.nodered_\", msg.payload])\t}",
        "dataType": "jsonata",
        "responseType": "json",
        "outputProperties": [
            {
                "property": "payload",
                "propertyType": "msg",
                "value": "",
                "valueType": "results"
            }
        ],
        "x": 800,
        "y": 280,
        "wires": [
            [
                "7ae3626a68028cd5"
            ]
        ]
    },
    {
        "id": "7ae3626a68028cd5",
        "type": "debug",
        "z": "9c5d86c38c3086b2",
        "name": "debug 36",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 820,
        "y": 360,
        "wires": []
    },
    {
        "id": "604e0f2d59fb0ec8",
        "type": "ha-api",
        "z": "9c5d86c38c3086b2",
        "name": "entity-update",
        "server": "e0f05cf68b19d533",
        "version": 1,
        "debugenabled": false,
        "protocol": "websocket",
        "method": "get",
        "path": "",
        "data": "{\t   \"type\":\"config/entity_registry/update\",\t   \"entity_id\":msg.entity_id,\t   \"area_id\":\"questwalkarea\",\t   \"name\":msg.payload\t}",
        "dataType": "jsonata",
        "responseType": "json",
        "outputProperties": [
            {
                "property": "payload",
                "propertyType": "msg",
                "value": "",
                "valueType": "results"
            }
        ],
        "x": 650,
        "y": 400,
        "wires": [
            [
                "dec587fb46a81888"
            ]
        ]
    },
    {
        "id": "dec587fb46a81888",
        "type": "debug",
        "z": "9c5d86c38c3086b2",
        "name": "debug 37",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 1060,
        "y": 400,
        "wires": []
    },
    {
        "id": "333a94cc5c6d7418",
        "type": "ha-api",
        "z": "9c5d86c38c3086b2",
        "name": "entity-update",
        "server": "e0f05cf68b19d533",
        "version": 1,
        "debugenabled": false,
        "protocol": "websocket",
        "method": "get",
        "path": "",
        "data": "{\t   \"type\":\"nodered/entity\",\t   \"node_id\":msg.payload,\t   \"server_id\":\"ss\",\t   \"state\":\"bongo\"\t}",
        "dataType": "jsonata",
        "responseType": "json",
        "outputProperties": [
            {
                "property": "payload",
                "propertyType": "msg",
                "value": "",
                "valueType": "results"
            }
        ],
        "x": 830,
        "y": 440,
        "wires": [
            [
                "dec587fb46a81888"
            ]
        ]
    },
    {
        "id": "0389e15562f0b95e",
        "type": "delay",
        "z": "9c5d86c38c3086b2",
        "name": "",
        "pauseType": "delay",
        "timeout": "300",
        "timeoutUnits": "milliseconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 650,
        "y": 440,
        "wires": [
            []
        ]
    },
    {
        "id": "f3f3fafed626ed19",
        "type": "mqtt out",
        "z": "4c8d6de6577322fb",
        "name": "",
        "topic": "doesliverpool/coffeemessage",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "28f999c6149902c4",
        "x": 740,
        "y": 1120,
        "wires": []
    },
    {
        "id": "8b475f325107ceb4",
        "type": "inject",
        "z": "4c8d6de6577322fb",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "YepYep",
        "payloadType": "str",
        "x": 90,
        "y": 1160,
        "wires": [
            [
                "48b46f40e4ff3876"
            ]
        ]
    },
    {
        "id": "48b46f40e4ff3876",
        "type": "function",
        "z": "4c8d6de6577322fb",
        "name": "append count",
        "func": "var c = flow.get(\"msgcount\")|0;\nmsg.payload = msg.payload + String(c);\nflow.set(\"msgcount\", c + 1);\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 460,
        "y": 1180,
        "wires": [
            [
                "f3f3fafed626ed19"
            ]
        ]
    },
    {
        "id": "ca30d4dd0d957dde",
        "type": "ha-button",
        "z": "4c8d6de6577322fb",
        "name": "AlexButtonName",
        "version": 0,
        "debugenabled": false,
        "outputs": 1,
        "entityConfig": "26ec5cd84cdf971f",
        "outputProperties": [
            {
                "property": "payload",
                "propertyType": "msg",
                "value": "",
                "valueType": "entityState"
            },
            {
                "property": "topic",
                "propertyType": "msg",
                "value": "",
                "valueType": "triggerId"
            },
            {
                "property": "data",
                "propertyType": "msg",
                "value": "",
                "valueType": "entity"
            }
        ],
        "x": 160,
        "y": 1360,
        "wires": [
            [
                "64c4ed4efb6dd61d"
            ]
        ]
    },
    {
        "id": "373b59702f4f13a7",
        "type": "debug",
        "z": "4c8d6de6577322fb",
        "name": "debug 3",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 620,
        "y": 1200,
        "wires": []
    },
    {
        "id": "64c4ed4efb6dd61d",
        "type": "change",
        "z": "4c8d6de6577322fb",
        "name": "AlexButtonPressed",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "AlexButtonPressed",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 250,
        "y": 1280,
        "wires": [
            [
                "373b59702f4f13a7",
                "48b46f40e4ff3876"
            ]
        ]
    },
    {
        "id": "015cec314d84f62b",
        "type": "ha-text",
        "z": "4c8d6de6577322fb",
        "name": "texttestt",
        "version": 1,
        "debugenabled": false,
        "inputs": 1,
        "outputs": 1,
        "entityConfig": "a0413381ff7cd93f",
        "exposeAsEntityConfig": "",
        "mode": "set",
        "value": "payload",
        "valueType": "msg",
        "outputProperties": [
            {
                "property": "payload",
                "propertyType": "msg",
                "value": "",
                "valueType": "value"
            },
            {
                "property": "previousValue",
                "propertyType": "msg",
                "value": "",
                "valueType": "previousValue"
            }
        ],
        "x": 590,
        "y": 1280,
        "wires": [
            [
                "c529e9e965507cb4"
            ]
        ]
    },
    {
        "id": "c529e9e965507cb4",
        "type": "debug",
        "z": "4c8d6de6577322fb",
        "name": "debug 7",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 770,
        "y": 1260,
        "wires": []
    },
    {
        "id": "eaee9700f5216543",
        "type": "inject",
        "z": "4c8d6de6577322fb",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 90,
        "y": 1180,
        "wires": [
            [
                "495a6d57ecb867f8"
            ]
        ]
    },
    {
        "id": "495a6d57ecb867f8",
        "type": "template",
        "z": "4c8d6de6577322fb",
        "name": "",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "This is the payload: {{payload}} !\n\nHere is a a few more lines of text\nand so it goes",
        "output": "str",
        "x": 260,
        "y": 1220,
        "wires": [
            [
                "b12ffd84a9ed4032",
                "015cec314d84f62b"
            ]
        ]
    },
    {
        "id": "b12ffd84a9ed4032",
        "type": "debug",
        "z": "4c8d6de6577322fb",
        "name": "debug 8",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 500,
        "y": 1140,
        "wires": []
    },
    {
        "id": "da5b2202abb78551",
        "type": "change",
        "z": "4c8d6de6577322fb",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 200,
        "y": 1080,
        "wires": [
            []
        ]
    },
    {
        "id": "e5fd23dd2b866eb2",
        "type": "ha-api",
        "z": "4c8d6de6577322fb",
        "name": "",
        "server": "e0f05cf68b19d533",
        "version": 1,
        "debugenabled": false,
        "protocol": "websocket",
        "method": "get",
        "path": "",
        "data": "{\t   \"type\":\"nodered/discovery\",\t   \"id\":21,\t   \"component\": \"text\",\t   \"node_id\": msg.name,\t   \"server_id\":$globalContext(\"server_id\"),\t   \"config\": {\t       \"name\": msg.name\t   }\t}",
        "dataType": "jsonata",
        "responseType": "json",
        "outputProperties": [
            {
                "property": "payload",
                "propertyType": "msg",
                "value": "",
                "valueType": "results"
            }
        ],
        "x": 470,
        "y": 360,
        "wires": [
            [
                "5ef8cab97ae23409"
            ]
        ]
    },
    {
        "id": "69dbdbb6b5c021e6",
        "type": "inject",
        "z": "4c8d6de6577322fb",
        "name": "",
        "props": [
            {
                "p": "name",
                "v": "yourthing",
                "vt": "str"
            },
            {
                "p": "state",
                "v": "abc",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 110,
        "y": 340,
        "wires": [
            [
                "5387a835de2d1089"
            ]
        ]
    },
    {
        "id": "5ef8cab97ae23409",
        "type": "debug",
        "z": "4c8d6de6577322fb",
        "name": "debug 9",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 620,
        "y": 360,
        "wires": []
    },
    {
        "id": "b141d7dbcc7fe4b9",
        "type": "ha-api",
        "z": "4c8d6de6577322fb",
        "name": "",
        "server": "e0f05cf68b19d533",
        "version": 1,
        "debugenabled": false,
        "protocol": "websocket",
        "method": "get",
        "path": "",
        "data": "{\t  \"id\": 19,\t  \"type\": \"get_config\"\t}",
        "dataType": "jsonata",
        "responseType": "json",
        "outputProperties": [
            {
                "property": "payload",
                "propertyType": "msg",
                "value": "",
                "valueType": "results"
            }
        ],
        "x": 980,
        "y": 1200,
        "wires": [
            [
                "560f10e926f43592"
            ]
        ]
    },
    {
        "id": "4121ca3ec5ac8250",
        "type": "inject",
        "z": "4c8d6de6577322fb",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 840,
        "y": 1200,
        "wires": [
            [
                "b141d7dbcc7fe4b9"
            ]
        ]
    },
    {
        "id": "560f10e926f43592",
        "type": "debug",
        "z": "4c8d6de6577322fb",
        "name": "debug 10",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1150,
        "y": 1200,
        "wires": []
    },
    {
        "id": "4fabddfd2a5ed381",
        "type": "ha-api",
        "z": "4c8d6de6577322fb",
        "name": "",
        "server": "e0f05cf68b19d533",
        "version": 1,
        "debugenabled": false,
        "protocol": "websocket",
        "method": "get",
        "path": "",
        "data": "{\t   \"type\":\"nodered/entity\",\t   \"id\":21,\t   \"node_id\": msg.name,\t   \"server_id\":$globalContext(\"server_id\"),\t   \"state\": msg.state\t}\t",
        "dataType": "jsonata",
        "responseType": "json",
        "outputProperties": [
            {
                "property": "payload",
                "propertyType": "msg",
                "value": "",
                "valueType": "results"
            }
        ],
        "x": 530,
        "y": 400,
        "wires": [
            [
                "4b5ef42cb984ee1f"
            ]
        ]
    },
    {
        "id": "4b5ef42cb984ee1f",
        "type": "debug",
        "z": "4c8d6de6577322fb",
        "name": "debug 11",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 680,
        "y": 400,
        "wires": []
    },
    {
        "id": "977291ab5f4140bd",
        "type": "change",
        "z": "4c8d6de6577322fb",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "server_id",
                "pt": "global",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 290,
        "y": 280,
        "wires": [
            []
        ]
    },
    {
        "id": "ab74e40d12569d55",
        "type": "inject",
        "z": "4c8d6de6577322fb",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "whatever",
        "payloadType": "str",
        "x": 100,
        "y": 280,
        "wires": [
            [
                "977291ab5f4140bd"
            ]
        ]
    },
    {
        "id": "b29da85209585bac",
        "type": "delay",
        "z": "4c8d6de6577322fb",
        "name": "",
        "pauseType": "delay",
        "timeout": "500",
        "timeoutUnits": "milliseconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 330,
        "y": 400,
        "wires": [
            [
                "4fabddfd2a5ed381",
                "f5744a9b8f92af7c"
            ]
        ]
    },
    {
        "id": "c401c67fd7944867",
        "type": "ha-fire-event",
        "z": "4c8d6de6577322fb",
        "name": "",
        "server": "e0f05cf68b19d533",
        "version": 0,
        "event": "station_text",
        "data": "{\"text\":msg.payload, \"name\":msg.name, \"entityConfig\":msg.name }",
        "dataType": "jsonata",
        "x": 730,
        "y": 440,
        "wires": [
            [
                "0cf97ed270a5e35d"
            ]
        ]
    },
    {
        "id": "5387a835de2d1089",
        "type": "template",
        "z": "4c8d6de6577322fb",
        "name": "S1",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "Welcome to the first station of your QuestTour\nThis will guide you around the DoESLiverpool \nhackspace.\n\n",
        "output": "str",
        "x": 130,
        "y": 380,
        "wires": [
            [
                "b29da85209585bac",
                "e5fd23dd2b866eb2"
            ]
        ]
    },
    {
        "id": "f5744a9b8f92af7c",
        "type": "delay",
        "z": "4c8d6de6577322fb",
        "name": "",
        "pauseType": "delay",
        "timeout": "500",
        "timeoutUnits": "milliseconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 550,
        "y": 440,
        "wires": [
            [
                "c401c67fd7944867"
            ]
        ]
    },
    {
        "id": "0cf97ed270a5e35d",
        "type": "debug",
        "z": "4c8d6de6577322fb",
        "name": "debug 6",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 900,
        "y": 440,
        "wires": []
    },
    {
        "id": "f529f2ee40816b2b",
        "type": "change",
        "z": "4c8d6de6577322fb",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "name",
                "pt": "msg",
                "to": "S1",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 220,
        "y": 700,
        "wires": [
            [
                "41d0fca1cd675a00"
            ]
        ]
    },
    {
        "id": "41d0fca1cd675a00",
        "type": "change",
        "z": "4c8d6de6577322fb",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 500,
        "y": 700,
        "wires": [
            []
        ]
    },
    {
        "id": "cb6269f3d0909f43",
        "type": "function",
        "z": "4c8d6de6577322fb",
        "name": "function 1",
        "func": "\nmsg.payload = flow.keys();\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 380,
        "y": 500,
        "wires": [
            [
                "952b3aa724846f6b"
            ]
        ]
    },
    {
        "id": "952b3aa724846f6b",
        "type": "debug",
        "z": "4c8d6de6577322fb",
        "name": "debug 4",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 560,
        "y": 500,
        "wires": []
    },
    {
        "id": "5b14169c841ac7fa",
        "type": "inject",
        "z": "4c8d6de6577322fb",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 170,
        "y": 500,
        "wires": [
            [
                "cb6269f3d0909f43"
            ]
        ]
    }
]