flows.json
[
    {
        "id": "4c8d6de6577322fb",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "3b09bd15e699321e",
        "type": "tab",
        "label": "Programatic",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "1fc7b0190a9c731d",
        "type": "tab",
        "label": "Flow 3",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "e0f05cf68b19d533",
        "type": "server",
        "name": "Home Assistant (MR5G)",
        "version": 5,
        "addon": false,
        "rejectUnauthorizedCerts": false,
        "ha_boolean": "y|yes|true|on|home|open",
        "connectionDelay": true,
        "cacheJson": true,
        "heartbeat": false,
        "heartbeatInterval": 30,
        "areaSelector": "friendlyName",
        "deviceSelector": "friendlyName",
        "entitySelector": "friendlyName",
        "statusSeparator": ": ",
        "statusYear": "hidden",
        "statusMonth": "short",
        "statusDay": "numeric",
        "statusHourCycle": "default",
        "statusTimeFormat": "h:m",
        "enableGlobalContextStore": false
    },
    {
        "id": "4f6e4706c65a1ceb",
        "type": "ha-device-config",
        "name": "devtest",
        "hwVersion": "",
        "manufacturer": "Node-RED",
        "model": "",
        "swVersion": ""
    },
    {
        "id": "25a36e10a1e235f4",
        "type": "ha-entity-config",
        "server": "e0f05cf68b19d533",
        "deviceConfig": "4f6e4706c65a1ceb",
        "name": "",
        "version": 6,
        "entityType": "switch",
        "haConfig": [
            {
                "property": "name",
                "value": ""
            },
            {
                "property": "icon",
                "value": ""
            },
            {
                "property": "entity_picture",
                "value": ""
            },
            {
                "property": "entity_category",
                "value": ""
            },
            {
                "property": "device_class",
                "value": ""
            }
        ],
        "resend": false,
        "debugEnabled": false
    },
    {
        "id": "f8663e7be20d92fb",
        "type": "ha-entity-config",
        "server": "e0f05cf68b19d533",
        "deviceConfig": "",
        "name": "HA",
        "version": 6,
        "entityType": "button",
        "haConfig": [
            {
                "property": "name",
                "value": ""
            },
            {
                "property": "icon",
                "value": ""
            },
            {
                "property": "entity_picture",
                "value": ""
            },
            {
                "property": "entity_category",
                "value": ""
            },
            {
                "property": "device_class",
                "value": ""
            }
        ],
        "resend": false,
        "debugEnabled": false
    },
    {
        "id": "26ec5cd84cdf971f",
        "type": "ha-entity-config",
        "server": "e0f05cf68b19d533",
        "deviceConfig": "4f6e4706c65a1ceb",
        "name": "AlexButton",
        "version": 6,
        "entityType": "button",
        "haConfig": [
            {
                "property": "name",
                "value": ""
            },
            {
                "property": "icon",
                "value": ""
            },
            {
                "property": "entity_picture",
                "value": ""
            },
            {
                "property": "entity_category",
                "value": ""
            },
            {
                "property": "device_class",
                "value": ""
            }
        ],
        "resend": false,
        "debugEnabled": false
    },
    {
        "id": "28f999c6149902c4",
        "type": "mqtt-broker",
        "name": "mdxyz",
        "broker": "mosquitto.doesliverpool.xyz",
        "port": 1883,
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": 4,
        "keepalive": 60,
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "c69cb3d384026bda",
        "type": "ha-entity-config",
        "server": "e0f05cf68b19d533",
        "deviceConfig": "4f6e4706c65a1ceb",
        "name": "ggg",
        "version": 6,
        "entityType": "number",
        "haConfig": [
            {
                "property": "name",
                "value": ""
            },
            {
                "property": "icon",
                "value": ""
            },
            {
                "property": "entity_picture",
                "value": ""
            },
            {
                "property": "entity_category",
                "value": ""
            },
            {
                "property": "device_class",
                "value": ""
            },
            {
                "property": "unit_of_measurement",
                "value": ""
            },
            {
                "property": "min_value",
                "value": ""
            },
            {
                "property": "max_value",
                "value": ""
            },
            {
                "property": "step_value",
                "value": ""
            },
            {
                "property": "mode",
                "value": "auto"
            }
        ],
        "resend": false,
        "debugEnabled": false
    },
    {
        "id": "a0413381ff7cd93f",
        "type": "ha-entity-config",
        "server": "e0f05cf68b19d533",
        "deviceConfig": "4f6e4706c65a1ceb",
        "name": "texttest",
        "version": 6,
        "entityType": "text",
        "haConfig": [
            {
                "property": "name",
                "value": ""
            },
            {
                "property": "icon",
                "value": ""
            },
            {
                "property": "entity_picture",
                "value": ""
            },
            {
                "property": "entity_category",
                "value": ""
            },
            {
                "property": "mode",
                "value": "text"
            },
            {
                "property": "min_length",
                "value": ""
            },
            {
                "property": "max_length",
                "value": ""
            },
            {
                "property": "pattern",
                "value": ""
            }
        ],
        "resend": false,
        "debugEnabled": false
    },
    {
        "id": "b8acaaa854c1dd5a",
        "type": "ha-entity-config",
        "server": "e0f05cf68b19d533",
        "deviceConfig": "4f6e4706c65a1ceb",
        "name": "selecttest",
        "version": 6,
        "entityType": "select",
        "haConfig": [
            {
                "property": "name",
                "value": ""
            },
            {
                "property": "icon",
                "value": ""
            },
            {
                "property": "entity_picture",
                "value": ""
            },
            {
                "property": "entity_category",
                "value": ""
            },
            {
                "property": "options",
                "value": [
                    "option1"
                ]
            }
        ],
        "resend": false,
        "debugEnabled": false
    },
    {
        "id": "bd5d61c3f5eb6196",
        "type": "ha-entity-config",
        "server": "e0f05cf68b19d533",
        "deviceConfig": "4f6e4706c65a1ceb",
        "name": "CStation2",
        "version": 6,
        "entityType": "text",
        "haConfig": [
            {
                "property": "name",
                "value": ""
            },
            {
                "property": "icon",
                "value": ""
            },
            {
                "property": "entity_picture",
                "value": ""
            },
            {
                "property": "entity_category",
                "value": ""
            },
            {
                "property": "mode",
                "value": "text"
            },
            {
                "property": "min_length",
                "value": ""
            },
            {
                "property": "max_length",
                "value": ""
            },
            {
                "property": "pattern",
                "value": ""
            }
        ],
        "resend": false,
        "debugEnabled": false
    },
    {
        "id": "6f324aa6935d2242",
        "type": "ha-entity-config",
        "server": "e0f05cf68b19d533",
        "deviceConfig": "4f6e4706c65a1ceb",
        "name": "S2",
        "version": 6,
        "entityType": "text",
        "haConfig": [
            {
                "property": "name",
                "value": ""
            },
            {
                "property": "icon",
                "value": ""
            },
            {
                "property": "entity_picture",
                "value": ""
            },
            {
                "property": "entity_category",
                "value": ""
            },
            {
                "property": "mode",
                "value": "text"
            },
            {
                "property": "min_length",
                "value": ""
            },
            {
                "property": "max_length",
                "value": ""
            },
            {
                "property": "pattern",
                "value": ""
            }
        ],
        "resend": false,
        "debugEnabled": false
    },
    {
        "id": "4a56c15046029a88",
        "type": "mqtt-broker",
        "name": "",
        "broker": "mr5g.dynamicdevices.co.uk",
        "port": 1883,
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": 4,
        "keepalive": 60,
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "d33f582efe871e24",
        "type": "ha-entity-config",
        "server": "e0f05cf68b19d533",
        "deviceConfig": "4f6e4706c65a1ceb",
        "name": "S1",
        "version": 6,
        "entityType": "text",
        "haConfig": [
            {
                "property": "name",
                "value": ""
            },
            {
                "property": "icon",
                "value": ""
            },
            {
                "property": "entity_picture",
                "value": ""
            },
            {
                "property": "entity_category",
                "value": ""
            },
            {
                "property": "mode",
                "value": "text"
            },
            {
                "property": "min_length",
                "value": ""
            },
            {
                "property": "max_length",
                "value": ""
            },
            {
                "property": "pattern",
                "value": ""
            }
        ],
        "resend": false,
        "debugEnabled": false
    },
    {
        "id": "2bfdfdd5.245c92",
        "type": "server",
        "name": "Home Assistant",
        "version": 5,
        "addon": true,
        "rejectUnauthorizedCerts": true,
        "ha_boolean": "y|yes|true|on|home|open",
        "connectionDelay": true,
        "cacheJson": true,
        "heartbeat": false,
        "heartbeatInterval": 30,
        "areaSelector": "friendlyName",
        "deviceSelector": "friendlyName",
        "entitySelector": "friendlyName",
        "statusSeparator": "at: ",
        "statusYear": "hidden",
        "statusMonth": "short",
        "statusDay": "numeric",
        "statusHourCycle": "h23",
        "statusTimeFormat": "h:m",
        "enableGlobalContextStore": true
    },
    {
        "id": "e3304df6ff54a174",
        "type": "ha-switch",
        "z": "4c8d6de6577322fb",
        "name": "",
        "version": 0,
        "debugenabled": false,
        "inputs": 1,
        "outputs": 2,
        "entityConfig": "25a36e10a1e235f4",
        "enableInput": true,
        "outputOnStateChange": true,
        "outputProperties": [
            {
                "property": "outputType",
                "propertyType": "msg",
                "value": "state change",
                "valueType": "str"
            },
            {
                "property": "payload",
                "propertyType": "msg",
                "value": "",
                "valueType": "entityState"
            }
        ],
        "x": 390,
        "y": 860,
        "wires": [
            [
                "e7363f487bb5639f"
            ],
            []
        ]
    },
    {
        "id": "e7363f487bb5639f",
        "type": "debug",
        "z": "4c8d6de6577322fb",
        "name": "debug 2",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 640,
        "y": 860,
        "wires": []
    },
    {
        "id": "f3f3fafed626ed19",
        "type": "mqtt out",
        "z": "4c8d6de6577322fb",
        "name": "",
        "topic": "doesliverpool/coffeemessage",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "28f999c6149902c4",
        "x": 800,
        "y": 900,
        "wires": []
    },
    {
        "id": "8b475f325107ceb4",
        "type": "inject",
        "z": "4c8d6de6577322fb",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "YepYep",
        "payloadType": "str",
        "x": 130,
        "y": 900,
        "wires": [
            [
                "48b46f40e4ff3876"
            ]
        ]
    },
    {
        "id": "48b46f40e4ff3876",
        "type": "function",
        "z": "4c8d6de6577322fb",
        "name": "append count",
        "func": "var c = flow.get(\"msgcount\")|0;\nmsg.payload = msg.payload + String(c);\nflow.set(\"msgcount\", c + 1);\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 500,
        "y": 920,
        "wires": [
            [
                "f3f3fafed626ed19"
            ]
        ]
    },
    {
        "id": "ca30d4dd0d957dde",
        "type": "ha-button",
        "z": "4c8d6de6577322fb",
        "name": "AlexButtonName",
        "version": 0,
        "debugenabled": false,
        "outputs": 1,
        "entityConfig": "26ec5cd84cdf971f",
        "outputProperties": [
            {
                "property": "payload",
                "propertyType": "msg",
                "value": "",
                "valueType": "entityState"
            },
            {
                "property": "topic",
                "propertyType": "msg",
                "value": "",
                "valueType": "triggerId"
            },
            {
                "property": "data",
                "propertyType": "msg",
                "value": "",
                "valueType": "entity"
            }
        ],
        "x": 120,
        "y": 940,
        "wires": [
            [
                "64c4ed4efb6dd61d"
            ]
        ]
    },
    {
        "id": "373b59702f4f13a7",
        "type": "debug",
        "z": "4c8d6de6577322fb",
        "name": "debug 3",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 660,
        "y": 940,
        "wires": []
    },
    {
        "id": "64c4ed4efb6dd61d",
        "type": "change",
        "z": "4c8d6de6577322fb",
        "name": "AlexButtonPressed",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "AlexButtonPressed",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 310,
        "y": 940,
        "wires": [
            [
                "373b59702f4f13a7",
                "48b46f40e4ff3876"
            ]
        ]
    },
    {
        "id": "5616480acaba2b30",
        "type": "ha-switch",
        "z": "4c8d6de6577322fb",
        "name": "Switch2",
        "version": 0,
        "debugenabled": false,
        "inputs": 1,
        "outputs": 2,
        "entityConfig": "25a36e10a1e235f4",
        "enableInput": true,
        "outputOnStateChange": false,
        "outputProperties": [
            {
                "property": "outputType",
                "propertyType": "msg",
                "value": "state change",
                "valueType": "str"
            },
            {
                "property": "payload",
                "propertyType": "msg",
                "value": "",
                "valueType": "entityState"
            }
        ],
        "x": 170,
        "y": 1000,
        "wires": [
            [],
            []
        ]
    },
    {
        "id": "392a2cbdc383fa16",
        "type": "ha-number",
        "z": "4c8d6de6577322fb",
        "name": "NDnumber",
        "version": 1,
        "debugenabled": false,
        "inputs": 0,
        "outputs": 1,
        "entityConfig": "c69cb3d384026bda",
        "exposeAsEntityConfig": "",
        "mode": "listen",
        "value": "payload",
        "valueType": "msg",
        "outputProperties": [
            {
                "property": "payload",
                "propertyType": "msg",
                "value": "",
                "valueType": "value"
            },
            {
                "property": "previousValue",
                "propertyType": "msg",
                "value": "",
                "valueType": "previousValue"
            }
        ],
        "x": 380,
        "y": 980,
        "wires": [
            [
                "d310eac7e529951c"
            ]
        ]
    },
    {
        "id": "d310eac7e529951c",
        "type": "debug",
        "z": "4c8d6de6577322fb",
        "name": "debug 4",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 580,
        "y": 980,
        "wires": []
    },
    {
        "id": "17178a993cd42f7b",
        "type": "inject",
        "z": "4c8d6de6577322fb",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 200,
        "y": 860,
        "wires": [
            [
                "e3304df6ff54a174"
            ]
        ]
    },
    {
        "id": "015cec314d84f62b",
        "type": "ha-text",
        "z": "4c8d6de6577322fb",
        "name": "texttestt",
        "version": 1,
        "debugenabled": false,
        "inputs": 1,
        "outputs": 1,
        "entityConfig": "a0413381ff7cd93f",
        "exposeAsEntityConfig": "",
        "mode": "set",
        "value": "payload",
        "valueType": "msg",
        "outputProperties": [
            {
                "property": "payload",
                "propertyType": "msg",
                "value": "",
                "valueType": "value"
            },
            {
                "property": "previousValue",
                "propertyType": "msg",
                "value": "",
                "valueType": "previousValue"
            }
        ],
        "x": 630,
        "y": 1020,
        "wires": [
            [
                "c529e9e965507cb4"
            ]
        ]
    },
    {
        "id": "c529e9e965507cb4",
        "type": "debug",
        "z": "4c8d6de6577322fb",
        "name": "debug 7",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 810,
        "y": 1000,
        "wires": []
    },
    {
        "id": "2c651b58284b22f1",
        "type": "inject",
        "z": "4c8d6de6577322fb",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "Testing text again\\nnew line",
        "payloadType": "str",
        "x": 200,
        "y": 1040,
        "wires": [
            [
                "015cec314d84f62b"
            ]
        ]
    },
    {
        "id": "942b0f30f7b481ad",
        "type": "inject",
        "z": "4c8d6de6577322fb",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "you never know",
        "payloadType": "str",
        "x": 370,
        "y": 1060,
        "wires": [
            [
                "015cec314d84f62b"
            ]
        ]
    },
    {
        "id": "024bbde4df5a50bd",
        "type": "function",
        "z": "4c8d6de6577322fb",
        "name": "function 1",
        "func": "msg.payload = \"Hi there  \\\n\\\nThis is a large amount of text\\\nin a large area that we can write up \\\n\";\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 320,
        "y": 1000,
        "wires": [
            [
                "015cec314d84f62b"
            ]
        ]
    },
    {
        "id": "eaee9700f5216543",
        "type": "inject",
        "z": "4c8d6de6577322fb",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 130,
        "y": 920,
        "wires": [
            [
                "495a6d57ecb867f8"
            ]
        ]
    },
    {
        "id": "495a6d57ecb867f8",
        "type": "template",
        "z": "4c8d6de6577322fb",
        "name": "",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "This is the payload: {{payload}} !\n\nHere is a a few more lines of text\nand so it goes",
        "output": "str",
        "x": 300,
        "y": 920,
        "wires": [
            [
                "b12ffd84a9ed4032",
                "015cec314d84f62b"
            ]
        ]
    },
    {
        "id": "b12ffd84a9ed4032",
        "type": "debug",
        "z": "4c8d6de6577322fb",
        "name": "debug 8",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 580,
        "y": 920,
        "wires": []
    },
    {
        "id": "dcea0cc832058d30",
        "type": "ha-text",
        "z": "4c8d6de6577322fb",
        "name": "S1",
        "version": 1,
        "debugenabled": false,
        "inputs": 1,
        "outputs": 1,
        "entityConfig": "d33f582efe871e24",
        "exposeAsEntityConfig": "",
        "mode": "set",
        "value": "payload",
        "valueType": "msg",
        "outputProperties": [
            {
                "property": "payload",
                "propertyType": "msg",
                "value": "",
                "valueType": "value"
            },
            {
                "property": "previousValue",
                "propertyType": "msg",
                "value": "",
                "valueType": "previousValue"
            },
            {
                "property": "name",
                "propertyType": "msg",
                "value": "name",
                "valueType": "config"
            },
            {
                "property": "entityConfig",
                "propertyType": "msg",
                "value": "entityConfig",
                "valueType": "config"
            }
        ],
        "x": 330,
        "y": 100,
        "wires": [
            [
                "18053b9ca4d13ec7"
            ]
        ]
    },
    {
        "id": "949160f179f078eb",
        "type": "inject",
        "z": "4c8d6de6577322fb",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "S2",
        "payloadType": "str",
        "x": 190,
        "y": 100,
        "wires": [
            [
                "dcea0cc832058d30"
            ]
        ]
    },
    {
        "id": "aea0dc05f58a4979",
        "type": "template",
        "z": "4c8d6de6577322fb",
        "name": "S1",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "Welcome to the first station of your QuestTour\nThis will guide you around the DoESLiverpool \nhackspace.\n\n",
        "output": "str",
        "x": 570,
        "y": 100,
        "wires": [
            [
                "665b5e101a797e54"
            ]
        ]
    },
    {
        "id": "bed601439137ba06",
        "type": "server-events",
        "z": "4c8d6de6577322fb",
        "name": "",
        "server": "e0f05cf68b19d533",
        "version": 3,
        "exposeAsEntityConfig": "",
        "eventType": "station_text",
        "eventData": "",
        "waitForRunning": true,
        "outputProperties": [
            {
                "property": "payload",
                "propertyType": "msg",
                "value": "",
                "valueType": "eventData"
            },
            {
                "property": "topic",
                "propertyType": "msg",
                "value": "$outputData(\"eventData\").event_type",
                "valueType": "jsonata"
            }
        ],
        "x": 210,
        "y": 640,
        "wires": [
            [
                "e47d6c75f547bc6a"
            ]
        ]
    },
    {
        "id": "e47d6c75f547bc6a",
        "type": "debug",
        "z": "4c8d6de6577322fb",
        "name": "debug 16",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 460,
        "y": 640,
        "wires": []
    },
    {
        "id": "665b5e101a797e54",
        "type": "ha-fire-event",
        "z": "4c8d6de6577322fb",
        "name": "",
        "server": "e0f05cf68b19d533",
        "version": 0,
        "event": "station_text",
        "data": "{\"text\":msg.payload, \"name\":msg.name, \"entityConfig\":msg.entityConfig }",
        "dataType": "jsonata",
        "x": 810,
        "y": 100,
        "wires": [
            []
        ]
    },
    {
        "id": "99c70395e5540155",
        "type": "ha-text",
        "z": "4c8d6de6577322fb",
        "name": "S2",
        "version": 1,
        "debugenabled": false,
        "inputs": 1,
        "outputs": 1,
        "entityConfig": "6f324aa6935d2242",
        "exposeAsEntityConfig": "",
        "mode": "set",
        "value": "payload",
        "valueType": "msg",
        "outputProperties": [
            {
                "property": "payload",
                "propertyType": "msg",
                "value": "",
                "valueType": "value"
            },
            {
                "property": "previousValue",
                "propertyType": "msg",
                "value": "",
                "valueType": "previousValue"
            },
            {
                "property": "name",
                "propertyType": "msg",
                "value": "name",
                "valueType": "config"
            },
            {
                "property": "entityConfig",
                "propertyType": "msg",
                "value": "entityConfig",
                "valueType": "config"
            }
        ],
        "x": 330,
        "y": 180,
        "wires": [
            [
                "18053b9ca4d13ec7"
            ]
        ]
    },
    {
        "id": "65f609a91e61dfc5",
        "type": "inject",
        "z": "4c8d6de6577322fb",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "S3",
        "payloadType": "str",
        "x": 190,
        "y": 180,
        "wires": [
            [
                "99c70395e5540155"
            ]
        ]
    },
    {
        "id": "1b7782146989d8cc",
        "type": "template",
        "z": "4c8d6de6577322fb",
        "name": "S2",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "This is the display case of stuff we've done\n\n\n",
        "output": "str",
        "x": 570,
        "y": 140,
        "wires": [
            [
                "665b5e101a797e54"
            ]
        ]
    },
    {
        "id": "18053b9ca4d13ec7",
        "type": "debug",
        "z": "4c8d6de6577322fb",
        "name": "debug 1",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 520,
        "y": 200,
        "wires": []
    },
    {
        "id": "fae44c52bd2af656",
        "type": "function",
        "z": "4c8d6de6577322fb",
        "name": "function 2",
        "func": "\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 160,
        "y": 540,
        "wires": [
            [
                "7c55438c1014e74c"
            ]
        ]
    },
    {
        "id": "7c55438c1014e74c",
        "type": "function",
        "z": "4c8d6de6577322fb",
        "name": "function 3",
        "func": "\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 370,
        "y": 540,
        "wires": [
            [
                "37c677280b46bb67"
            ]
        ]
    },
    {
        "id": "37c677280b46bb67",
        "type": "function",
        "z": "4c8d6de6577322fb",
        "name": "function 4",
        "func": "\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 550,
        "y": 540,
        "wires": [
            []
        ]
    },
    {
        "id": "da5b2202abb78551",
        "type": "change",
        "z": "4c8d6de6577322fb",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 170,
        "y": 600,
        "wires": [
            []
        ]
    },
    {
        "id": "139d311a90586900",
        "type": "inject",
        "z": "4c8d6de6577322fb",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "[{\"id\":\"3b09bd15e699321e\",\"type\":\"tab\",\"label\":\"Programatic\",\"disabled\":false,\"info\":\"\",\"env\":[]},{\"id\":\"4a852dea629635d8\",\"type\":\"inject\",\"z\":\"3b09bd15e699321e\",\"name\":\"\",\"props\":[{\"p\":\"payload\"},{\"p\":\"topic\",\"vt\":\"str\"}],\"repeat\":\"\",\"crontab\":\"\",\"once\":false,\"onceDelay\":0.1,\"topic\":\"\",\"payload\":\"\",\"payloadType\":\"date\",\"x\":220,\"y\":140,\"wires\":[[\"e5e11237d3c0164e\"]]},{\"id\":\"e5e11237d3c0164e\",\"type\":\"debug\",\"z\":\"3b09bd15e699321e\",\"name\":\"debug 5\",\"active\":true,\"tosidebar\":true,\"console\":false,\"tostatus\":false,\"complete\":\"false\",\"statusVal\":\"\",\"statusType\":\"auto\",\"x\":390,\"y\":140,\"wires\":[]}]",
        "payloadType": "str",
        "x": 290,
        "y": 300,
        "wires": [
            [
                "7f706885293b1d5d"
            ]
        ]
    },
    {
        "id": "7f706885293b1d5d",
        "type": "ha-api",
        "z": "4c8d6de6577322fb",
        "name": "Register Sensor",
        "server": "e0f05cf68b19d533",
        "version": 1,
        "debugenabled": false,
        "protocol": "websocket",
        "method": "get",
        "path": "",
        "data": "{\t   \"type\":\"nodered/discovery\",\t   \"component\": \"text\",\t   \"node_id\": \"ghghgh\",\t   \"config\": {\t       \"name\": \"mything\"\t   }\t}",
        "dataType": "jsonata",
        "responseType": "json",
        "outputProperties": [
            {
                "property": "payload",
                "propertyType": "msg",
                "value": "",
                "valueType": "results"
            }
        ],
        "x": 500,
        "y": 300,
        "wires": [
            [
                "b5e628659ebc305c"
            ]
        ]
    },
    {
        "id": "b5e628659ebc305c",
        "type": "debug",
        "z": "4c8d6de6577322fb",
        "name": "debug 6",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 680,
        "y": 300,
        "wires": []
    },
    {
        "id": "e5fd23dd2b866eb2",
        "type": "ha-api",
        "z": "4c8d6de6577322fb",
        "name": "",
        "server": "e0f05cf68b19d533",
        "version": 1,
        "debugenabled": false,
        "protocol": "websocket",
        "method": "get",
        "path": "",
        "data": "{\t   \"type\":\"nodered/discovery\",\t   \"id\":21,\t   \"component\": \"text\",\t   \"node_id\": \"ghghgh\",\t   \"server_id\": \"whatever\",\t   \"config\": {\t       \"name\": \"mything\"\t   }\t}",
        "dataType": "jsonata",
        "responseType": "json",
        "outputProperties": [
            {
                "property": "payload",
                "propertyType": "msg",
                "value": "",
                "valueType": "results"
            }
        ],
        "x": 450,
        "y": 400,
        "wires": [
            [
                "5ef8cab97ae23409"
            ]
        ]
    },
    {
        "id": "69dbdbb6b5c021e6",
        "type": "inject",
        "z": "4c8d6de6577322fb",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "[{\"id\":\"3b09bd15e699321e\",\"type\":\"tab\",\"label\":\"Programatic\",\"disabled\":false,\"info\":\"\",\"env\":[]},{\"id\":\"4a852dea629635d8\",\"type\":\"inject\",\"z\":\"3b09bd15e699321e\",\"name\":\"\",\"props\":[{\"p\":\"payload\"},{\"p\":\"topic\",\"vt\":\"str\"}],\"repeat\":\"\",\"crontab\":\"\",\"once\":false,\"onceDelay\":0.1,\"topic\":\"\",\"payload\":\"\",\"payloadType\":\"date\",\"x\":220,\"y\":140,\"wires\":[[\"e5e11237d3c0164e\"]]},{\"id\":\"e5e11237d3c0164e\",\"type\":\"debug\",\"z\":\"3b09bd15e699321e\",\"name\":\"debug 5\",\"active\":true,\"tosidebar\":true,\"console\":false,\"tostatus\":false,\"complete\":\"false\",\"statusVal\":\"\",\"statusType\":\"auto\",\"x\":390,\"y\":140,\"wires\":[]}]",
        "payloadType": "str",
        "x": 270,
        "y": 400,
        "wires": [
            [
                "e5fd23dd2b866eb2"
            ]
        ]
    },
    {
        "id": "5ef8cab97ae23409",
        "type": "debug",
        "z": "4c8d6de6577322fb",
        "name": "debug 9",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 660,
        "y": 400,
        "wires": []
    },
    {
        "id": "4a852dea629635d8",
        "type": "inject",
        "z": "3b09bd15e699321e",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 220,
        "y": 140,
        "wires": [
            [
                "e5e11237d3c0164e"
            ]
        ]
    },
    {
        "id": "e5e11237d3c0164e",
        "type": "debug",
        "z": "3b09bd15e699321e",
        "name": "debug 5",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 390,
        "y": 140,
        "wires": []
    },
    {
        "id": "d5c4ef79.0c564",
        "type": "ha-api",
        "z": "1fc7b0190a9c731d",
        "name": "Register Sensor",
        "version": 1,
        "protocol": "websocket",
        "method": "get",
        "path": "",
        "data": "{\t   \"type\":\"nodered/discovery\",\t   \"component\": \"sensor\",\t   \"server_id\": serverId,\t   \"node_id\": nodeId,\t   \"config\": {\t       \"name\": name,\t       \"unit_of_measurement\": uom\t   }\t}",
        "dataType": "jsonata",
        "responseType": "json",
        "outputProperties": [
            {
                "property": "payload",
                "propertyType": "msg",
                "value": "",
                "valueType": "results"
            }
        ],
        "x": 740,
        "y": 160,
        "wires": [
            [
                "58a160e0.16fe8"
            ]
        ]
    },
    {
        "id": "a6e1d000.16b7a",
        "type": "function",
        "z": "1fc7b0190a9c731d",
        "name": "Device Ids go here",
        "func": "// List of all device ids, name of switch\nconst deviceIds = [\n    [\"10470280dc4f22ed6311\", \"switch1\"],\n    [\"2\", \"switch2\"],\n    // [\"10470280dc4f22ed6311\", \"switch3\"],\n];\n\ndeviceIds.forEach(d => {\n    [\"power\", \"current\", \"voltage\"].forEach(type => {\n        let unit;        \n        switch(type) {\n            case \"power\":\n                unit = \"W\"\n                break;\n            case \"current\": \n                unit = \"mA\"\n                break;\n            case \"voltage\": \n                unit = \"V\"\n                break;\n        }\n\n        node.send({\n           serverId: d[0],\n           nodeId: type,\n           name: `${d[1]} ${type}`,\n           uom: unit\n        })\n    })\n});\n",
        "outputs": 1,
        "noerr": 0,
        "x": 542,
        "y": 160,
        "wires": [
            [
                "d5c4ef79.0c564"
            ]
        ]
    },
    {
        "id": "d872791e.7e3db8",
        "type": "server-events",
        "z": "1fc7b0190a9c731d",
        "name": "",
        "version": 3,
        "exposeAsEntityConfig": "",
        "eventType": "home_assistant_client",
        "waitForRunning": true,
        "outputProperties": [
            {
                "property": "payload",
                "propertyType": "msg",
                "value": "",
                "valueType": "eventData"
            },
            {
                "property": "topic",
                "propertyType": "msg",
                "value": "$outputData(\"eventData\").event_type",
                "valueType": "jsonata"
            },
            {
                "property": "event_type",
                "propertyType": "msg",
                "value": "$outputData(\"eventData\").event_type",
                "valueType": "jsonata"
            }
        ],
        "x": 216,
        "y": 160,
        "wires": [
            [
                "cab5b48c.7d4408"
            ]
        ]
    },
    {
        "id": "865bb27b.23aaf",
        "type": "inject",
        "z": "1fc7b0190a9c731d",
        "name": "",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 100,
        "y": 340,
        "wires": [
            [
                "58a160e0.16fe8"
            ]
        ]
    },
    {
        "id": "d7ba1479.a00048",
        "type": "function",
        "z": "1fc7b0190a9c731d",
        "name": "fake tuya switch1",
        "func": "msg.data = {\n    name: \"switch_1\",\n    ip: \"192.168.0.112\",\n    id: \"10470280dc4f22ed6311\",\n    available: true\n};\nmsg.payload = {\n    devId: \"10470280dc4f22ed6311\",\n    dps: {\n        1: true,\n        9: 0,\n        18: 5,\n        19: 6,\n        20: 2346,\n        21: 1,\n        22: 591,\n        23: 28555,\n        24: 16349,\n        25: 1275\n    }\n};\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 466,
        "y": 340,
        "wires": [
            [
                "66028769.695528"
            ]
        ]
    },
    {
        "id": "e7005805.eb98e8",
        "type": "function",
        "z": "1fc7b0190a9c731d",
        "name": "fake tuya switch2",
        "func": "msg.data = {\n    name: \"switch_2\",\n    ip: \"192.168.0.112\",\n    id: \"2\",\n    available: true\n};\nmsg.payload = {\n    devId: \"2\",\n    dps: {\n        1: true,\n        9: 0,\n        18: 1,\n        19: 2,\n        20: 2346,\n        21: 1,\n        22: 591,\n        23: 28555,\n        24: 16349,\n        25: 1275\n    }\n};\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 468,
        "y": 388,
        "wires": [
            [
                "66028769.695528"
            ]
        ]
    },
    {
        "id": "66028769.695528",
        "type": "function",
        "z": "1fc7b0190a9c731d",
        "name": "parse data",
        "func": "const types = {\n    \"power\": \"18\",\n    \"current\": \"19\",\n    \"voltage\": \"20\"\n}\nfor (const [type, id] of Object.entries(types)) {\n    node.send({\n        serverId: msg.payload.devId,\n        nodeId: type,\n        payload: msg.payload.dps[id] || 0,\n    });\n}",
        "outputs": 1,
        "noerr": 0,
        "x": 656,
        "y": 340,
        "wires": [
            [
                "9ddb7a33.f8dad8"
            ]
        ]
    },
    {
        "id": "9ddb7a33.f8dad8",
        "type": "ha-api",
        "z": "1fc7b0190a9c731d",
        "name": "Update Sensor",
        "protocol": "websocket",
        "method": "get",
        "path": "",
        "data": "{\t    \"type\":\"nodered/entity\",\t    \"server_id\": serverId,\t    \"node_id\": nodeId,\t    \"state\": payload    \t}",
        "dataType": "jsonata",
        "responseType": "json",
        "location": "payload",
        "locationType": "msg",
        "x": 840,
        "y": 340,
        "wires": [
            []
        ]
    },
    {
        "id": "3066ba37.c8ef16",
        "type": "comment",
        "z": "1fc7b0190a9c731d",
        "name": "Register Sensors",
        "info": "",
        "x": 116,
        "y": 112,
        "wires": []
    },
    {
        "id": "9df1457d.2665c8",
        "type": "comment",
        "z": "1fc7b0190a9c731d",
        "name": "Update Sensors",
        "info": "",
        "x": 104,
        "y": 292,
        "wires": []
    },
    {
        "id": "cab5b48c.7d4408",
        "type": "switch",
        "z": "1fc7b0190a9c731d",
        "name": "connected",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "connected",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 410,
        "y": 220,
        "wires": [
            [
                "a6e1d000.16b7a"
            ]
        ]
    },
    {
        "id": "58a160e0.16fe8",
        "type": "switch",
        "z": "1fc7b0190a9c731d",
        "name": "hub",
        "property": "true",
        "propertyType": "jsonata",
        "rules": [
            {
                "t": "true"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 282,
        "y": 340,
        "wires": [
            [
                "d7ba1479.a00048",
                "e7005805.eb98e8"
            ]
        ]
    },
    {
        "id": "fe75725c.0db45",
        "type": "comment",
        "z": "1fc7b0190a9c731d",
        "name": "Update Sensors after registering them",
        "info": "",
        "x": 494,
        "y": 292,
        "wires": []
    }
]